
@import url(//fonts.googleapis.com/css?family=Lato:400,900,400italic,900italic);

body {
	font-family: 'Lato', Arial, sans-serif !important;
	background-color: #f8f8f8;
	background-image: none;
}

.system_wrapper {
  font-size: 1.25em;
}

.cover .title {
	background: url(scalar_logo.png) no-repeat;
	padding-top: 10px;
	margin-top: 30px;	
	margin-bottom:20px; 
	padding-bottom:0px;
	padding-left: 95px;
	height: 68px;
	font-size: 36px;
	font-weight: 400;
}

.dashboard_title {
	margin-bottom:0px !important;	
}

.book_form select {
	font-size:15px;
}
.book_form {
	float:left; margin-top:-6px; margin-right:12px;
}