
/*.select_box {
	z-index:9;padding:10px;position:absolute;top:10px;left:10px;width:430px;
	display:none; border:solid 10px #999999; background:#ffffff;
}*/
.select_box {
	z-index:9;
	padding:10px;
	position:absolute;
	top:10px;
	left:10px;
	width:430px;
	display:none;
	background:white;
	border-top:solid 1px #999; 
	border-left:solid 1px #999; 
	border-bottom:solid 2px #999; 
	border-right:solid 2px #999; 
	padding:15px;
}

.select_box select {width:100%; height:230px;}
.select_box_large {width:800px;}

.link_below_table {
	font-size:11px; margin-left:12px;
}

.excerpt .full {display:none;}