
th {
	text-align:left; padding:6px 10px 6px 10px; border-bottom:solid 1px #cccccc; border-left: none !important;
}

p { margin-top:5px; padding-top:0px; }

sup {
	background:#bf2121;
	color:white;
	font-weight:white;
	display:inline-block;
	height:14px;
	text-align:center;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left:4px;
	padding: 0 2px;	
}

.not_live td {
	background:#f7e3e3 !important;
}

ul, ol {margin:0px 0px 0px 20px; padding:0;}
li {padding:0px 0px 3px 0px;}
.nodots {list-style-type:none; margin-left:0px;}

hr {height:2px; overflow:hidden; border:0; background:#aaaaaa; color:#aaaaaa; margin:0px 0px 10px 0px;}

/*.row_div {
	border-bottom:solid 1px #ccc;
}*/

.content_title {
	font-size: 1.1em;
	margin: 1em 0 0 0;
	padding: 0;
}

.dialog_title {
	font-size: 1.1em;
	margin: 0 0 1em 0;
	padding: 0;
}

input { padding: 0; margin: 0; }

td { vertical-align: top; }
.styling_table {width:100%; margin:0px 0px 10px 0px; padding:0;}
.styling_table td {padding-top:0px; white-space:nowrap; padding-right:10px; line-height:100%;}
.styling_table select {max-width:190px;}
.styling_sub td {border-bottom:solid 1px #aaaaaa;}
td.styling_last {text-align:right; padding-right:0px;}
.styling_table .thumb_preview {height:65px;border:solid 1px #cccccc;}
.styling_table td small {color:#555555;}
.styling_tabl_hl {background:#fff5a5;}

.version_wrapper table, .version_wrapper table tbody td {background:#eeeeee !important;}
.container_of_wrapper table, .container_of_wrapper table tbody td {background:#eeeeee !important;}

.full {display:none;}

.bottom_border td {
	border-bottom:solid 1px #cccccc;
}

.tabs li {
	height: 30px;
}

.tabs table td {
  padding:10px 10px 10px 10px;
  vertical-align: middle !important;
}
.trim_padding td {
  padding-top:0px !important;
}
.trim_horz_padding td {
  padding-left:0px !important;
  padding-right:0px !important;
}

.ui-widget {
    font-family: 'Lucida Grande','Lucida Sans Unicode',sans-serif !important;
    font-size: 1em;
}

.ui-sortable li {cursor:pointer;}

#img_stylesheet {height:24px;}
