
th {
	text-align:left; padding:6px 10px 6px 10px; border-bottom:solid 1px #cccccc; border-left: none !important;
}

p { margin-top:5px; padding-top:0px; }

sup {
	background:#bf2121;
	color:white;
	font-weight:white;
	display:inline-block;
	height:14px;
	text-align:center;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left:4px;
	padding: 0 2px;	
}

.not_live td {
	background:#f9c6c6 !important;
}
.paywall td {
	background:#f3dea6 !important;
}

ul, ol {margin:0px 0px 0px 20px; padding:0;}
li {padding:0px 0px 3px 0px;}
#book_versions li {padding-bottom:0px; height:auto;}
.nodots {list-style-type:none; margin-left:0px;}

hr {height:2px; overflow:hidden; border:0; background:#aaaaaa; color:#aaaaaa; margin:0px 0px 10px 0px;}

.content_title {
	font-size: 1.1em;
	margin: 0 0 0 0;
	padding: 0;
}

.dialog_title {
	font-size: 1.1em;
	margin: 0 0 1em 0;
	padding: 0;
}

input { padding: 0; margin: 0; }

td { vertical-align: top; }
.styling_table {width:100%; margin:0px 0px 10px 0px; padding:0;}
.styling_table td {padding-top:0px; white-space:nowrap; padding-right:10px; line-height:100%;}
.styling_table select {max-width:190px;}
.styling_sub td {border-bottom:solid 1px #aaaaaa;}
td.styling_last {text-align:right; padding-right:0px;}
.styling_table .thumb_preview {height:65px;border:solid 1px #cccccc;}
.styling_table td small {color:#555555;}
.styling_tabl_hl {background:#fff5a5;}

.version_wrapper table, .version_wrapper table tbody td {background:#eeeeee !important;}
.version_wrapper .header td {background:#cccccc !important;}
.version_wrapper .hl td {background-color:#F4FF91 !important; border-bottom:solid 1px #dddddd;}
.container_of_wrapper table, .container_of_wrapper table tbody td {background:#eeeeee !important;}
.container_of_wrapper .no_items {background:#eeeeee !important; margin:0px 0px 0px 0px; padding:10px;}

.full {display:none;}

.bottom_border td {
	border-bottom:solid 1px #cccccc;
}

.tabs table {width:100%;}

.tabs li {
	height: 30px;
}

.tabs img {
	max-width:80px;
	max-height:40px;	
}

.tabs table td {
  padding:10px 10px 10px 10px;
  vertical-align: top !important;
}
.trim_padding td {
  padding-top:0px !important;
}
.trim_horz_padding td {
  padding-left:0px !important;
  padding-right:0px !important;
}

.ui-widget {
    font-family: 'Lucida Grande','Lucida Sans Unicode',sans-serif !important;
    font-size: 1em;
}

.ui-sortable li {cursor:pointer;}

.select_box {
	z-index:9;
	padding:10px;
	position:absolute;
	top:10px;
	left:10px;
	width:430px;
	display:none;
	background:white;
	border-top:solid 1px #999; 
	border-left:solid 1px #999; 
	border-bottom:solid 2px #999; 
	border-right:solid 2px #999; 
	padding:15px;
}
.select_box select {width:100%; height:230px;}
.select_box_large {width:800px;}

#interface {padding-bottom:0px; margin-bottom:0px;}
.bookversionsdialog .pages, .bookversionsdialog .media {width:48%;}
.bookversionsdialog .pages {float:left;}
.bookversionsdialog .media {float:right;}
.bookversionsdialog .item {background-color:#ffffff; border-bottom:solid 1px #dddddd; padding:4px 0px 4px 0px;}
.bookversionsdialog input {float:left; margin-top:4px;}
.bookversionsdialog .title {padding-left:20px; font-size:smaller;}
#versions li {height:auto !important;}

.textarea_list {width:100%; height:75px; margin-top:8px; border:solid 1px #aaaaaa;}

.table_wrapper {text-align:center;}
.table_wrapper #loading {color:#777777; font-size:16px; margin-top:40px;}
.table_wrapper table {text-align:left;}
.table_wrapper .no_nodes {font-size:14px;}

.predefined_wrapper {padding-top:3px;}
.predefined_wrapper .desc {padding-top:4px; color:#333333;}

#style-confirm, #script-confirm, #slug-change-confirm {display:none;}

#select-relationship-type {
	width:148px; height:22px; background-image:url(select-relationship-type.png); background-repeat:no-repeat;
	display:inline-block; float:left; margin:2px 0px 0px 4px;
}

.link_below_table {font-size:11px; margin-left:12px;}

.excerpt .full {display:none;}

#formRelTypeReload {margin:4px 0px 0px 10px; display:inline-block;}
#add_term_btn {float:right;font-size:11px !important;}
#add_term_msg {
	display:none;background-color:#feffb1;border-radius:3px;float:right;text-align:center;
	font-size:14px;padding:2px 10px 1px 10px;margin-right:10px;color:#008200;
}

.tax_name {width:300px;display:inline-block;}

.content_selector .input-sm {padding:2px; margin:0px;}
.content_selector .btn-sm {margin:0px;}
.content_selector label {padding:0px 0px 0px 8px; font-size:13px;}
.content_selector label input {margin-right:5px;}
.content_selector .howto {font-size:16px !important;}
.content_selector .footer .btn {font-size:12px !important;}