/* This stylesheet should be placed on top of common.css */

body {
	background-color:white;
}

.middle { 
	border-radius: 0;
}

.cover { 
	background: white;
	border-bottom: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	padding-bottom: 20px;
}
.cover_title {margin-left:1.2em;}
.cover_subtitle {margin-left:1.9em; font-size:14px; margin-bottom:5px !important;}
.cover_authors {margin-left:2.2em;}

.login {margin-right:2.7em;}

.pathnavs {
	border-radius: 0;
	margin-bottom: 0px;
	border-bottom:solid 1px #cccccc; 
}
.path_right {padding-right:10px;}

.tagbar {border-bottom:0; border-top:solid 1px #cccccc;}
.editbar {
	border-left:solid 1px #cccccc;
	border-right:solid 1px #cccccc;
}

.content_title { margin-top: 0 !important; }

.content { 
	margin-top: 0;
}

#content_wrapper { 
	padding:2.2em 2.2em 0em 2.2em;
	background-color:white;
}

#middle_column { 
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 0; 
	margin-top:0px;
}

.scalar_logo_wrapper {
	margin-left: 2.2em;
}

.addthis_toolbox {
	margin-right: 2.2em;
}

#scalarnav {
	border: solid 1px;
	border-color: #ccc;
}

.saved {
	border-top: none;
	margin-bottom: 0;
}
.saved > p {
	padding-left:20px;
	padding-right:20px;
}

.error {
	border-top: none;
	margin-bottom: 0;
}
.error > p {
	padding-left:20px;
	padding-right:20px;
}

.notice {
	border-bottom:solid 1px #cccccc;
	margin-bottom: 0;
}
.notice > p {
	padding-left:20px;
	padding-right:20px;
}

.footer {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}

