span[data-diff="del"],span[data-diff="placeholder"]:first-child{
	text-decoration-line: line-through;
	-webkit-text-decoration-line: line-through;
}

span[data-diff],span[data-diff]>*{
	background-color: #fff28d;
}
span[data-diff="chunk"]{
	display: inline-block;
}
span[data-diff].withBlockElement{
	display: block;
}
span[data-diff] a.inline{
	border-color: #f0e487;
	background-color: #fff28d;
}
span[data-diff="del"] > a.inline{
	position: relative;
}
span[data-diff="del"] > a.inline::after {
    content: "\0020";
    position: absolute;
    top: 50%;
    border-bottom: 1px solid #000;
    left: -1rem;
    right: -1rem;
    height: 0px;
    overflow: hidden;
}
span.br_tag,span.p_tag{
	display: block;
	position: relative;
}
span.br_tag::after,span.p_tag::after{
	content: "\00b6";
}
span.br_tag::before,span.p_tag::before{
	display: block;
	height: 0;
	position: absolute;
	content: "\0020";
	border-bottom: 1px dashed rgba(0,0,0,.25);
	left: 1.5rem;
	right: .5rem;
	overflow: hidden;
	top: 50%;
}

span[data-diff="chunk"].accepted a.inline, span[data-diff="chunk"].rejected a.inline{
	background-color:#cccccc; 
	border:solid 5px #bbbbbb; 
}

span[data-diff="chunk"].accepted, span[data-diff="chunk"].accepted span[data-diff],span[data-diff="chunk"].accepted span[data-diff]>*,
span[data-diff="chunk"].rejected, span[data-diff="chunk"].rejected span[data-diff],span[data-diff="chunk"].rejected span[data-diff]>*{
	background-color: transparent;
	cursor: text;
}

span[data-diff="chunk"].accepted span[data-diff]:first-child,span[data-diff="chunk"].rejected span[data-diff]:nth-child(2){
	display: none;
}
span[data-diff="chunk"].rejected span[data-diff="del"],span[data-diff="chunk"].rejected span[data-diff="placeholder"]:first-child{
	text-decoration: none;
}

span[data-diff="chunk"].rejected span[data-diff]:first-child > a.inline::after{
    display: none;
}