.content_selector {
	position:absolute; top:50px; left:50px; right:50px; bottom:50px; z-index:8; background-color:white; 
	padding:0; margin:0; box-shadow: 0px 0px 6px #000000; border-radius: 5px;
}
.content_selector .wrapper {position:relative; width:100%; height:100%;}
.content_selector .wrapper .options {height:44px;}
.content_selector .wrapper .options .search_form {padding:10px; white-space:nowrap; margin:0px;}
.content_selector .wrapper .unchangeable label {visibility:hidden;}
.content_selector .wrapper .content {
	position:absolute; top:44px; left:0px; right:0px; bottom:44px; overflow:auto; 
	border-top:solid 1px #bbbbbb; border-bottom:solid 1px #bbbbbb;
}
.content_selector .wrapper .content .loading {text-align:center; margin-top:50px; font-size:13px; color:red;}
.content_selector .wrapper .content .howto {text-align:center; margin-top:50px; font-size:14px; line-height:200%;}
.content_selector .wrapper .content > table {width:100%;}
.content_selector .wrapper .content th:first-of-type {max-width:44px;}
.content_selector .wrapper .content th {padding:7px 10px 7px 10px; font-size:13px; text-align:left; font-weight:bold; background-color:#dddddd;}
.content_selector .wrapper .content td {padding:7px 10px 7px 10px; font-size:13px; text-align:left; font-weight:normal; border-top:solid 1px white;}
.content_selector .wrapper .content tr {background-color:#eeeeee; cursor:pointer;}
.content_selector .wrapper .content tr:hover {background-color:#dddddd;}
.content_selector .wrapper .content td:nth-child(3) {min-width:33%;}
.content_selector .wrapper .content .even {}
.content_selector .wrapper .content .odd {}
.content_selector .wrapper .content .thumb {max-height:22px; max-width:30px; cursor:pointer;}
.content_selector .wrapper .content .anno {height:22px; cursor:pointer;}
.content_selector .wrapper .footer {position:absolute; bottom:0px; left:0px; right:0px; text-align:left; height:42px;}
.content_selector .wrapper .footer .generic_button {float:right; margin:10px;}
.content_selector .wrapper .footer .msg {margin:11px 0px 0px 10px; float:left; color:#555555;}
.tt {
	position:absolute; top:0px; left:0px; background-color:#eeeeee; width:280px; border:solid 1px #bbbbbb; z-index:9;
	padding:10px; margin:0;
}
.tt img {width:280px;}

/* Options box */

.media_options {
	position:absolute; z-index:9; background:#eeeeee; left:30%; right:30%; padding:15px; 
	box-shadow: 0px 0px 6px #000000; border-radius: 5px; border-width:0;
}
.media_options .h {border-bottom:solid 1px #aaaaaa; font-weight:bold; padding-bottom:10px; margin-bottom:20px;}
.media_options .buttons {float:right; padding:10px 0px 0px 0px; margin:0;}