
/* Style for Bootstrap modal */

.content_selector_bootbox .modal-content {height:100%;}
/*.content_selector_bootbox .modal-header {padding-left:0px;}
.content_selector_bootbox .modal-header .close {position:absolute; right:8px; z-index:9;}
.content_selector_bootbox .modal-body {padding:0;}*/
.content_selector_bootbox .content {overflow-y:auto;overflow-x:hidden}
.content_selector_bootbox .table-responsive {overflow-y:auto; margin-bottom:0px;}
.content_selector_bootbox h4.modal-title {padding-right:20px;}
.content_selector_bootbox .options label {
	color:#555555; font-weight:normal !important; font-size:smaller !important;
	padding-left:0px !important; margin-left:0px !important;
}
.content_selector_bootbox .changeable, .content_selector_bootbox .changeable .row,
.content_selector_bootbox .changeable .row div:last-of-type {padding-right:0px; margin-right:0px;}
.content_selector_bootbox .unchangeable label {display:none;}
.content_selector_bootbox .wrapper {}
.content_selector_bootbox .loading {position:relative; text-align:center; margin-top:60px; font-size:14px; color:red;}
.content_selector_bootbox .howto {text-align:center; padding-top:60px; padding-bottom:60px; font-size:14px; line-height:200%;}
.content_selector_bootbox .modal-header .title {padding-left:15px; font-weight:500;}
.content_selector_bootbox .footer {position:relative; height:52px; background-color:#eeeeee; border-top:solid 1px #dddddd;}
.content_selector_bootbox .footer > div:first-of-type {text-align:left; position:absolute; top:5px; left:10px; z-index:5;}
.content_selector_bootbox .footer > div:last-of-type {text-align:right; position:absolute; top:5px; right:10px; z-index:6;}
.content_selector_bootbox .footer a {margin-top:5px; margin-bottom:5px;}

/*.content_selector_bootbox thead {background-color:#eeeeee;}
.content_selector_bootbox .table > thead > tr > th {border-bottom:0;}
.content_selector_bootbox th:first-of-type, .content_selector_bootbox td:first-of-type {padding-left:12px;}
.content_selector_bootbox th:last-of-type, .content_selector_bootbox td:last-of-type {padding-right:12px;}
.content_selector_bootbox th:first-of-type {max-width:44px;}*/
.content_selector_bootbox td.loadmore {background-color:#eeeeee; text-align:center; color:#eeeeee;}
.content_selector_bootbox td.loadmore.loading {color:red;}
.content_selector_bootbox .thumb {max-height:22px; max-width:30px; cursor:pointer;}
.content_selector_bootbox .anno {height:22px; cursor:pointer;}
.content_selector_bootbox .create_onthefly {position: static; top: auto; left: auto; right: auto; bottom: auto;}

.media_options_bootbox {z-index:1500; overflow:auto;}
.media_options_bootbox .buttons {text-align:right; padding:10px 0px 0px 0px; margin:0;}
.media_options_bootbox .buttons input:first-of-type {visibility:hidden;}

/* Style for generic (not Bootstrap) modal */

.content_selector.no-bootstrap {
	position:fixed; top:50px; left:50px; right:50px; bottom:50px; z-index:8; background-color:white;
	padding:0; margin:0; box-shadow: 0px 0px 6px #000000; border-radius: 5px;
}
.content_selector.no-bootstrap .wrapper {position:relative; width:100%; height:100%;}
.content_selector.no-bootstrap .wrapper .options {height:44px;}
.content_selector.no-bootstrap .wrapper .options .search_form {padding:10px; white-space:nowrap; margin:0px;}
.content_selector.no-bootstrap .wrapper .options .row > div:first-of-type {float:left;}
.content_selector.no-bootstrap .wrapper .options .row > div:last-of-type {float:left; padding-top:10px;}
.content_selector.no-bootstrap .wrapper .unchangeable label {visibility:hidden;}
.content_selector.no-bootstrap .wrapper .changeable .row {padding-right:10px; margin-right:0px;}
.content_selector.no-bootstrap .wrapper .changeable .row div:last-of-type {padding-right:0px; margin-right:0px;}
.content_selector.no-bootstrap .wrapper .content {
	position:absolute; top:44px; left:0px; right:0px; bottom:44px; overflow:auto;
	border-top:solid 1px #bbbbbb; border-bottom:solid 1px #bbbbbb;
}
.content_selector.no-bootstrap .wrapper .content .loading {position:relative; text-align:center; margin-top:50px; font-size:13px; color:red;}
.content_selector.no-bootstrap .wrapper .content .howto {text-align:center; margin-top:50px; font-size:14px; line-height:200%;}
.content_selector.no-bootstrap .wrapper .content > table {width:100%;}
.content_selector.no-bootstrap .wrapper .content th:first-of-type {max-width:44px;}
.content_selector.no-bootstrap .wrapper .content th {padding:7px 10px 7px 10px; font-size:13px; text-align:left; font-weight:bold; background-color:#dddddd;}
.content_selector.no-bootstrap .wrapper .content td {padding:7px 10px 7px 10px; font-size:13px; text-align:left; font-weight:normal; border-top:solid 1px white;}
.content_selector.no-bootstrap .wrapper .content tr {background-color:#eeeeee; cursor:pointer;}
.content_selector.no-bootstrap .wrapper .content tr:hover {background-color:#dddddd;}
.content_selector.no-bootstrap .wrapper .content .active {background-color:#e1e1e1;}
.content_selector.no-bootstrap .wrapper .content td:nth-child(3) {min-width:33%;}
.content_selector.no-bootstrap .wrapper .content .even {}
.content_selector.no-bootstrap .wrapper .content .odd {}
.content_selector.no-bootstrap .wrapper .content .thumb {max-height:22px; max-width:30px; cursor:pointer;}
.content_selector.no-bootstrap .wrapper .content .anno {height:22px; cursor:pointer;}
.content_selector.no-bootstrap .wrapper .footer {position:absolute; bottom:0px; left:0px; right:0px; height:42px; text-align:right;}
.content_selector.no-bootstrap .wrapper .footer a {display:inline-block;}
.content_selector.no-bootstrap .wrapper .footer > div:last-of-type > a:last-of-type {margin-left:15px;}
.content_selector.no-bootstrap .wrapper .footer > div:first-of-type {text-align:left; position:absolute; top:10px; left:10px; z-index:5;}
.content_selector.no-bootstrap .wrapper .footer > div:last-of-type {text-align:right; position:absolute; top:10px; right:10px; z-index:6;}

.media_options {
	position:absolute; z-index:9; background:#eeeeee; left:30%; right:30%; padding:15px;
	box-shadow: 0px 0px 6px #000000; border-radius: 5px; border-width:0;
}
.media_options .h {border-bottom:solid 1px #aaaaaa; font-weight:bold; padding-bottom:10px; margin-bottom:20px;}
.media_options .buttons {text-align:right; padding:10px 0px 0px 0px; margin:0;}
.media_options .buttons input:first-of-type {float:left;}

/* Overlay */

.tt {
	position:absolute; top:0px; left:0px; background-color:#dddddd; width:300px; border:solid 1px #bbbbbb; z-index:1150;
	padding:10px; margin:0;
}
.tt img {width:280px;}

/* On-the-fly */

.create_screen {
	position:absolute; bottom:0px; left:0px; right:0px; top:0px; background-color:#ffffff;
	filter: alpha(opacity=100); opacity: 1.0; border-radius: 3px;
}
.create_onthefly {
	position:absolute; bottom:0px; left:0px; right:0px; overflow-y:auto;
	background-color:#ffffff;
}
.create_onthefly > div, .create_onthefly > form {padding:12px 18px 12px 18px;}
.create_onthefly .buttons {text-align:right;}
.create_onthefly input, .create_onthefly textarea {width:100%;}
.onthefly_loading {color:red; font-size:smaller; padding-right:20px; display:none;}

.widgetFormatting select, .widgetOptions .form-group select{
	width: auto !important;
}
.widget_selector_bootbox .tab-pane{
	min-height: 0px;
}
/*Node selector*/
.node_selector table>thead>tr>th{
	border-bottom: 0;
}
.node_selector_table_body{
	border-top: 1px solid #ddd;
}
.node_selector{
	height: 100%;
	width: 100%;
}
.node_selector select{
	text-align:left;
}
.media_options_bootbox .table-fixed>tbody>tr:first-child>td, .node_selector_table_body tbody>tr:first-child>td{
	border-top: 0px;
}
.node_selector_table_body tbody>tr:not(.empty):hover{
	background-color: #d9edf7;
	cursor: pointer
}

.node_selector_table_body tbody>tr.empty{
	    cursor: default;
}
.node_selector_table_body tbody>tr.current{
	background-color: #c7e6f6;
	cursor: pointer
}
.node_selector .selected_node_count{
	font-weight: bold;
	color: #32a71a
}
.node_selector .botton_options_box{
	float:left;
	white-space:nowrap;
}
.node_selector .botton_options_box button, .node_selector .botton_options_box > span{
	margin-right:10px;
}
.node_selector .panel-heading, .node_selector .panel-footer{
	background-color: transparent;
	padding: 8px 0;
}
.node_selector table>thead>tr>th[data-field="include_children"]{
	text-align: center;
}
.node_selector .loadingRow{
	padding: 5px;
	font-size: 2.1rem;
}
#nodeSelectorDropdown{
    width: 100%;
    border-radius: 4px 0 0 4px;
		text-align: left;
}
#nodeSelectorDropdown .caret{
    display: none;
}
.node_selector .dropdown-menu{
	width: 100%;
}
.node_selector_table_body.multiple tbody>tr:hover{
	cursor: default;
}
.node_selector .node_rows{
	font-size: smaller;
	cursor: pointer;
}
.node_selector .node_search input[type="text"]{
	border-right: 0;
}
.modal-dialog .modal-body{
	overflow-x: hidden;
	overflow-y: auto;
}
.node_selector .node_search button:hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.node_selector .node_search button .glyphicon {
	top: 2px;
}
.node_selector .panel-body{
	padding: 0;
}
.nodeSelectorEnlargedThumbnail{
	max-width: 184px;
    max-height: 184px;
}
.node_selector .thumbnail {
	border: 0px
}
.node_selector .editLink {
	display:none;
}
.node_selector .filter_spinner{
	border: 0;
	margin: 0 .5rem;
	box-shadow: none;
}
.widget_selector_bootbox .tooltip-inner{
	max-width: 100%;
    width: 100%;
    padding: 2px 1px;
    box-sizing: content-box;
}
.widget_selector_bootbox #bootbox-content-selector-content>div{
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.selectedNodeChildrenList{
	font-size: smaller;
	margin-left: 2.2rem;
    margin-bottom: 1rem;
}
.selectedNodeChildrenList ul { list-style: disc; }
.nodeOrdering .btn, .ui-sortable-handle.btn { text-align: left; height: inherit !important; width: inherit !important; font-size: 1.4rem; }
.nodeOrdering .btn-group-vertical { margin-bottom: 2.4rem; }
.nodeOrdering .glyphicon-menu-hamburger, .ui-sortable-handle .glyphicon-menu-hamburger { color: #b4b4b4; }
.sortable-destination { height: 3.2rem; }
.moreless{
	display: block;
}
.node_selector_table_body tbody>tr>td.edit_col{
	padding: 6px 8px 4px 8px;
}
.node_selector_table_body tbody>tr>td.edit_col>a{
    height: 20px;
    box-sizing: border-box;
    font-size: 1rem;
}
.modal-dialog .annotationSelection p.text-muted{
	margin-top: 7px;
}
.widget_data_type{
	padding: 1rem 0 0 0;
}

.widget_type{
	cursor: pointer;
	padding: 1rem;
}
.widget_type:hover{
	background-color: #d9edf7;
}
.widget_type a:hover{
	text-decoration: none;
}
.widget_type img{
	height: 4rem;
  margin-right: 1rem;
  margin-top: .25rem;
}
.widgetList hr{
	margin: .5rem 0;
}
.node_types option{
	background-color: #fff;
}