
/* Cantaloupe styles */

@import url(//fonts.googleapis.com/css?family=Lato:900,400);

/* Fonts */
.heading_font { font-family: 'Lato', Arial, sans-serif !important; }
.heading_font b, .heading_font strong { font-weight: 900; }
.heading_weight { font-weight: 900; }
.body_font { font-family: Georgia, Times, serif !important; }
.caption_font { font-family: 'Lato', Arial, sans-serif !important; }
.caption_font b, .caption_font strong { font-weight: 900; }
.monospace_font { font-family: Courier, monospace; }

body { visibility: hidden; background-repeat: no-repeat; background-position: -9999px -9999px; }

/* Base elements */

article h1, article h2, article h3, article h4, article h5, article h6 { padding-left: 7.2rem; padding-right: 7.2rem; }
.body_copy h1,.body_copy h2,.body_copy h3,.body_copy h4,.body_copy h5,.body_copy h6 { padding-left: 0; padding-right: 0; margin-top: 3.2rem; margin-bottom: 2.4rem; }
.page_margins h1,.page_margins h2,.page_margins h3,.page_margins h4,.page_margins h5,.page_margins h6 { padding-left: 0; padding-right: 0; margin-top: 20px; margin-bottom: 10px; }
.mediaelement h1,.mediaelement h2,.mediaelement h3,.mediaelement h4,.mediaelement h5,.mediaelement h6 { padding-left: 0; padding-right: 0; margin-top: 20px; margin-bottom: 10px; }
.ci-template-html h1,.ci-template-html h2,.ci-template-html h3,.ci-template-html h4,.ci-template-html h5,.ci-template-html h6 { padding-left: 0; padding-right: 0; margin-top: 20px; margin-bottom: 10px; }
article h1 { font-size: 4.9rem; line-height: 6rem; margin-top: 0rem; margin-bottom: 4.8rem; }
article h2 { font-size: 2.8rem; line-height: 3.2rem; margin-top: 4.8rem; margin-bottom: 2.4rem; }
article h3 { font-size: 2.1rem; line-height: 2.4rem; margin-top: 2.4rem; margin-bottom: 1.2rem; }
article h4 { font-size: 1.8rem; line-height: 2.4rem; margin-top: 2.4rem; margin-bottom: 1.2rem; }
article h5 { font-size: 1.6rem; line-height: 2.4rem; margin-top: 2.4rem; margin-bottom: 1.2rem; }
article h6 { font-size: 1.4rem; line-height: 2.4rem; margin-top: 2.4rem; margin-bottom: 1.2rem; }

.paragraph_wrapper ul > li, .paragraph_wrapper ol > li, .relationships ul > li, .relationships ol > li { margin-left: 2.0rem; }
.dropdown-menu { text-transform: none; }
.dropdown-menu ul > li, .dropdown-menu ol > li, #scalarheader ul > li, #scalarheader ol > li { margin-left: 0; }

.alert .alert-link { font-weight: 900; }

/* remove default button styling */
button {
	display: inline-block;
	border: none;
	font-family: sans-serif;
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.page_margins { padding-left: 7.2rem; padding-right: 7.2rem; }
.left_margin { min-width: 7.2rem; float: left; }

blockquote { padding-left: 3.6rem; padding-right: 3.6rem; font-style: italic; }
pre { margin: 1.2rem 0; }
i,em { font-style: italic; }
b,strong { font-weight: bold; }
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
hr { clear:both; border: 0; border-bottom: 1px solid #ccc; }

.hanging-indent { padding-left: 22px; text-indent: -22px; }

video { background-color: black; }

.spinner_wrapper {
	width: 20px;
	height: 20px;
	margin: 3rem;
}

.blackout { position: absolute; width: 100%; height: 100%; background-color: black; }

.modal-content { border-radius: 0; }

.saved {background:#deeedc; border:solid 1px #cccccc; padding:8px 10px 8px 10px; margin-bottom:4.8rem;}
.saved > p {margin:0px 0px 0px 0px; padding:0px 10px 0px 10px; line-height:140%; text-align:center;}
.error {background:#efcdcd; border:solid 1px #cccccc; padding:8px 0px 8px 0px; margin-bottom:4.8rem;}
.error > p {margin:0px 0px 0px 0px; padding:0px 10px 0px 10px; line-height:140%; text-align:center;}
.notice { background:#eeeeee; padding:8px 0px 8px 0px; margin-bottom:4.8rem; color: black; }
.notice > p {margin:0px 0px 0px 0px; padding:0px 10px 0px 10px; line-height:140%; text-align:center;}

.notice-page-creator-not-contributor { display: none; }
.error.editorial_is_on {margin-top:-48px;}

#centered-message {
	position: absolute;
  left: 0;
	right: 0;
  width: 100%;
  top: 45%;
  text-align: center;
  color: #888;
}
#centered-message>span{
	white-space: nowrap;
}

/* --- NOTICES --- */
.scalarnotice {font-size:13px; color:#000000; top:60px !important;}
.scalarnotice .close_link {padding-right:5px; float:right;}
.scalarnotice .close_link a {
	padding-right:0px; padding-left:30px;
	background-image:url(images/close_icon.png); background-repeat:no-repeat; background-position:right top;
}
.scalarnotice .close_link a:hover {text-decoration:none}

/* --- HEADER --- */

header { padding-top: 4.8rem; }

#header {
	color: #ccc;
	font-size: 1.25rem;
	letter-spacing: .1rem;
	position: fixed;
	background-color: #444;
	text-transform: uppercase;
	z-index: 1039;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0px 0px 5px #666;
	max-height: 5rem;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-font-smoothing: subpixel-antialiased;
}
#header.hypothesis { padding-right: 3.5rem; }

.header_slide {
	-webkit-transform: translateY( -40px );
	-moz-transform: translateY( -40px );
	-o-transform: translateY( -40px );
	transform: translateY( -40px );
}

#header #book-title { padding: 0; margin: 0; }
#book-title-item { width: inherit; padding: 0; }
#book-title-item:hover { background-color: inherit; color: inherit; }
#book-title-item a { display: inline; }
#book-title-item a:hover { display: inline; text-decoration: underline; }

#book-title-item > div {
    display: table;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    position: relative;
    top: 1.6rem;
}

#book-title-item > div > span {
    display: table-cell;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: inherit;
    background-color: #444;
    padding: 0 1.4rem;
}

#book-title-item > div > span:hover {
    white-space: inherit;
    overflow-x: auto;
    text-overflow: inherit;
    padding-bottom: 1rem;
}

#search-item { white-space: nowrap; }

.search_control form { display: inline; }
.search_submit { display: none; }
.search_loading {display:inline-block; position:relative; top:2px; display:none;}
.form-group.condensed .col-sm-1, .form-group.condensed .col-sm-2, .form-group.condensed .col-sm-3, .form-group.condensed .col-sm-4, .form-group.condensed .col-sm-5, .form-group.condensed .col-sm-6 { padding-right: 5px; padding-left: 5px; margin-bottom: 5px; }

.s_all_label {float:right;}
.s_all_label label {cursor:pointer;}

#new-item { border-left: 1px solid #999; max-height: 5rem; display: block; }

/* --- CSS MENUS --- */
.scrollable-menu {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	overflow-x: hidden;
}
li.divider-above { border-top: 1px dotted #888; }
.pulsate-anim {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
}
@-webkit-keyframes pulsate {
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

/* ---- */

.image_header { min-height: 50rem; background-size: cover; }
.image_header .title_card {
	position: inherit;
	width: 66%;
	/*padding: 10.8rem 7.2rem 3.6rem 7.2rem; */
	padding: 3.6rem 0 3.6rem 0;
	min-height: 50rem;
	color: white;
	text-shadow: 1px 1px #444;
	opacity: 1.0;
	text-align: left;
	background: -moz-linear-gradient(right,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(0,0,0,0)), color-stop(70%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 */
}
.title_card .description { font-style: italic; font-size: 2.4rem; padding-left: 7.2rem; line-height: 120%; }
.title_card h1 { margin-bottom: 1.2rem; }

#book_title div > span {
    padding: 1rem;
}

#book_title div > span:hover {
    white-space: normal;
    overflow-x: auto;
    text-overflow: inherit;
    background: white;
    position: relative;
}

.note_viewer {
	position: absolute;
	background-color: #eee;
	z-index: 10;
	color: #222;
	box-shadow: 4px 4px 5px rgba(0,0,0,.4);
	padding: 1.25rem 1.75rem 1.25rem 1.75rem;
	border-radius:10px;
	font-size: 1.4rem;
	max-width: 420px;
	max-height: 320px;
	overflow-y: auto;
	overflow-x: hidden;
	line-height: 150%;
	-webkit-overflow-scrolling: touch;
	display: none;
}
.note_viewer .title {font-weight:bold; margin-bottom:6px;}
.note_viewer .link { margin-bottom: .6rem; }
.note_viewer .description {font-style:italic; margin-bottom:6px;}
.note_viewer .content {margin-bottom:6px;}

/* --- PAGE --- */

.page {
	background-color: white;
	max-width: 104rem;
	margin: 5rem auto 0 auto;
	padding: 0 0 7.8rem 0;
	min-height: 100%;
	line-height: 2.4rem;
	position: relative;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	-webkit-backface-visibility: hidden;
}
section { clear:both; }
section ol, section ul { margin-top: 1rem; margin-bottom: 1rem; }
section.relationships {
    padding-top: 2.4rem;
	max-width: 85.4rem;
	clear:both;
}
.body_copy > ol,.body_copy > ul {
	margin-left: -2rem;
}
.relationships ol,.relationships ul {
	padding-left: 5.2rem;
	padding-right: 7.2rem;
}
.relationships p {
	padding-left: 7.2rem;
	padding-right: 7.2rem;
}
.relationships h1 {
    font-size: 2.1rem;
    line-height: 2.4rem;
    margin-bottom: 1.2rem;
}

/* shows has_tags ordered lists as comma-separated inline lists */
ol.has_tags { list-style: none; padding-left: 7.2rem; }
ol.has_tags li { display: inline; margin-left: 0; }
ol.has_tags li:after { content: "| "; }
ol.has_tags li:last-child:after { content: ""; }

.additional_metadata { color: #888; }
.additional_metadata .well { margin-top: 1.2rem; }
#additionalMetadata.collapsing {
    -webkit-transition: none;
 	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.path-nav { position: fixed; top: 50%; background-color: transparent; }
.path-nav img { width: 3.2rem; opacity: .25; }
img.path-nav { width: 3.2rem; }
/*.popover { width: 20rem; }*/
.popover.vis-help { font-size: 1.4rem; }
.popover.vis-help li { margin-left: 0; }
.popover img.thumbnail { max-width: 17rem; margin-bottom: 1rem; display: inline; }
.path-nav:hover { opacity: .9; }
.path-nav.left { left: 2.4rem; }
.path-nav.right { right: 2.4rem; }
.path-nav.up { left: 2.4rem; top: 7rem; }
.path-nav.down { right: 2.4rem; top: inherit; bottom: 2rem; }
.path-nav.info { right: 2.4rem; top: 7rem; cursor: pointer; }
.path-nav.info.hypothesis_active { right:4.75rem; }
.path-nav.info.multi { opacity: .6; }
.path-nav-popover { font-size: 1.4rem; text-align: center; }
/* fix for right side popovers falling off the screen */
div.popover.path-nav-popover.top { left: calc(100% - 19.8rem) !important; }
div.popover.path-nav-popover.top>.arrow { left: auto; right: 3rem; }
div.context.popover.fade.bottom { left: calc(100% - 23.8rem) !important; }
div.context.popover.fade.bottom>.arrow { left: auto; right: 3rem; }

.context.popover { font-size: 1.2rem; line-height: 140%; width: 24rem; max-width: 100%; }
.context-citation { background-color: #fff487; }

.path-breadcrumb {
	text-transform: uppercase;
	padding-left: 7.2rem;
	padding-right: 7.2rem;
	color: #595959;
	font-size: 1.25rem;
}

.path-breadcrumb > a {
	color: #595959;
	text-decoration: none;
}

.title_card > .path-breadcrumb {
	color: white;
}

.title_card > .path-breadcrumb > a {
	color: white;
}

p {
    margin-top: 0;
    margin-bottom: 2.4rem;
}

small, aside {
    font-size: 1.2rem;
}

a { color: #026697; text-decoration: none; }
a:hover { text-decoration: underline; cursor: pointer; }

.bg_screen {
	position: fixed;
	max-width: inherit;
	width:100%;
	height:100%;
	background-color: black;
	color: white;
	border: none;
	background-position: center center;
    top: 0px;
    bottom: 0px;
}

/* Body copy */
.paragraph_wrapper { max-width: none !important; margin-bottom: 2.4rem; }
/*.clearboth { clear: both; }*/
.clearnone { clear: none; }
.body_copy { max-width: 85.4rem; padding-left: 7.2rem; padding-right: 7.2rem; }
.dialog .body_copy { margin-top: 10rem; max-width: none; padding-left: 3.6rem; padding-right: 3.6rem; }
/*.help .body_copy { margin-top: 10rem; }*/

.control_bar, {
	line-height: 4.8rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	/*margin: 2.0rem 0 0 0;*/
	overflow-x: auto;
}
.page .control_bar { margin-left: 7.2rem; margin-right: 7.2rem; }
.control_bar .right { float: right; padding: 1rem 0 1rem 0; }
.control_bar img { margin-left: 1.2rem; }

.tags-page {max-width:none;}
.tag_cloud a:hover {text-decoration:underline;}

#gallery_content { margin: 1rem 7.2rem 0 7.2rem; max-width: none; clear: both; }
#gallery_content .thumb { cursor: pointer; max-height: 8.4rem; max-width: 20rem; }
#gallery_content .thumb:hover { opacity:0.65; }
#gallery_content h3 { margin: 0 0 1rem 0; padding: 0; }

#gallery { margin-bottom: 4.8rem; }
.carousel-control.right, #gallery .carousel-control.left { background-image: none; }
.carousel-control { top: 50%; width: 10%; bottom: inherit; border: none; background: none; text-shadow: none; background-image: none !important; }
.carousel-caption { padding-bottom: .4rem; padding-top: 0; text-shadow: none; text-align: left; top: 0; left: 7.2rem; bottom: inherit; font-size: 1.4rem; color: #888; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background-color: transparent !important; }
.carousel-caption span { background-color: white; margin-bottom: 0; padding: .5rem 2rem 0.75rem 2rem;}
#gallery .popover, .carousel > .popover { color: black; font-size: 1.2rem; text-shadow: none; color: #666; line-height: 140%; }
.popover > h3 { margin: 0; padding: 8px 14px !important; }
#gallery .item { background-color: #444; }

.carousel-inner { background-color: #444; }
.carousel-inner>.item{
	transition: 0s ease-in-out left;
}
.carousel .slot.top{ margin-top: 0 !important; }

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right { top: 45%; font-size: 40px; }

.one_line_description {
	/*color: #96989a;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
	margin-bottom: 1rem;
}

#block_head { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.content_block { margin-bottom: 1.5rem; min-height: 10rem; }
.content_block_media { margin-bottom: 1.5rem; }

.media_placeholder { display: inline-block; margin-right: 0.7rem; text-align: center; background-color: #eee; vertical-align: top; }
.media_placeholder img { position: relative; top: 50%; margin-top: -15px; }

.minor_message { color: #96989a; font-size: 1.2rem; font-style: italic; margin-top: 1rem; }
/*
.page.structured_gallery { padding-top: 0; }
.structured_gallery h1 { margin-top: 7.8rem; margin-bottom: 2rem; }
.fixed_header { position: fixed; }*/

.tooltip-inner { -webkit-font-smoothing: subpixel-antialiased; }
.tooltip-inner.text-left{
	text-align: left;
}

.mediaContainer iframe { border: none; }

.media_details {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	margin: 0px 0px 0px 0px;
	z-index: 1038;
	display: none;
	-webkit-font-smoothing: subpixel-antialiased;
 }
.media_details .blackout {background: black; position: fixed; top:0px; left:0px; right:0px; height: 100%; /*opacity: 0.7;*/ }
/*.media_details .content {position: absolute; top: 8.2rem; right: 3.6rem; left: 3.6rem; background: white; padding: 3.6rem 3.6rem 4.4rem 3.6rem; }*/
.media_details .content {position: absolute; /*padding: 8.2rem 3.6rem 3.6rem 3.6rem;*/ width: 100%; height: 100%; /*top: 8.2rem; right: 3.6rem; left: 3.6rem;*/ background: #333; color: white;}
.media_sidebar a {color: #b5d5ff;}
.media_details hr {border-color: #666;}
.media_details .citations {margin-top: 3rem;}
.media_details .citations.source_buttons {margin-top: 1.25rem;}
.citations p {margin-bottom: .1rem;}
#media_details_buffer {width:108px;}

.media_sidebar { clear:left;width: 30%; color: #b2b3b6; margin-right: 3.6rem; text-align: left; float: left; min-height: 50rem; }
.media_sidebar h2,.media_sidebar h3 { margin: 0 0 .2rem 0; padding: 0; line-height: 100%; color: white; }
.media_sidebar h2 { font-size: 2.9rem; }
.media_sidebar h3 { font-size: 1.8rem; font-weight: normal; margin-bottom: 1rem; }
.media_sidebar p { margin: 0 0 1rem 0; padding: 0; line-height: 1.8rem; }
.media_sidebar blockquote { /*padding: 0 1.8rem 0 1.8rem;*/ padding: 0; margin: 0 0 .5rem 0; line-height: 1.8rem; font-size: 90%; border-left: none; }
.media_sidebar .annotation_extents { font-size: 80%; }
.media_sidebar .attribution { text-align: right; margin-bottom: 2rem; }
.citations p.citation { margin-bottom: 1rem; }
.citations p.citation:last-child { margin-bottom: 0; }
.manual_slideshow .slot {clear: both; /*border-bottom: 1px solid #666; padding-top: 2rem;*/ }
.manual_slideshow .mediaelement { float:right; margin-bottom: 5rem; }

.media_sidebar table {
	border-left: 1px solid #666 !important;
	border-right: 1px solid #666 !important;
	width: 100%;
}

.media_sidebar tr:hover {
	background-color: #555 !important;
}

/*.slot_slider { position: relative; top: 0px; width: 100%; white-space: nowrap; overflow-x: auto; overflow-y: hidden; vertical-align: top; }
.slot_slider .slot { display: inline-block; text-align: left; margin: 0; padding: 0; }*/
.manual_slideshow {
	clear: both;
	text-align: center;
	position: absolute;
	top: 0;
	padding: 15rem 3.6rem 0 3.6rem;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

.versionbrowser {list-style-type:none;}
.versionbrowser_item {border-top:solid 1px #aaaaaa; margin-top:34px;}

/* --- TK Labels --- */

.popover.tk-help .supertitle { font-size: 1rem; text-transform: uppercase; color: #666; padding: 0; margin: 0; }
.popover.tk-help { font-size: 1.2rem; color: #333; }
.popover.tk-help h3 { padding-left: 0; padding-right: 0; margin-bottom: 12px !important; font-size: 1.8rem; margin-top: 0; line-height: 2.4rem; color: black;}
.popover.tk-help p { margin-bottom: 1.2rem; }
.popover.tk-help p:last-child { margin-bottom: 0; }
.popover.tk-help a {color:#026697;}

header [typeof="tk:TKLabel"] { float:right; }
header [typeof="tk:TKLabel"].last { margin-right:7.2rem; }
header [typeof="tk:TKLabel"] { margin-left:6px; margin-right: 0; }
[typeof="tk:TKLabel"] { margin-right:6px; }
[typeof="tk:TKLabel"] > img {height:2.4rem; cursor: pointer; }
.image_header > .tklabels { float: right; margin: 3.6rem 7.2rem 0 0; }
.tk-help > .popover-content > img {height:3rem; float: left; margin-right: .8rem; margin-top: .3rem; }
.tk-help > .popover-content > h3 {margin-bottom:10px;}
[typeof="tk:TKLabel"] > span {display:none;}
#tk-add {
	display:none; height:2.4rem; width:3rem; position:absolute; right:3rem; border-radius:5px; margin-top:2px; cursor:pointer;
	background-image:url(../images/edit_icon.png); background-position:center center; background-size:contain; background-repeat:no-repeat;
}
#tk-add.desciptor::after {
  	content: "TK Labels"; color: #777777; font-weight: normal; font-size:10px;
  	float:right; line-height:1.0; position:relative; left:-4.4rem; top: 2px; font-family: 'Lato', Arial, sans-serif !important;
}
.tk-labels-media {margin-bottom:.6rem;}

/* --- SPLASH --- */

.splash {
	position: fixed;
	max-width: inherit;
	width:100%;
	height:calc(100% - 4.8rem);
	background-color: black;
	color: white;
	border: none;
	background-size: cover;
	padding: 0;
	background-position: center center;
	-webkit-transform: scale( 1.2, 1.2 );
	-moz-transform: scale( 1.2, 1.2 );
	-o-transform: scale( 1.2, 1.2 );
	transform: scale( 1.2, 1.2 );
	transition: opacity;
	opacity: 0;
}
.splash.fade_in {
	transition: all 1s ease-in-out;
	-webkit-transform: scale( 1.0, 1.0 );
	-moz-transform: scale( 1.0, 1.0 );
	-o-transform: scale( 1.0, 1.0 );
	transform: scale( 1.0, 1.0 );
	opacity: 1;
}
.splash h1 { margin-bottom: 0; }
.splash h2 { margin-top: 0; font-weight: normal; margin-bottom: 0; }
.title_card {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 10.8rem 7.2rem 3.6rem 7.2rem;
	text-align: center;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
	opacity: 0;
}
.splash .title_card {
	margin-bottom: 5rem;
}
.title_card.fade_in {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity: 1;
}
.fade_out {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 0 !important;
	pointer-events: none; /* TODO: this won't work in IE */
}
.instantaneous_fade_out {
	opacity: 0 !important;
	pointer-events: none; /* TODO: this won't work in IE */
}
.title_card .relationships { max-width: inherit; }
.title_card .citation {font-size:1.2rem; margin:12px 0px 0px 0px; padding:0px 0px 0px 0px; color: #777;}
.title_card .citation a { color: #777; }
.splash.has_video {  /* Remove scale transform since it's jumpy with video but keep opacity transform */
	-webkit-transform: scale( 1.0, 1.0 );
	-moz-transform: scale( 1.0, 1.0 );
	-o-transform: scale( 1.0, 1.0 );
	transform: scale( 1.0, 1.0 );
}
.image_header.has_video {
	position:relative;
}
.sp-block { padding: 0; }
.visual_path .sp-block.has_video h1, .visual_path .sp-block.has_video .sp-block__content {
	position:relative; z-index:1;
}
.visual_path .sp-block.has_video .video_wrapper {
	position: absolute;
  	overflow: hidden;
  	min-height: 400px;
  	width: 100%;
}
.splash .video_wrapper, .image_header .video_wrapper  {
  position: absolute;
  top: 0; right:0; bottom:0; left:0;
  overflow: hidden;
}
.visual_path .sp-block.has_video .video_wrapper video { display: none; }

/* --- MEDIA --- */

/**
  *	These styles are only every applied to temporary elements that are removed after Javascript measures their width;
  * this is how we use CSS to specify dimensions for media.
  */
.small_dim { width: 20.6rem; display: none; }
.medium_dim { width: 41.2rem; display: none; }
.large_dim { width: 62.0rem; display: none; }
.full_dim, .native_dim { width: 104rem; display: none; }
.body_left_margin { margin-left: 7.2rem; }

.full { margin-top: 4rem; clear:both; }
.full .mediaElementFooter { padding: 0 7.2rem 0 7.2rem; max-width: 85.4rem; }

.pillarbox { background-color: #444; clear: both; }
.media_details .pillarbox { background-color: transparent; }

/* So the top-most media element aligns with the top of its paragraph */
.slot.top{ margin-top: .5rem !important; clear: both; }

.slot.right{
	margin-top: 2.4rem;
	margin-left: 4.8rem;
	margin-right: 7.2rem;
	float: right;
	clear: right;
}

.slot.left{
	margin-top: 4.0rem;
	margin-right: 4.8rem;
	margin-left: 7.2rem;
	float: left;
	clear: left;
}

.mediaContainer {
	background-image: none;
}

.slot {
	background-image: url(images/loading_msg.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.wrapped_slot>.mediaelement, .wrapped_slot>.widgetContainer{
	margin: .5rem 0 2.4rem 0;
}
.wrapped_slot.right_slot>.mediaelement{
	margin-left: 4.8rem;
}
.wrapped_slot.left_slot>.mediaelement{
	margin-right: 4.8rem;
}


.wrapped_slot.no_margin>.mediaelement, .mediainfo.no_margin>.widgetContainer{
	margin: 2.4rem 0;
}

.wrapped_slot.full_width>.mediaelement, .wrapped_slot.full_widget>.widgetContainer{
	margin-top: 1rem;
}


.mediaelement {
	margin-bottom: 2.4rem;
	font-weight: normal;
	font-style: normal;
	-webkit-backface-visibility: hidden;
}

.inlineNoteBody  {
	background-color:#eeeeee; padding:20px; line-height:170%; font-size:14px; margin:.5rem 7.0rem 2.4rem 7.0rem;
	border-radius:10px; box-shadow: 4px 4px 5px #cccccc; color:#222222;
}
.inlineNoteBody .title {font-weight:Bold; font-size:15px;}
.inlineNoteBody .content {margin-top:14px; margin-bottom:6px;}

/* Remove border on any text media objects or code media */
.mediaObject iframe[src$=".txt"],
.mediaObject pre[class^="language-"],
.mediaObject pre[class*=" language-"]{
		border: 0px;
	  border-radius: 0px;
	  background: #f5f2f0;
}

.body_copy.mediainfo {
	margin-bottom:2.4rem;
}
.wrapped.mediainfo{
	padding-left: 0;
	padding-right: 0;
	clear: both;
    padding-top: .01rem;
	margin-bottom:2.4rem;
}
.wrapped.mediainfo.page_margins{
	padding-left: 7.2rem;
    padding-right: 7.2rem;
}
.mediaContainer,.mediaElementFooter {
	border: none;
	background-color: inherit;
}

.mediaElementFooter {
	/*margin-top: 1.2rem;*/
	height: auto;
}

.mediainfo div, .attribution, .additional_metadata, ul.resources p.desc {
	font-size: 1.2rem;
	line-height: 1.7rem;
	color: #595959;
	text-align: left;
	word-wrap: break-word;
}

.media_sidebar .attribution {
	color: inherit;
}

#additionalMetadata { display: none; }

a.media_info {
	border-radius: 0.9rem;
	border: 1px solid #888;
	/*background-color: #666;*/
	color: #666;
	width: 1.8rem;
	height: 1.8rem;
	display: inline-block;
	text-align: center;
	line-height: 1.8rem;
	cursor: pointer;
	float: left;
	margin-top: .2rem;
	margin-right: 1.0rem;
	margin-bottom: .5rem;
}

.media_description {
	display: none;
}

.media_annotations {
	display: none;
	max-height: 300px;
	overflow-y: auto;
}

.mediainfo table, .additional_metadata table { width: 100%; }

.media_annotations tr, .current_annotation tr { cursor: pointer; }
.media_annotations tr:hover { background-color: #eee; }
.media_annotations tr.current { background-color: #c5dceb; }
.media_annotations p, .mediaElementFooter p { padding-left: 0; margin-bottom: 1.4rem; }

.current_annotation { background-color: #c5dceb; margin-bottom: 1.0rem; display: none; }

.mediainfo h4 { font-size: 1.2rem; margin: 0 0 1rem 0; line-height: 1.6rem; padding: 0 .4rem 0 0; }

.media_annotations table {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	font-size: 1.2rem;
}
.citations_metadata table {
	font-size: 1.2rem;
	border-left:none !important;
	border-right:none !important;
	margin-bottom:30px;
}
.media_annotations td, .current_annotation td {
	padding-left: .8rem !important;
	word-break: break-word;
}
.citations_metadata td {
	padding-left: 0 !important;
	word-break: break-all;
}
.media_annotations td:first-child, .current_annotation td:first-child, .citations_metadata td:first-child {
	width: 12rem;
	font-weight: bold;
}
.media_annotations td:last-child, .current_annotation td:last-child {
	padding-right: .8rem;
}
.citations_metadata td:last-child {
	padding-right: 0 !important;
	padding-left:.8rem !important;
}

.mini-tag-bar { margin-top: 1rem; margin-bottom: 1rem; }

.media_metadata {
	display: none;
	max-height: 300px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.meta-page { clear: both; }
.meta-page .caption_font {clear:left;}
.meta-page { overflow-x: auto; -webkit-overflow-scrolling: touch; }
.meta-page .btn { margin-bottom: .5rem; margin-right: .5rem; }
/*.media_metadata {
	position: absolute;
	max-width: 400px;
	max-height: 300px;
	border-radius: .8rem;
	background-color: #eee;
	padding: 1.0rem;
	font-size: 1.2rem;
	z-index: 99;
	line-height: 100%;
}*/

.mediainfo td, .additional_metadata td, .citations td {
	padding: .5rem 0;
}

.mediainfo td:first-child, .additional_metadata td:first-child { font-weight: bold; padding-right: .5rem; }

.media_tabs label {
	padding: .2rem 1.0rem;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}

.media_tabs label:hover { background-color: #eee; }

.media_tabs input[type="radio"]:checked + label {
	background-color: #595959;
	color: white;
	-webkit-font-smoothing: subpixel-antialiased;
}

.media_tabs input[type="radio"]:focus + label {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

.media_tabs {
	display: none;
	margin-top: 1.2rem;
}

.media_tabs input[type="radio"] {
	border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.media_page_wrap .body_copy{
	margin-left:auto;
	margin-right:auto;
}

.pane {
	margin-top: 1.2rem;
}

.pane td > div, .pane td > p { margin-bottom: 1rem; padding: 0 .4rem 0 0; }

.audio {padding-top:20px;}

audio::-webkit-media-controls-enclosure { max-width: 100%; /* removes chrome's max-width on audio players */ }

#footer {
	clear: both;
	margin-top: 2rem;
	padding-left: 7.2rem;
	padding-right: 7.2rem;
	font-size: 1.2rem;
	padding-top: 6rem;
}

#footer-right {
	float: right;

}

#colophon { color: #666; }
#colophon img { margin-right: .3rem; }
#colophon .edition-selector { display: inline-block; }
#publisher-credit { margin-bottom: 1.2rem; line-height: 110%; vertical-align: top; }
#publisher-credit img { margin-right: .6rem; vertical-align: bottom;  max-width: 12rem; max-height: 12rem; }
#scalar-credit img { vertical-align: middle; margin-top: -.2rem; }
#scalar-credit { margin-bottom: 0; clear: both; padding-top: 1rem; }

#incoming_comments { clear: both; padding-left: 7.2rem; padding-right: 7.2rem; margin-top: 2.4rem; }
#comment_control {
	color: #a6a6a6;
	background: url(images/comments.png) no-repeat;
	padding-left: 4rem;
	float: left;
	cursor: pointer;
	background-size: 31px 26px;
}

.comment { margin-bottom: 3rem; max-width: 85.4rem; }
.comment .attribution { margin-top: 1rem; }
.comment_form { margin-top: 2rem; max-width: 85.4rem; }
.comment_form table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
	width: 100%;
}

/* comments dialog */
.comments .modal-body h3 {
  padding-left:0;
  margin-top:0;
}

.field {
	width: 50px;
	white-space: nowrap;
	padding-right: 6px;
	vertical-align: top;
}

.custom-file-selector {
	border: 1px solid;
}

.custom-file-selector:focus-within {
	outline: 5px auto -webkit-focus-ring-color;
}

.custom-file-selector > input[type="file"] {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* 1 */
  clip-path: inset(50%);
  border: 0;
}

#edit_form { padding-top: 4.8rem; }

.input_text { max-width: 50rem; width: 100%; }

/* --I think this is old CSS - commenting out. If this impacts something negatively, increase specificity of selector - @Lucas
.edit {
	background: url(images/edit.png) no-repeat;
	width: 3.1rem;
	height: 2.9rem;
*/
	/*float: right;*/
/*
	margin-right: 1.5rem;
	cursor: pointer;
	display: inline-block;
}*/

#tr_container_of td, #tr_reply_of td, #tr_annotation_of td, #tr_tag_of td { padding-bottom: 2.4rem !important; }
.content_selector { border-radius: 0 !important; }

.design {
	background: url(images/design.png) no-repeat bottom;
	width: 3.1rem;
	height: 2.9rem;
	/*float: right;*/
	cursor: pointer;
	display: inline-block;
}

a.nav_btn {
	padding: 1rem;
	text-decoration: none;
	background-color: #ddd;
	color: #444;
	/*line-height: 3.9rem;*/
	display: inline-block;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer;
	border-radius: 0;
}
a.nav_btn.primary {
	background-color: #02547E;
	color: white;
}
a.nav_btn:hover {
	background-color: black;
	color: white;
}

#back-btn { margin-right: 1px; }

.title_card .continue_btn, .title_card #back-btn.nav_btn { background: none; color: #ccc; font-size: smaller; padding: .5rem 1rem; }
.title_card #back-btn.nav_btn.bordered { border-right: 1px solid #ccc; }
.title_card .continue_btn:hover, .title_card #back-btn.nav_btn:hover { background: none; color: white; text-decoration: underline; }
.title_card p { margin-bottom: 0; }

/* Index */

/*.modal-dialog ul { margin-left: 3.6rem; margin-bottom: 2rem; }*/
.modal-dialog p { margin-bottom: 1rem; margin-top: 1rem; }
.modal-dialog h2, .modal-dialog h3, .dialog h3, .modal-dialog h4, .dialog h4, .dialog h5 { display: inline-block; padding-left: 0; padding-right: 0; margin-top: 0; margin-bottom: 0; }
.modal-dialog h3 { margin-bottom: 1rem; }



.modal-xlg { min-width: 90%; height: 90%; padding: 0; }
.modal-xlg .modal-content { min-height: 90%; }

/* the 'dialog' styles below will eventually be deprecated once bootstrap modal support is in place */
.dialog {
	position: fixed;
	top: 8.6rem;
	left: 3.6rem;
	right: 3.6rem;
	bottom: 3.6rem;
	background-color: white;
	/*padding: 3rem 4rem 3rem 4rem; */
	padding: 0 0 2.4rem 0;
	box-shadow: 3px 3px 8px rgba(0,0,0,.2);
	overflow-y: auto;
	display: none;
	z-index: 10;
}
.dialog ul { margin-left: 3.6rem; margin-bottom: 2rem; }
.dialog p { margin-bottom: 1rem; margin-top: 1rem; }
.dialog h2, .dialog h3, .dialog h4, .dialog h5 { display: inline-block; padding-left: 0; padding-right: 0; margin-top: 0; margin-bottom: 0; }
.dialog h3 { margin-bottom: 1rem; }
.dialog_header {
	position: fixed;
	left: 3.6rem;
	right: 3.6rem;
	top: 8.6rem;
	background-color: white;
	padding: 2.4rem 3.6rem 0 3.6rem;
	z-index: 20;
}
.dialog .right { float: right; padding: 1rem; }
.dialog_header .right { float: right; }
.media_details .dialog_header {
	background-color: #333;
	color: #b2b3b6;
	font-size: 1.8rem;
	padding-top: 7rem;
	left: 0;
	right: 0;
	top: 0;
}
.modal-body ul { list-style: none; }
.modal-body table { margin: 0; }
.modal-body td.icon { width: 5rem; }
.modal-body td.half-description { width: 50%; padding: 0 3rem 1rem 1.4rem; }
.modal-body td.description { width: 100%; padding: 0 3rem 1rem 1.4rem; }
.modal-body td { vertical-align: center; }

.index { z-index: 50; }
.search { z-index: 51; }

/*.pagination {
	line-height: 4.8rem;
	border-top: 1px solid #ddd;
	margin: 2.0rem 0 1.0rem 0;
}*/

/*.disabled { opacity: 0.25; }*/

.results_list { margin-top: 2rem; position: relative; overflow-y: auto;height: 390px;}
.results_list.search_results { margin-top: 0; clear: both; }
.dialog.index .results_list { margin-top: 14.2rem; }
.results_list table { width: 100%; }
.results_list td { height: 3rem; overflow: hidden; padding: .5rem; }
.results_list td:first-child { min-width:30%; max-width: 30rem; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
/* .results_list td:last-child { color: #b2b3b6; max-width: 30rem; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; } */
.results_list td.matched { color: #999999; font-size:smaller; }
.results_list td.matched span { white-space:nowrap; }
.results_list td.matched span.h { color:#666666; }
.results_list tr:hover { background: #eee; cursor: pointer; }
.results_list td.thumb { width:76px; max-width:76px; }
.results_list td.thumb img {width:100%;}

/* Media & widget icons */
.texteo_icon       { background-repeat:no-repeat; background-size: 15px 15px; padding-left:20px; background-position:2px 2px; }
.texteo_icon_audio { background-image:url(images/audio@2x.png); }
.texteo_icon_video { background-image:url(images/video@2x.png); }
.texteo_icon_image, .texteo_icon_tiledImage, .texteo_icon_manifest { background-image:url(images/image@2x.png); }
.texteo_icon_note { background-image:url(images/note@2x.png); }
.texteo_icon_map { background-image:url(images/map@2x.png); background-size: 8px 15px !important; padding-left: 13px !important; }
.texteo_icon_timeline { background-image:url(images/timeline@2x.png); }
.texteo_icon_carousel { background-image:url(images/carousel@2x.png); }
.texteo_icon_card { background-image:url(images/cards@2x.png); }
.texteo_icon_summary { background-image:url(images/summary@2x.png); }
.texteo_icon_visualization, .texteo_icon_3D { background-image:url(images/visualization@2x.png); }
.texteo_icon_document { background-image:url(images/document@2x.png); }
.texteo_icon_lens { background-image:url(images/lens@2x.png); }

/* TODO */
.path_icon { width:14px; height:14px; margin-right: 5px; background-size: contain; background-image:url(../images/icon_path_dark.png); display:inline-block; background-position:left top;}
.reply_icon { width:14px; height:14px; margin-right: 5px; background-size: contain; background-image:url(../images/icon_comment_dark.png); display:inline-block; background-position:left top;}
.annotation_icon { width:14px; height:14px; margin-right: 5px; background-size: contain; background-image:url(../images/icon_annotation_dark.png); display:inline-block; background-position:left top;}
.tag_icon { width:14px; height:14px; margin-right: 5px; background-size: contain; background-image:url(../images/icon_tag_dark.png); display:inline-block; background-position:left top;}

/* loading */
.loading { background: #fff; position:absolute; top:0; left:0; }
.loading p {position: absolute; width: 100%; text-align: center; color: #cacaca; font-weight: bold; margin: 0; font-size:16px; line-height: 16px}

/* misc */
.maximized-embed { width: 100%; height: 65rem; margin-bottom: 2rem; margin-top: -4.8rem; }
.google-info-window h2 { font-size: 1.6rem; padding: 0; margin: 0 0 1rem; line-height: 100%; }
.google-info-window { line-height: 130%; font-weight: normal; }
.google-info-window .path-breadcrumb { padding-left: 0; padding-right: 0; margin-bottom: 5px; }

/* Hidden elements */
aside { display: none; }
.metadata { display: none; }
.mediaElementHeader { display: none; }

.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.line-highlight.current {
	background: hsla(204, 20%, 50%,.3);
	background: -moz-linear-gradient(left, hsla(204, 20%, 50%,.3) 70%, hsla(204, 20%, 50%,0));
	background: -webkit-linear-gradient(left, hsla(204, 20%, 50%,.3) 70%, hsla(204, 20%, 50%,0));
	background: -o-linear-gradient(left, hsla(204, 20%, 50%,.3) 70%, hsla(204, 20%, 50%,0));
	background: linear-gradient(left, hsla(204, 20%, 50%,.3) 70%, hsla(204, 20%, 50%,0));
}

/* bootstrap modal */
button.close {
  background:url(../images/close_icon.png) no-repeat;
  background-size: cover;
  width:30px;
  height:30px;
  margin-top:0;
  opacity:1;
}

button.close:hover {
  background-image:url(../images/close_icon_hover.png);
  opacity:1;
}

label {
  font-family: Lato, Arial, sans-serif;
  font-weight: normal;
}
/* search modal */
.search .modal .form-inline.row {
  margin-right:0;
}
.search .modal  label {
  margin-top:5px;
}
/* bootstrap override */
button, .btn, input, optgroup, select, textarea {
  font-family: Lato, Arial, sans-serif;
}
.search .form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}

.btn-primary { background-color: #026697; border-color: #026697; }

/* editorial workflow */

.editorial-status-bar {
	line-height: 130%;
	/*margin-top: -4.8rem;*/
	color: white;
}

.editorial-status-bar div {
	display: inline-block;
	vertical-align: middle;
}

.editorial-status-bar .message {
	width: 75%;
}

.editorial-status-bar .controls {
	width: 25%;
	text-align: right;
}

.editorial-status-bar .controls a {
	margin: .2rem 0 .2rem .8rem;
}

/* darker colors
.draft-state { background-color: #878787; }
.edit-state { background-color: #ec5e00; }
.editReview-state { background-color: #d03a38; }
.clean-state { background-color: #2898b7; }
.ready-state { background-color: #4da751; }
.published-state { background-color: #147419; }*/
.editorial-status-bar.draft-state, .editorial-status-bar.none-state { background-color: #b4b4b4; padding: 2.4rem; }
.editorial-status-bar.edit-state { background-color: #ffa365; padding: 2.4rem; }
.editorial-status-bar.editreview-state { background-color: #d75452; padding: 2.4rem; }
.editorial-status-bar.clean-state { background-color: #5fc0dc; padding: 2.4rem; }
.editorial-status-bar.ready-state { background-color: #72b376; padding: 2.4rem; }
.editorial-status-bar.published-state { background-color: #198f1e; padding: 2.4rem; }

/* utility pages */

.history-page li { list-style-type: none; }
.history-page h3 { margin-bottom: 1rem; }

#editor-tabpanel { margin-top: 2rem; }
#editor-tabs a .badge{
	padding: 3px 5px;
	font-size: 10px;
	background-color: #026697;
	margin-right: 5px;
	margin-left: 2px;
}

ul.resources { list-style: none; }
ul.resources > li { margin-bottom: 1rem; margin-left: 0; }

.cke_dialog_contents_body { padding: 17px 30px 5px !important; }
a.cke_dialog_ui_button { padding: 6px 0 !important; }
.cke_dialog .cke_resizer_ltr { margin-right: 8px !important; }
.cke_dialog .cke_resizer { margin-top: 32px !important; }
.cke_dialog_ui_vbox_child { padding: 10px 0 !important; }
.cke_dialog_title, .cke_dialog strong { font: normal normal normal 14px 'Lato', Arial, sans-serif !important; font-weight: 900 !important; }
.cke_dialog_ui_labeled_label, .cke_dialog_body label, select.cke_dialog_ui_input_select, .cke_dialog_ui_button, .cke_dialog_ui_html, .cke_dialog_ui_input_text {
	font: normal normal normal 14px 'Lato', Arial, sans-serif !important;
}
.cke_toolgroup { margin-right:  3px !important; }
.cke_button_label { padding-left: 0 !important; }
.media_options_bootbox .table-fixed thead {
  width: 96%;
}
.media_options_bootbox .annotationTableWrapper{
		border: 1px solid #ccc;
}
.media_options_bootbox .table-fixed tbody {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
	border-top: 1px solid #ccc;
}
.media_options_bootbox .table-fixed thead, .media_options_bootbox .table-fixed tbody, .media_options_bootbox .table-fixed tr, .media_options_bootbox .table-fixed td, .media_options_bootbox .table-fixed th {
  display: block;
}
.media_options_bootbox .table-fixed tbody td, .media_options_bootbox .table-fixed thead > tr> th {
  float: left;
}

.media_options_bootbox .table-fixed th{
	font-weight: bold;
	background-color: #fff;
	border-bottom: 0;
}

.media_options_bootbox .annotationSelection .table-fixed>tbody>tr{
	cursor: pointer;
}
.media_options_bootbox .featuredAnnotation{
	display: none;
}

#wysiwygNewFeatures{
	font-size: 1.4rem;
	padding: 1rem;
	margin-right:-8px;
}
#wysiwygNewFeatures hr{
	border-bottom: 0;
	border-top: 1px solid #a6e1ec;
	margin: 1rem 0;
}
#wysiwygNewFeatures>button{
	background-image: none;
	font-size: 2.4rem;
  line-height: 2.4rem;
  height: 2.4rem;
  padding: 0px;
	opacity: .5;
}
#wysiwygNewFeatures>button:hover{
	opacity: .75;
	outline: none;
}

#wysiwygNewFeatures .close{
	right: 0px;
}
body>.annotorious-popup{
	z-index: 100 !important;
}

/* path splash layout styles */

#splash{
	min-height: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 0px; /*Changes which vertical portion of the image appears in view box*/
	background-position-x: 0px; /*Changes which horizontal portion of the image appears in view box*/
	margin-bottom: 30px;
}
#splash img { max-width: 100%; }
.sp-block {
	max-width: 100%;
	margin: 0 auto .6rem auto;
	padding: 0;
	position: relative;
	background-size: cover;
	background-position: center;
  min-height: 400px;
  background-color: #e5e5e5;
  clear: both;
}
.sp-block.mobile { background-attachment: inherit; }
.padded-multiline {
  line-height: 1.4;
  padding: 0;
  margin: 20px auto;
}
.sp-block h1 {
	margin-top: 0;
	margin-left: 7.2rem;
	margin-bottom: 0;
	padding-top: 7.2rem;
	padding-left: 0px;
	line-height: 3.7rem;
	max-width: 48rem;
	text-transform: uppercase;
	font-size: 2.4rem;
}
.padded-multiline a {
  background-color: black;
  color: #fff;
  display: inline;
  padding: .4rem 1.2rem;
  text-decoration: none;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.sp-block__content {
	font-size: 1.5rem;
	max-width: 100%;
	padding: 1.4rem;
	margin-left: 7.2rem;
	margin-bottom: 7.2rem;
	line-height: 2rem;
	display: inline-block;
}
.sp-block .nav_btn { margin-top: 1.2rem; }
.mediaelement { height: auto; }
.sp-block .mediaContainer div img { width: auto !important; }
.sp-button:hover { background-color:#217298; }
.sp-button a, .sp-button a:hover { text-decoration: none; color: #000; }
@media only screen and (min-width: 520px) {
  #splash, .sp-block { position: static; background-attachment: fixed; }
  #splash {
	background-size: cover;
	background-position-y: 0px;
	background-position-x: 0px;
	min-height: 350px;
  }
  #splash img {
    position: relative;
    top: 100px;
    left: 300px;
  }
  .sp-block__content { max-width: 48rem; }
  .sp-block-people .sp-block__content { max-width: 100%; padding-left: 0px; }
  .sp-block-people .sp-block__content .body_copy { padding-left: 0px; }
  .sp-block__content .slot .mediaelement { display: none; }
  .sp-block-people .sp-block__content .slot .mediaelement { display: unset; }
  #tk-add {display:inline-block;}
}



/*******************/
/* Scalar Lens UI  */
/*******************/

.row.lens {
	margin:0;
}
.mediaElementFooter .viz-icon {
	float: left;
}
.lens-editor .lens-editor-wrapper {
  padding:0;
  background:#dddddd;
  border-radius:10px;
  border:2px solid #dddddd;
}
.lens-editor .lens-header {
	padding:0;
}
.lens-content {
	font-family:'Lato', sans-serif !important;
  padding: 8px 10px;
  background:white;
  float:right;
}
.lens-content.col-xs-11 {
  width:calc(100% - 20px);
	border-radius:0px 8px 8px 0px;
}
.lens-icon-wrapper.col-xs-1 {
  position:absolute;
  top:45%;
  left:4px;
  padding:0;
  width:10px;
}
.lens-icon {
  background:url(../images/lens.png);
  background-repeat:no-repeat;
  background-size:100%;
  background-position:50% 50%;
  width:12px;
  height:12px;
  float:left;
}
.lens-tags {
	max-width:93%;
}
.lens-editor .lens-title {
	padding: 0;
  margin-top:0;
  margin-bottom: 1px;
	white-space: nowrap;
	overflow: hidden;
}
[contenteditable]:focus{
  outline:none;
	white-space: nowrap;
	overflow: hidden;
}
.lens-editor .btn-primary {
	font-family:'Lato', sans-serif !important;
	margin-top: 4px;
	margin-right:4px;
	padding: 3px 8px;
}
.lens-editor .btn-default {
	margin-top: 4px;
}
.lens-editor .dropdown-menu {
	border:1px solid #dddddd;
}
.paragraph_wrapper .lens-editor ul li {
  margin-left:0;
}
.lens-editor .btn .caret {
  margin-left:5px;
}
.lens-editor .snowflake {
	background:url(../images/snowflake.png);
  background-repeat:no-repeat;
  background-size:100%;
  background-position:50% 50%;
  width:25px;
  height:25px;
	margin-right:3px;
}
.lens-editor .badge {
  padding: 5px 10px;
  font-size:14px;
  font-weight:200;
  background:#3b82c0;
	min-width: 24px;
	height: 24px;
	border-radius:20px;
	float:right;
}
div.validation-error {
	margin-top: 15px;
	font-size: 12px;
	color: #d75452;
}
.btn.validation-error,
input.validation-error {
	border-color: #d75452;
}
.no-padding {
	padding:0;
}
.no-bg {
	background:transparent !important;
	border:none !important;
}
.lens-editor .spinner {
	margin: 6px;
}
.dropdown-menu {
	min-width:172px;
}
.dropdown-menu li a {
	cursor:pointer;
}
.lens-editor .dropdown-menu li.active a:hover {
	color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.component-container {
	margin-right: 4px;
}
.component-container.inline {
	display: inline-block;
}
.lens-editor .plus-button-group {
	margin-top: 4px;
}
.lens-editor .btn .plus-icon {
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	display: inline-block;
	float:left;
	width: 14px;
  height: 14px;
  margin: 4px 0;
	max-width:25px;
	background-image:url(../images/icon_plus.png);
}
.viz-icon {
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-size:cover;
	float:left;
	width: 14px;
  height: 14px;
  margin-top: 2px;
	max-width:25px;
	margin-right:6px;
}
.viz-icon.light {
	margin-right:5px;
	margin-top:1px;
}
.viz-icon.force-directed {
	background-image:url(../images/icon_forcedir_dark.png);
}
.force-directed.light {
	background-image:url(../images/icon_forcedir_light.png);
}
.viz-icon.grid {
	background-image:url(../images/icon_grid_dark.png);
}
.grid.light {
	background-image:url(../images/icon_grid_light.png);
}
.viz-icon.list {
	background-image:url(../images/icon_list_dark.png);
}
.list.light {
	background-image:url(../images/icon_list_light.png);
}
.viz-icon.lens {
	background-image:url(../images/icon_lens_dark.png);
}
.lens.light {
	background-image:url(../images/icon_lens_light.png);
}
.viz-icon.map {
	background-image:url(../images/icon_map_dark.png);
}
.map.light {
	background-image:url(../images/icon_map_light.png);
}
.viz-icon.radial {
	background-image:url(../images/icon_radial_dark.png);
}
.radial.light {
	background-image:url(../images/icon_radial_light.png);
}
.viz-icon.tree {
	background-image:url(../images/icon_tree_dark.png);
}
.tree.light{
	background-image:url(../images/icon_tree_light.png);
}
.viz-icon.word-cloud {
	background-image:url(../images/icon_wordcloud_dark.png);
}
.word-cloud.light {
	background-image:url(../images/icon_wordcloud_light.png);
}
.visualization-button,
.visualization-button:hover,
.visualization-button.disabled:hover,
.visualization-button:active,
.visualization-button:focus,
.visualization-button.disabled:focus,
.open .dropdown-toggle.btn-primary.visualization-button
{
	background:#985da9;
	border:1px solid #82519a;
}

.operation-button,
.operation-button:hover,
.operation-button.disabled:hover,
.operation-button:active,
.operation-button:focus,
.operation-button.disabled:focus,
.open .dropdown-toggle.btn-primary.operation-button
{
 background:#7f7f7f;
 border:1px solid #717171;
}

.content-selector-button,
.content-selector-button:hover,
.content-selector-button.disabled:hover,
.content-selector-button:active,
.content-selector-button:focus,
.content-selector-button.disabled:focus,
.open .dropdown-toggle.btn-primary.content-selector-button
{
	background:#3b82c0;
	border:1px solid #457db8;
}

.filter-button,
.filter-button:hover,
.filter-button.disabled:hover,
.filter-button:active,
.filter-button:focus,
.filter-button.disabled:focus,
.open .dropdown-toggle.btn-primary.filter-button
{
	background:#f08c4e;
	border:1px solid #d87c43;
}

.sort-button,
.sort-button:hover,
.sort-button.disabled:hover,
.sort-button:active,
.sort-button:focus,
.sort-button.disabled:focus,
.open .dropdown-toggle.btn-primary.sort-button
{
	background:#5cb85c;
	border:1px solid #4ca34c;
}

.close {
	font-size:0px;
}
#byItem li {
	cursor:pointer;
}
.btn-default .caret {
	margin-left:10px;
}
#modalByType .modal-dialog {
	max-width:350px;
}
#modalByDistance .modal-dialog {
	max-width:520px;
}
#modalByType .modal-footer,
#modalByDistance .modal-footer {
	border:none;
	padding:0 15px 15px;
}
#distanceForm .row {
	margin:0;
}
#distanceForm .col-sm-10 {
	padding-left:0;
}
#distanceInput.form-control {
	width:97%;
}
#distanceQuantity {
	z-index:999999;
	max-width:150px;
	float:left;
	margin-right:3px;
}
#modalByDistance #latitude.form-control, #sortModal #distance-latitude.form-control {
	width:98%;
}

#distance-dropdown li {
	margin-left:0;
}

.lens-editor .modal-dialog h2,
.lens-editor .modal-dialog h3,
.lens-editor .dialog h3,
.lens-editor .modal-dialog h4,
.lens-editor .dialog h4,
.lens-editor .dialog h5 {
	display: block;
}

.filter-modal-container {
	display: flex;
  align-items: center;
  justify-content: center;
	padding:15px;
}
.filter-modal-content {
	text-align:center;
	border:3px solid lightgrey;
	padding:15px;
}
.filter-text-desc:first-child {
	margin-top:0 !important;
	margin-bottom: 1rem;
}
p.filter-text-desc {
	margin-bottom: 0;
}
#filterQuantityValue .error {
	border:1px solid red;
}
.limitRow {
	max-width: 245px;
	margin:0 auto;
}
.counter {
	padding: 1px 10px 2px;
  border:2px solid #ccc;
	border-radius: 20px;
	min-width: 30px;
	min-height: 30px;
}
.counter .spinner {
	top: 11px;
	left: 3px;
}
.filter-arrow {
	background-image:url(../images/right_arrow.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:100%;
	height:25px;
}
.dropdown-menu li {
	margin-left:0 !important;
}
.filterByDistance {
	max-width:242px;
	margin:0 auto;
}
.filter-modal-container .filter-button {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.filter-modal-container .filter-button .btn .caret {
	margin-left:3px;
}
span.base {
	vertical-align: baseline;
}
#metadata-content {
	max-width:215px;margin:10px auto 0;
}
#visitdate-quantity {
	max-width:115px;float:left;
}
#visitdate-input {
	max-width:280px;margin:10px auto 0;
}

/* input[type="datetime-local"]:before{
    content: 'Enter date: ';
    color: #000;
    text-align: center;
    float:left;
} */
#sortModal .modal-dialog {
	max-width:500px;
	margin:30px auto;
}
#sortModal .row {
	margin:0;
}
.sort-modal-content {
	margin:20px 0;
}
#modalByDistance #latitude, #modalByDistance #longitude, #sortModal #distance-latitude, #sortModal #distance-longitude {
	max-width:150px
}
#modalByDistance #latitude, #distance-latitude {
	float:left;
	margin-right:3px;
}
.match-count-sort-form .row {
	margin:13px 0 !important;
}
.options-menu {
	position:absolute;
	right:10px;
	bottom:8px;
}
.option-menu-button {
	padding: 3px 4px;
}
.ellipsis {
	background:url(../images/ellipsis.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position: 50% 50%;
	width:15px;
	height:15px;
	float:right;
}

.lens-editor .dropdown-menu li.active a {
	background:none;
	color:#333;
}
.lens-editor .dropdown-menu li.active a::after {
	content: '✓';
	background:transparent;
	padding-left:8px;
}
.lens-editor .dropdown-menu li.active a:hover {
	background:#f5f5f5 !important;
	color:#262626
}
.lens-editor .dropdown-menu li.active a:focus {
	background:#f5f5f5 !important;
	outline: dotted 1px #000;
}

#duplicate-copy-prompt {
	display:none;
	padding:20px;
	margin:10px 0;
	background:#fcf8e5;
	border:1px solid #f7eedc;
	border-radius:3px;
}
#duplicate-copy-prompt.show-lens-prompt {
	display:inline-block;
}
#duplicate-copy-prompt p {
	font-size: 14px;
	color:#bb995d;
	line-height: 17px;
	margin-bottom:0;
}
#duplicate-copy-prompt .row {
	display: flex;
  align-items: center;
  justify-content: center;
}
#duplicate-copy-prompt .save {
	margin-top:0;
}

#submitted-lenses-review-prompt {
	display:none;
	padding:20px;
	margin:10px 0;
	width:100%;
	background:#d4ebf5;
	border:1px solid #b4e5ee;
	border-radius:3px;
}
#submitted-lenses-review-prompt.show-lens-prompt {
	display:inline-block;
}
#submitted-lenses-review-prompt p {
	font-size: 14px;
	color:#347da1;
	line-height: 17px;
	margin-bottom:0;
}
#submitted-lenses-review-prompt h4 {
	color:#347da1;
	margin-top:0;
	margin-bottom:15px;
}
#submitted-lenses-review-prompt .row {
	display: flex;
  align-items: center;
  justify-content: center;
}
#submitted-lenses-review-prompt .save {
	margin-top:0;
}
.btn-primary.make-lens-public,
.btn-primary.make-lens-public:hover,
.btn-primary.make-lens-public.disabled:hover,
.btn-primary.make-lens-public:active,
.btn-primary.make-lens-public:focus,
.btn-primary.make-lens-public.disabled:focus{
	background:#3b82c0;
	border:1px solid #457db8;
	margin-right:0;
	margin-top:8px;
}
.btn-default.reject,
.btn-primary.make-lens-public {
	min-width:138px;
	padding:6px 12px;
	max-width:138px;
}
