
/* Craig's basic HTML5 styles 
body {background-color:#fff6ab;}
section {padding-bottom:10px;}
section h4 {margin:10px 0px 10px 0px; padding:0px 0px 0px 0px;}
section ol {margin:0px 0px 10px 26px; padding:0px 0px 0px 0px;}
.color {padding-left:9px; padding-right:9px; background-color:#cccccc; margin-right:8px;}
.current-page {background-color:#d4d4d4;}
.prev-page {background-color:#ffbebe;}
.next-page {background-color:#c4ffbe;}
.color {padding-left:9px; padding-right:9px; background-color:#cccccc; margin-right:8px;}
*/

/* Cantaloupe styles */

@import url(http://fonts.googleapis.com/css?family=Lato:900,400);

article {
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	max-width: 1040px;
	margin: 0px auto;
	padding: 48px 72px;
	min-height: 100%;
	box-shadow: 0px 0px 10px #666;
	line-height: 24px;
}

h1 {
	font-family: 'Lato', Arial, sans-serif;
    font-size: 49px;
    line-height: 60px;
    margin-top: 24px;
    margin-bottom: 48px;
}

h2 {
	font-family: 'Lato', Arial, sans-serif;
    font-size: 28px;
    line-height: 48px;
    margin-top: 48px;
    margin-bottom: 24px;
}

h3 {
	font-family: 'Lato', Arial, sans-serif;
    font-size: 21px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}

h4 {
	font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}

section {
	clear:both;
}

p, ul {
    margin-top: 0px;
    margin-bottom: 24px;
}

small, aside {
    font-size: 12px;
}

h1,h2,h3,h4 {
	font-weight: 900;
}

a { color: #026697; text-decoration: none; }
a:hover { text-decoration: underline; }

b,strong { font-weight: 900; }

aside { display: none; }

span[property="dcterms:description"] { display: none; }

#header {
	font-family: 'Lato', Arial, sans-serif;
	color: #a6a6a6;
	font-weight: 900;
	line-height: 24px;
	background: url(images/book.png) no-repeat;
	padding-left: 40px;
	margin-bottom: 24px;
}

#header a {
	color: #a6a6a6;
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
	color: #a6a6a6;
}

.mediaelement {
	margin-bottom: 24px;
}

.mediaContainer,.mediaElementFooter {
	border: none;
	background-color: inherit;
}

.mediaElementFooter {
	margin-top: 12px;
	height: auto;
}

.mediaElementFooter div {
	font-size: 12px;
	line-height: 16px;
	font-family: 'Lato', Arial, sans-serif;
	color: #666;
}

.mediaElementHeader {
	display: none;
}

/*[property="sioc:content"] div,p {
	max-width: 620px;
}*/

.body_copy {
	max-width: 620px;
}

.slot.right {
	margin-top: 10px;
	margin-left: 48px;
	float: right;
	clear: right;
}

.slot.left {
	margin-top: 10px;
	margin-right: 48px;
	float: left;
	clear: left;
}

.slot.left .mediaElementFooter {
	max-width: 212px;
}

.paragraph_wrapper {
	max-width: none !important;
	/*clear: both;*/
}

.float_spacer {
	width: 206px;
	height: 72px;
	float: right;
}

.mediaObject {
	background-color: black;
}

.dropcap {
	float: left;
	font-size: 76px;
	line-height: 76px;
	margin: 0 15px 5px 0;
}