
.annobuilder {
	/*margin-top: -41px;*/
	margin-right: 2px;
	margin-bottom: 40px;
}

.annobuilderWarning {
	text-align: center;
	margin-bottom: 50px;
}

.annotationListContainer {
	position: relative;
	height: auto;
	width:100%;
	border: solid 1px #cbcbcb;
}

.left_column {
	position: absolute;
	height: 100%;
	width:250px;
	border-right: solid 1px #cbcbcb;
	margin-right: 10px;
	background: #ebebeb;
}

.annotationList {
	height: 100%;
	overflow:auto;
}

.annotationChip {
	line-height: 115%;
	padding: 5px 0 2px 10px;
	font-size: 90%;
}

.annotationTitle {
	white-space: nowrap;
	overflow: hidden;
}

.annotationForm {
	position: relative;
	margin-left: 260px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.annotationFormMessage {
	position: relative;
	margin-left: 260px;
	padding: 10px;
	height: 220px;
}

.form_fields {
	width: 500px;
	border-spacing: 10px;
	table-layout: fixed;
	border-collapse: inherit;
}

.field {
	width: 90px;
}

.value {
	text-align: left;
}

.value a {
	cursor:pointer;	
}

#saveLink, #doneMessage {
	margin-right: 5px;
}

#spinner_wrapper {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.selectedAnnotationRow {
	background-color:#b5d5ff !important;
}

.annotationFooterControls {
	padding: 10px 0 10px 0;
}

.annotationFooterLeft {
	float:left;
	text-align:left;
	width:49%;
}

.annotationFooterRight {
	float:right;
	text-align:right;
	width:49%;
}

.button_bar {
	position: relative;
	top: -25px;
	border-top: 1px solid #cbcbcb;
	height: 24px;
	line-height: 18px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* W3C */
}

.bar_button {
	display: inline-block;
	border-right: 1px solid #cbcbcb;
	font-weight: normal;
	color: #858585;
	font-size: 13px;
	padding: 3px 0;
	width: 40px;
	line-height: 18px;
	text-align: center;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* W3C */
}

.bar_button:hover {
	text-decoration: none;
	background: #d4d4d4; /* Old browsers */
	background: -moz-linear-gradient(top,  #d4d4d4 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d4d4), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d4d4d4 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d4d4d4 0%,#e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d4d4d4 0%,#e7e7e7 100%); /* IE10+ */
	background: linear-gradient(top,  #d4d4d4 0%,#e7e7e7 100%); /* W3C */
	box-shadow: 0px 1px 1px #888 inset;
}

.help_button {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 8px;
	font-size: 10px;
	margin-left: 5px;
	font-weight: bold;
	color: white;
	background: #858585;
	cursor: pointer;
}

.help_button {
	float: right;
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	border-radius: 8px;
	font-size: 12px;
	margin-left: 0px;
	margin-top: 3px;
	background: #858585;
	cursor: pointer;
}

.help_button:hover {
	background: #666;
}

.help_button a {
	color: white;
	font-weight: bold;
}

.help_button a:hover {
	text-decoration: none;
}
 
div.help_button em {
	background: #858585;
	color: white;
	font-weight: normal;
	width: 150px;
	position: absolute;
	top: 0px;
	left: 30px;
	padding: 5px;
	text-align: left;
	line-height: 13px;
	z-index: 4;
	display: none;
	font-style: normal;
	border-radius: 8px;
	box-shadow: 0px 2px 2px #ccc;
}