@import url(//fonts.googleapis.com/css?family=Lato:900,400);

html {width:100%;}
body {background-color:#ffffff; margin:22px 70px 32px 70px; font-family: 'Lato', Arial, sans-serif;}
body > *:not(.modal-backdrop):not(.modal) {max-width:1040px; margin-left:auto; margin-right:auto;}

.avatar.small {width:25px; margin-bottom:0.5rem; margin-right:0.5rem;}
.scalar_logo.small {width:18px; margin-bottom:0.5rem; margin-left:0.5rem;}
.s {color:#777777; font-weight:normal;}
.page-header {margin-top:0px;}
.page-header h4 {margin-bottom:0px;}
.page-v-spacer {margin:0px 0px 20px 0px;}
.modal-open .modal {overflow-y:hidden;}
.modal-content {border-radius:0;}
.modal-footer {border-top:none;}
.modal small {color:#777777; float:left;}
.alert {margin-left:15px; margin-right:15px;}
.table-hover tbody tr {cursor:pointer;}
label, small, th {color:#777777;}
.form-horizontal .label-text {text-align:left; font-weight:normal; float:left; padding-top:7px;}
.form-group .input-group-btn > .btn {border-top-right-radius:0; border-bottom-right-radius:0; height:34px; border-right:0;}
.form-group .form-control[readonly] {background-color:#ffffff;}
.col-overrun-left .label-text {padding-top:0px;}
@media (min-width:768px) {
	.col-overrun-left {margin-left:-16px;}
	.col-overrun-left .label-text {padding-top:7px;}
}
.thumb-wrapper {background-color:#eeeeee; border-radius:4px; margin:6px 12px 0px 0px; padding:8px 13px 8px 13px; display:inline-block;}
.thumb-wrapper img {max-width:120px; max-height:120px; vertical-align:top;}
.showme {visibility:hidden;} /* will be show via some JS action */ 

header .dropdown {display:inline-block;}
header nav {text-align:left; padding-top:0px;}
header nav h5 {font-weight:normal;}
header h4 {margin-bottom:0px;}
header h5 {margin-bottom:14px;}
@media (min-width:768px) {
	header nav {text-align:right; padding-top:6px;} 
	header h4, header h5 {margin-bottom:10px;}
}
.dropdown > a {color:inherit; text-decoration:none;}
.dropdown-menu > li > a.active {font-weight:bold;}

.user table th:first-of-type, .user table td:first-of-type {padding-left:15px;}
.user table th:last-of-type, .user table td:last-of-type {padding-right:15px;}

.nav-tabs {margin-bottom:30px;}
.tab-pane .loading {text-align:center; color:#777777; margin-top:20px;}
.tab-pane.active .alert {margin-top:-12px;}

#custom_style {margin-bottom:6px;}
.predefined_wrapper .select select, .predefined_wrapper .button input  {margin-bottom:3px;}
.predefined_wrapper .desc {color:#777777; margin:0px 12px 0px 0px;}

#selectInterfaceModal .container-fluid {padding-left:0px; padding-right:0px;}

#toc-wrapper .list-group {margin-bottom:7px;}
#toc-wrapper .list-group-item {padding-top:7px; padding-bottom:7px;}
#toc-wrapper .list-group .glyphicon {color:#777777; padding-top:3px; cursor:pointer;}
#toc-wrapper .list-group .glyphicon:hover {color:#337ab7;}
#toc-wrapper .list-group .glyphicon:first-of-type {padding-right:12px;}

.bootbox button.close {background:url(../images/close_icon.png) no-repeat; width:30px; height:30px; margin-top:-2px; opacity:1;}
.bootbox button.close:hover {background-image:url(../images/close_icon_hover.png); opacity:1;}