
label {cursor:pointer;}

.form_fields td {padding-top:5px; padding-bottom:5px;}

.field {width:100px;}
.field_middle {vertical-align:middle;}
.field_wide {width:180px;}
.field small {white-space:normal;color:#555555;padding-right:10px;}
.predicate {padding-bottom:0px !important;}
.field_bump_down {margin-top:7px;}
.spacer {padding-bottom:15px !important;}

#page_meta {width:100%;}
#page_meta td {padding-top:0px; padding-bottom:10px;}

#metadata_rows, #other {width:100%; margin-top:10px;}
#metadata_rows td, #other td {padding-top:0px; padding-bottom:10px;}

.form_fields_sub_element {margin-top:8px;}
.form_fields_sub_element_border_top {border-top:solid 1px #cccccc; padding-top:8px;}
.form_fields_sub_element_border_bottom {border-bottom:solid 1px #cccccc; padding-bottom:8px;}

.edit .input_text {width:100%;}
.edit .input_textarea {width:100%; height:350px;}
.input_gap {margin-top:6px;}

.error {background:#ebb8b8; color:#000000; padding:5px; margin:0px 0px 10px 0px;}
.saved {background:#b8ebb9; color:#000000; padding:5px; margin:0px 0px 10px 0px;}
.notice {padding:5px; margin:0px 0px 20px 0px;}

.right_buttons  {text-align:right; margin:1em;}
.center_buttons {text-align:center; margin:1em;}

.input_tag {width:75px; margin-right:10px; margin-bottom:6px;}
.add_another {white-space:nowrap;}

.make_path {white-space:nowrap;background:white;padding:2px 3px 2px 3px;}

#type_select_primarytopic {white-space:nowrap;}

.edit_relationship_list {margin:12px 0px 10px 0px; padding:0px 0px 0px 0px;}
.edit_relationship_list li {margin-left:18px; padding-bottom:2px; padding-top:2px;}

.remove {font-size:smaller; font-weight:normal;}

.rel_link {
	color:#002a3f;
}

.ui-sortable li {cursor:pointer;}
.ui-sortable li:hover {background:#ddd;}

#path_color {margin-top:22px;}
#path_continue_to {margin-bottom:12px;}
#has_path, #has_tag, #has_annotation, #has_reply {margin-top:20px;}

.editor_generic_popup {
	border:solid 6px #999999;
	background:#ffffff;
	width:600px;
	min-height:200px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:9;
	font-size:13px;
	padding:10px;
}

.wysiwyg_options {margin-bottom:-3px;}

#expand_rel {display:none; float:right; font-size:11px;}
#expand_styling {display:none;} /* TODO until can sort out how styling relates to media */

.edit_page_arrow {padding-left:20px; background-repeat:no-repeat; background-position:0 2px; cursor:pointer;}
.edit_page_arrow:hover {text-decoration:none;}
.edit_page_arrow_right {background-image:url(../images/edit_page_icon_right.png); }
.edit_page_arrow_down {background-image:url(../images/edit_page_icon_down.png);}

/* Content selector */

#listeditor_editbox {
	position:absolute; z-index:9; top:0px; left:0px;
	background:white; display:none;
	width:800px;
	border-top:solid 1px #999; 
	border-left:solid 1px #999; 
	border-bottom:solid 2px #999; 
	border-right:solid 2px #999; 
	padding:15px;
}
#listeditor_editbox .select_header {float:left; margin-right:25px;}
#listeditor_editbox .remove_link {float:right; font-weight:bold; font-size:18px; padding-right:10px;}
#listeditor_editbox .input_text {width:250px;}
#listeditor_editbox .filters {margin-top:12px;}
#listeditor_editbox .fetch_options {font-weight:bold;}

#listeditor_editbox .content_wrapper {overflow-y:auto; margin-top:10px; border: 1px solid #ccc; -webkit-overflow-scrolling: touch;}
#listeditor_editbox .content {margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; }

#listeditor_editbox .add_selected_wrapper {float:right;margin-top:15px; margin-bottom:20px;}

#listeditor_editbox #search_count {font-weight:bold;}
#listeditor_editbox .clear_link {font-weight:normal;}
#listeditor_editbox .create_new {clear:both; padding:0px 0px 0px 0px;}
#listeditor_editbox .create_new form {margin-top:8px; margin-bottom:4px;}
#listeditor_editbox .create_new .new_title {width:302px;}
#listeditor_editbox .create_new .new_desc {width:470px;}
#listeditor_editbox .create_new .new_content {margin-top:3px; margin-right:6px; margin-bottom: 3px; width:790px; height:32px;}
	
#listeditor_editbox .content { font-size: 13px; border-collapse: collapse; width:100%; background:#eee;}
#listeditor_editbox .content thead {font-size: 10px;}
#listeditor_editbox .content .select_col {width:30px;text-align:center;}
#listeditor_editbox .content .title_col {width:200px;}
#listeditor_editbox .content .desc_col {}
#listeditor_editbox .content .preview_col {width:65px;}
#listeditor_editbox .content td {padding:6px;vertical-align: top;cursor:pointer;}
#listeditor_editbox .content tr:hover {background:#ddd;}
#listeditor_editbox .content thead tr:hover {background:#eee !important;}
#listeditor_editbox .content .descr {color: #888;}	
#listeditor_editbox .content_loading {display:none; font-weight:bold; color:#e32626;}

/* Media options */

.media_options {
	position:absolute; z-index:9;
	background:#eeeeee; 
	top:30%; bottom:30%; left:30%; right:30%;
	border-top:solid 1px #999; 
	border-left:solid 1px #999; 
	border-bottom:solid 2px #999; 
	border-right:solid 2px #999; 
	padding:15px;}

#alignment_popup {
	position:absolute;top:0px;z-index:9;border:solid 2px #999999; background:white;
	width:600px; padding:40px 20px 40px 20px; min-height:300px;
}

.styling_table {width:100%; margin:0px 0px 10px 0px; padding:0;}
.styling_table td {padding-top:0px; white-space:nowrap; padding-right:10px; line-height:100%;}
.styling_table select {max-width:190px;}
.styling_sub td {border-top:solid 1px #aaaaaa; padding-top:5px;}
td.styling_last {text-align:right; padding-right:0px;}
.styling_table .thumb_preview {height:65px;border:solid 1px #cccccc;}
.styling_table td small {color:#555555;}
.styling_tabl_hl {background:#fff5a5;}
.custom_javascript_add_new {
	margin:8px 0px 0px 0px; white-space:normal;
	border:solid 1px #cccccc; background:#eeeeee; padding:6px 10px 2px 10px; font-size:11px; 
}
.custom_javascript_add_another {margin-top:12px; margin-bottom:6px;}
.custom_javascript_add_new > div {margin-bottom:4px;}
.custom_javascript_add_new select {width:200px;}
.custom_javascript_text_input {width:300px;}
