html {}
body {
	margin:0px 0px 0px 0px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;  color:#000000; font-size:0.8em;
	background-color:#ffffff;
	 /* If a background image is set */
	background-repeat:repeat; 
	background-attachment: fixed;
}

.ui-widget {font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size:1.0em;}

/* Tags */

h1, h2, h3 {margin-top:0px;}  /* avoid h# tag bumpdown */
h1, h2, h3 {margin-bottom:0px;}  /* avoid excessive gaps */
h4 {margin-top:3px; margin-bottom:3px;}
a {text-decoration:none; color:#026697;}
a:hover {text-decoration:underline;}
img {border:0;}
div {margin:0; padding:0;}
p {margin-top:0px; padding-top:0px;}
pre {background:#dddddd; padding:10px;}
label {cursor:pointer;}
code { font-size: 13px; color: gray; }

/* Global */

.panel {background:#eeeeee; border:solid 1px #cccccc; padding:10px; margin-bottom:6px;}
.thin_panel {background:#eeeeee; border:solid 1px #dddddd; padding:5px 7px 5px 7px; margin-bottom:6px;}
.inline {display:inline;}
.right {float:right;}
.smaller {font-size:smaller;}

.line {background:#555555; color:#555555; margin-top:0px; margin-bottom:0.3em; overflow:hidden;}
.thinline {height:1px;}

.nodots {list-style-type:none; margin-left:0px !important;}

.hr {background:#ccc; color:#ccc; height:1px; overflow:hidden; border:0;}

.border_radius {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.disabled_link {color:#aaa; cursor:pointer;}

/* Components */

#ie_warning {display:none;}

.saved {background:#deeedc; border:solid 1px #cccccc; padding:8px 10px 8px 10px; margin-bottom:6px;}
.saved > p {margin:0px 0px 0px 0px; padding:0px 10px 0px 10px; line-height:140%;}
.error {background:#efcdcd; border:solid 1px #cccccc; padding:8px 0px 8px 0px; margin-bottom:6px;}
.error > p {margin:0px 0px 0px 0px; padding:0px 10px 0px 10px; line-height:140%;}
.notice {background:#eeeeee; padding:8px 0px 8px 0px; margin-bottom:6px;}
.notice > p {margin:0px 0px 0px 0px; padding:0px 10px 0px 10px; line-height:140%;}

.form_fields {width:100%;}
.field {width:50px; white-space:nowrap; padding-right:6px; vertical-align:top; padding-top:3px;}
.field_right {text-align:right;}
.value {text-align:right;}
.add_another {font-size:9px;}
.textarea_field {padding-top:4px;}
.input_text {width:100%; margin-bottom:2px;}
.input_textarea {width:100%; height:200px;}
.input_button_wrapper_right {padding-top:10px; text-align:right;}
.textarea_content {height:350px;}
.form_buttons {padding-top:20px;}
.desc {padding-top:20px; padding-bottom:10px;}
.buffer {height:14px;}
.required {color:red; font-size:smaller;}
.thin_button {border:solid 1px #aaaaaa;}

.collapse_handle {background-image:url(images/down-arrow.png); background-repeat:no-repeat; background-position:left center; padding:0px 0px 0px 14px; margin-bottom:10px; width:100px; white-space:nowrap;}
.collapse_handle_margin {margin-bottom:14px;}

.wysiwyg {margin-top:6px;}
.wysiwyg a { outline: none; }
.wysiwyg a:hover  { outline: none; }
.wysiwyg a:active { outline: none; }
.textarea_tab {background:#fff; border:solid 1px #cccccc; padding:6px 10px 4px 10px;}
.wysiwyg_handle_selected {background:#ddd; color:#222222;}
a.wysiwyg_handle_selected:hover {text-decoration:none;}
a.textarea_tab  { outline: none; }
a.textarea_tab:hover  { outline: none; }
a.textarea_tab:active { outline: none; }
fieldset.form_section {border-top:solid 1px #aaaaaa; border-right:0; border-bottom:0; border-left:0;}
fieldset.form_section legend {padding-left:10px; padding-right:10px;}

.search_archive_results {width:100%;}
.search_archive_results td {padding-top:8px; padding-bottom:6px; padding-left: 10px; border-bottom:solid 1px #ccc; }
.search_archive_results .thumbnail {width:100px;}
.search_archive_results .thumbnail img {width:100px; border: 1px solid #444; }
.search_archive_results .title {font-weight:bold; margin:0px 0px 4px 0px; padding:0; background:0; font-size:13px; padding:0; height:inherit;}
.search_archive_results .desc {font-weight:normal; margin:0px 0px 4px 0px; padding:0;}
.search_archive_results .creator {font-weight:normal; margin:0px 0px 4px 0px; font-size:smaller; padding:0;}
.search_archive_results .filename {font-weight:normal; font-size:smaller; padding:0; margin-bottom: 1px; line-height: 200%;}
.search_archive_results .import_error {font-weight:normal; font-size:smaller; padding:0; margin-bottom: 0px; line-height: 200%;}
.search_archive_results .preview { padding-right: 10px; }
.search_archive_results .other_in_group {background-color:#eeeeee; display:none;}
.search_archive_results .more_in_group {font-weight:normal; margin:6px 0px 0px 5px; font-size:smaller; padding:0;}
.search_archive_results .more_in_group img {margin:3px 6px 0px 0px;}
.search_archive_results .to_hide {display:none;}
.search_archive_results .file_error {background-color:#ffeded;}

.search_results {margin-left:0; padding-left:0;}
.search_results li {margin:0px 0px 12px 0px;}
.search_results .versions {display:none; margin:10px 0px 10px 0px;}

.search_results_header { display: none; margin: 10px 0; }
.search_results_footer { display: none; margin: 20px 0; text-align: right;}
.search_results_wrapper { display:none; height: 500px; overflow-y: auto; border: 1px solid #ccc; margin-top:10px; background: #eee; -webkit-overflow-scrolling: touch;}

.rdfbrowser {border-bottom:solid 1px #aaaaaa; margin-bottom:5px; margin-top:5px; padding-bottom:5px; width:100%;}
.rdfbrowser li {display:inline;}
.rdfbrowser_thumbnail {width:100px; height:75px; margin-left:10px; margin-right:20px;}
.rdfbrowser_button {font-size:smaller; border:solid 1px #aaaaaa; margin-left:20px; margin-right:4px; }
.rdfbrowser_morelink {color:blue !important; font-size:smaller;}
.rdfbrowser_byline {font-size:smaller;}

.sq {width:300px;}  /* search query */
.hl {background:#fefe50;}  /* search highlighting */

.addthis_toolbox {margin-top:18px; margin-bottom:14px; white-space:nowrap;}

.listview {padding-left:0px;}
.listview li {padding-top:4px; padding-bottom:4px; cursor:pointer;}
#versionForm {margin-top:0px; margin-bottom:30px;}
.versions_list li { padding-bottom: 10px; }
.listview_thick_header {background:#eeeeee; padding:6px 0px 6px 0px; margin-bottom:8px;}
.listview_annotation_of, .listview .listview_tag_of {margin-bottom:20px;}

.close_link {padding-right:5px; float:right;}
.close_link a {
	padding-right:0px; padding-left:30px;
	background-image:url(images/close_icon.png); background-repeat:no-repeat; background-position:right top;
}
.close_link a:hover {text-decoration:none}

/* Cover */

.cover {padding: 1em 0 1.6em 0; line-height:140%; margin-top:8px; margin-bottom:20px;}
.cover_title {line-height:125%; font-size:22px; margin-bottom:4px; cursor:pointer;}

/* Path bar */

.pathnavs {
	position:relative; background:#fff; height:100%; 
	padding-left:10px; padding-right:0px; padding-top:4px; padding-bottom:7px;
	line-height: 140%;
}
.alternate_path .prev {filter:alpha(opacity=75); -moz-opacity:0.75; -khtml-opacity: 0.75; opacity: 0.75;}
.alternate_path .current {filter:alpha(opacity=75); -moz-opacity:0.75; -khtml-opacity: 0.75; opacity: 0.75;}
.alternate_path .next {filter:alpha(opacity=75); -moz-opacity:0.75; -khtml-opacity: 0.75; opacity: 0.75;}

.path_nav_with_image {margin-left:40px;} 
.path_image {width:49px; height:37px;}
.path_left {float:left; text-align:left; position:relative;}
.path_left .path_title_link {font-size:1.1em; padding-left:20px;}
.path_right {float:right; white-space:nowrap; text-align:right; position:relative;}
.path_right .wrapper {margin-right:0;}
.path_bottom {border-top:solid 1px #ccc; margin-top:4px; margin-left:20px;} 
.path_bottom_no_margin {margin-left:0px;}
.path_single_line {white-space:nowrap; overflow:hidden;}
.path_bottom .text_wrapper {float:left; margin-right:8px;}
.path_table {width:100%; padding-bottom:14px;}
.path_table .path_table_left {text-align:left; width:20%; padding:0px 0px 0px 0px;}
.path_table .path_table_center {text-align:center; width:60%;}
.path_table .path_table_right {text-align:right; width:20%;}

.path-pulldown .current_path {background:#eeeeee;}
.path-pulldown .pulldown-content {padding:17px 20px 17px 20px; background:white;}
.path_nav_color {
	background:#aaaaaa; width:10px; height:10px; float:left; position:relative; left:0px; top:5px; margin-right:8px;
	/*-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;*/ cursor:pointer;	
}
.path_nav_color_primary {background:#555555; position:absolute; left:0px; top:4px; }
.path_nav_color_expand_height {height:37px;}
.path_nav_color ul {width:250px; padding-top:3px; padding-bottom:3px; text-align:center;}
.path_nav_color li {text-align:center;}
.path_nav_color .color_path_title {font-size:1.1em;}
.path_nav_previous_btn {white-space:nowrap; background-image:url(images/previous_btn_light.png);background-repeat:no-repeat;padding-left:20px;background-position:0px 2px;}
span.path_nav_previous_btn {color:#888888; background-image:url(images/previous_btn_faded.png);}
.path_nav_next_btn {white-space:nowrap; background-image:url(images/next_btn_light.png);background-repeat:no-repeat;padding-right:20px;background-position:right 2px;}
span.path_nav_next_btn {color:#888888; background-image:url(images/next_btn_faded.png);}

.inline_icon_link.page {
	background-image: url(images/page_icon.png);
}
.inline_icon_link.media {
	background-image: url(images/media_icon.png);
}
.inline_icon_link.tag {
	background-image: url(images/tag_icon.png);
}
.inline_icon_link.annotation {
	background-image: url(images/video_icon.png);
}
.inline_icon_link.path {
	background-image: url(images/path_icon.png);
}
.inline_icon_link.reply {
	background-image: url(images/response_icon.png);
}
.inline_icon_link.meta {
	background-image: url(images/meta_icon.png); float:right; 
}
.inline_icon_link.meta li {
	color:black;	
}
.inline_icon_link {
	background-position: left center; background-repeat: no-repeat; padding-left: 26px; cursor: pointer;
}

/* Other bars */

#path_of_list {clear:both; padding-bottom:20px;}
#path_of_list ol {margin:17px 0px 0px 27px; padding:0px 0px 0px 0px;}
#path_of_list ol li {margin:0px 0px 0px 0px; padding:0px 0px 8px 0px;}

#tag_of_list {clear:both; padding-bottom:10px;}
#tag_of_list > div {margin-top:12px; margin-bottom:8px; margin-left:0px;}

#reply_of_list {clear:both; padding-bottom:10px;}
#reply_of_list > div {margin-top:12px; margin-bottom:8px; margin-left:0px;}

#referenced {clear:both; padding-bottom:10px; text-align:center;}
#referenced > div {margin-top:12px; margin-bottom:8px; margin-left:0px;}

#annotation_of_list {clear:both; padding-bottom:10px;}
#annotation_of_list > div {margin-top:12px; margin-bottom:8px; margin-left:0px;}

#reply_list {margin-top: 0; padding-bottom:18px;}
.replies {padding-top:0; margin-top:0;}
#comments {text-align:left;}

/* Columns */

.left {width:160px; margin:0; position:absolute; top:0px; left:0px;} 
.middle { margin:0 0 0 162px; max-width:850px;}

/* Stripe */
#stripe {margin:16px;}

/* Content */

#middle_column {padding-bottom:1px;}
.screen_author {font-weight:normal;}
.review_of, .commentary_of {background:#eeeeee; padding:4px; }
.description {background:#eeeeee; padding:6px; margin-bottom:14px;}

.page_title_color {
	background:#aaaaaa; width:10px; height:10px; float:left; position:relative; left:0px; top:5px; margin-right:8px;
	cursor:pointer;	
}

.content {line-height:143%; white-space:normal;}
#content_wrapper { 
	padding:1.5em 0 0 0; margin:0 0 0 0; position:relative; min-height:300px; 
}
#content {
	line-height:143%; padding: 0 0 20px 0; font-family:'Georgia', serif; font-size:1.1em; position:relative;
}

.content_title { font-size:1.1em; margin-bottom:1.5em; }
.contains {font-weight:normal; color:#666666; font-size:smaller;}
.title_icon {margin-right:12px; margin-bottom:10px; margin-top:3px; float:left;}
.node_author_link {font-weight:normal;}
.metadata {margin:0px 0px 0px 0px; width:100%;}
.metadata th {border-bottom: solid 1px #cccccc;}
.metadata td {padding:6px 10px 6px 10px; background:#eeeeee;}

.content_description {padding:8px 8px 8px 8px; background:#dddddd; margin:0px -8px 20px -8px;}
.category_description {padding:8px 8px 8px 8px; background:#dddddd; margin:0px -8px 20px -8px;}
.category_description_narrow_margin {margin-bottom:2px;}

.generic_button {
	border: 1px solid #aaa;
	border-radius: 3px;
	font-weight: normal;
	color: black;
	font-size: 10px;
	padding: 3px 8px;
	box-shadow: 0px 1px 1px #ccc;
	cursor: pointer;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#ebebeb 100%); /* W3C */
}
.generic_button:hover {
	text-decoration: none;
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e7e7e7 0%, #d4d4d4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e7e7e7 0%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e7e7e7 0%,#d4d4d4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e7e7e7 0%,#d4d4d4 100%); /* IE10+ */
	background: linear-gradient(top,  #e7e7e7 0%,#d4d4d4 100%); /* W3C */
}
.generic_button.large {
	font-size: 12px;
	padding: 6px 16px;
}
.generic_button.default {
	border-color: #57acdb;
	font-weight: bold;
	background: #d5eaf6; /* Old browsers */
	background: -moz-linear-gradient(top,  #d5eaf6 0%, #b9ddf0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5eaf6), color-stop(100%,#b9ddf0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d5eaf6 0%,#b9ddf0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d5eaf6 0%,#b9ddf0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d5eaf6 0%,#b9ddf0 100%); /* IE10+ */
	background: linear-gradient(top,  #d5eaf6 0%,#b9ddf0 100%); /* W3C */
}
.generic_button.default:hover {
	font-weight: bold;
	background: #8dd1f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #8dd1f6 0%, #73c6f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dd1f6), color-stop(100%,#73c6f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8dd1f6 0%,#73c6f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8dd1f6 0%,#73c6f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8dd1f6 0%,#73c6f4 100%); /* IE10+ */
	background: linear-gradient(top,  #8dd1f6 0%,#73c6f4 100%); /* W3C */
}

.generic_button.icon {
	background-position: 8px 7px; background-size:16px; background-repeat: no-repeat; padding-left: 30px !important;
}
.generic_button.icon:hover {
	background-position: 8px 7px; background-size:16px; background-repeat: no-repeat; background-color: #eee;
}
.generic_button.icon.path {
	background-image: url(images/path_icon.png); 
}
.generic_input {
	font-size: 10px;
	padding: 3px 2px;
}
.generic_input.large {
	font-size: 12px;
	padding: 5px 4px;
}
.editbar {
	border-top:solid 1px #ccc;
}
.edit_options {padding-top:14px; padding-bottom:16px; text-align:center; background:#eeeeee;}
.edit_options .generic_button {border-color: #bbb;}

/* Live Annotations */

.live_annotation {
	position:absolute; left:0px; right:0px; top:0px; line-height: 18px; 
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size:13px;
	color: #000; opacity:0; 
}
.live_annotation .annotation_content {
	padding: 25px 30px 45px 30px;
	border:solid 1px #bbb; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;	
	background:#ddd;
}
.live_annotation .annotation_text {
	position:relative;
	margin-top:20px; 
	line-height:143%; font-family:'Georgia', serif; font-size:1.1em;
}
.live_annotation .title {
	margin-bottom:0px;
	font-weight: bold;
}
.live_annotation .timestamp {
	position:relative; font-size: 10px; z-index:8;
}
.live_annotation .options {
	float:right; position:relative; font-size: 11px; z-index:9;
}
.popout_live_annotation {
	min-height:100%; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;	
}
/*
.live_annotation .arrow { 
	background-image:url(../../widgets/liveannotations/live_anno_up_arrow.png); background-position:center top; background-repeat:no-repeat;
 	position:absolute; top:-15px; left:0px; right:0px; height:17px; z-index:8;
}
*/

/* Comments */

#comments {display:none;}
.comments {
	padding:30px 4em 30px 4em; background-color: #fff; overflow:auto;
	position:relative; top:0px; bottom:0px; left:0px; right:0px; 
}
.discussion {font-family: Georgia, serif; font-size: 14px; line-height: 19px; padding-bottom: 20px;}
#comment_contribute .comment_form_table {font-size: 13px; width:100%;}
#comment_login .comment_form_table {font-size: 13px; width:275px;}
.comment_form_field {font-size: 13px;}
.comment {border-bottom: 1px solid #ccc; background-color: #fff; padding: 20px 0 6px 0;}
.comment:first-child {border-top: 1px solid #ccc;}
.comment_title {font-weight: bold;}
.comment_attrib {font-size: 12px; margin-top:12px;}
.author_comment {background-color: #ddd; padding-left: 20px; padding-right: 20px;}
.commentator_comment {background-color: #eee; padding-left: 20px; padding-right: 20px;}

/* Background audio */

.background_audio {float:right; margin-top:3px;}
.background_audio_link {display:none;}
.background_audio_stop_link {cursor:pointer;}
#background_audio_player {visibility:hidden; display:inline;}

/* Footer */
.footer {background:white; clear:both;}
#footer {margin:0px 0px 0px 0px; padding:20px 0px 20px 0px;}

.authors       {}
.title-authors {font-size:10px;}
.screen-version {font-size:10px;}
.publisher     {font-size:10px;}
.poweredby     {margin-top:4px; font-size:10px;}
.help          {font-size:10px; float:right;}

.publisher-thumb {float:left; max-width:280px; margin-top:4px; margin-right:16px;}
.scalar_logo_box {
	background-image:url(images/scalar_logo_small.png); background-repeat:no-repeat; 
	width:50px; height:50px;
}
.scalar_logo_wrapper {
	background-image:url(images/scalar_logo_small.png); background-repeat:no-repeat; 
	padding-left:50px; background-position:0px 5px; padding-top:0px; margin-top: 0px;
	min-height: 48px; text-align:left; line-height:122%;
}

#page_created_by, #version_created_by, #screen-version-id {display:none;}

/* Content preview */
/* TODO: move this to a seperate file at some point */
.content_preview {
	border-top:solid 1px #999; 
	border-left:solid 1px #999; 
	border-bottom:solid 2px #999; 
	border-right:solid 2px #999; 
	padding:15px 20px 5px 20px; text-align:center; min-height:40px; background:white;
	position:absolute; top:0px; left:0px; 
}
.content_preview_init_hide {
	filter:alpha(opacity=0); -moz-opacity:0.0; -khtml-opacity: 0.0; opacity: 0.0;
}
.content_preview .type_bar { font-size: 11px; color:#999; margin-bottom:10px; }
.content_preview .preview_title {font-weight:bold; margin-bottom:10px; text-align:center;}
.content_preview .preview_desc {margin-bottom:10px; text-align:center;}
.content_preview .preview_close_link {float:right;}
.content_preview .preview_content {
	line-height:143%; font-family:'Georgia', serif; font-size:1.1em;
	margin-bottom:10px; text-align:left;
}
.content_preview .preview_instr { font-size: 11px; color:#999; margin-bottom: 5px; }

.content_preview_note {
	/*font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size:12px;*/
	background-color: #ddd; color: #000; 
}

/* Notes */
.note {color:#129a5e; cursor:pointer;}
.note:hover {text-decoration:underline;}

/* Resource table */
.resource_table {width:100%;}
.resource_table TD {background:#ffffff;}
.resource_table .media {background:#eeeeee;}

/* Generic inline media styles */
.inlineMediaLeft { float:left; margin-right:20px; margin-bottom:10px; }
.inlineMediaRight { float:right; margin-left:20px; margin-bottom:10px; }
.inlineMediaCenter { display:block; margin-left:auto; margin-right:auto; margin-top:10px; }

/* History browser */

.versionbrowser {
	margin:0; padding:0px 0px 0px 0px;
}
.versionbrowser li.versionbrowser_item {
	margin:0px 0px 40px 0px; padding:0; border-bottom: solid 1px #cccccc;
}
.versionbrowser_num {
	font-size:18px; color:#555555;
	padding-right:20px;
}
.versionbrowser_title {
	font-weight:normal; font-size:18px; color:#555555;
}
.versionbrowser_byline {
	color:#555555; float:right; width:50%; text-align:right;
}
.versionbrowser_content {
	margin: 14px 0em 0px 0px; padding:0px 0px 0px 0px; font-family:'Georgia', serif; font-size:1.1em; line-height:136%;
}

/* Import */

.search_results_title {background:white; padding:3px 5px 3px 5px; display:none; margin: 5px 0;}
.search_results_title img {margin-bottom:2px;}
.search_import_button {margin-top:6px;}
.input_search_query {width:300px;}
