@import url(//fonts.googleapis.com/css?family=Lato:900,400);

html {width:100%; height:100%;}
body {height:100%; background-color:#c1c1c1; margin: 0; font-family: 'Lato', Arial, sans-serif;}
.bgcolor {background-color:#ffffff; min-height:100%; max-width:1040px; margin-left:auto; margin-right:auto; padding-left:10px; padding-right:10px;}
header {padding-top:10px;}
header h4 {font-weight:900;}
table {border-collapse:initial;}

.avatar.small {width:25px; margin-bottom:0.5rem; margin-right:0.5rem;}
.scalar_logo.small {width:18px; margin-bottom:0.5rem; margin-left:0.5rem;}
.s {color:#777777; font-weight:normal;}
.page-header {margin-top:0px;}
.page-header h4 {margin-bottom:0px;}
.page-v-spacer {margin:0px 0px 20px 0px;}
.modal-open .modal {overflow-y:hidden;}
.modal-content {border-radius:0;}
.modal-header h4 {margin-top:0px; margin-bottom:0px;}
.modal-body .page-header h4 {font-weight:900;}
.modal-footer {border-top:none;}
.modal small {color:#777777; float:left;}
.alert {margin-left:15px; margin-right:15px; padding-top:9px; padding-bottom:10px;}
.alert.awaiting-comments {margin-left:15px; margin-right:15px; position:relative; margin-bottom:8px;}
.table-hover tbody tr {cursor:pointer;}
table th {font-weight:normal;}
label, small, th {color:#777777;}
.form-horizontal .label-text {text-align:left; font-weight:normal; float:left; padding-top:7px;}
.form-group .input-group-btn > .btn {border-top-right-radius:0; border-bottom-right-radius:0; height:34px; border-right:0;}
.form-group .form-control[readonly] {background-color:#ffffff;}
.form-group-bottom-margin {margin-bottom:20px;}
.col-overrun-left .label-text {padding-top:0px;}
@media (min-width:768px) {
	.col-overrun-left {margin-left:-16px;}
	.col-overrun-left .label-text {padding-top:7px;}
}
.thumb-wrapper {background-color:#eeeeee; border-radius:4px; margin:6px 12px 0px 0px; padding:8px 13px 8px 13px; display:inline-block;}
.thumb-wrapper img {max-width:120px; max-height:120px; vertical-align:top;}
.showme {visibility:hidden;}
.has-feedback .form-control-feedback {color:#999999; cursor:pointer; pointer-events:initial;}
#properties_form small {padding-top:9px; padding-bottom:10px; display:inline-block;}
#properties_form label small {padding-top: 0; padding-bottom:10px; display:inline-block;}

header .dropdown {display:inline-block;}
header nav {text-align:left; padding-top:0px;}
header nav h5 {font-weight:normal;}
header h4 {margin-bottom:0px;}
header h5 {margin-bottom:14px;}
@media (min-width:768px) {
	header nav {text-align:right; padding-top:6px;}
	header h4, header h5 {margin-bottom:10px;}
}
.dropdown > a {color:inherit; text-decoration:none;}
.dropdown-menu > li > a.active {font-weight:bold;}

.user table th:first-of-type, .user table td:first-of-type {padding-left:15px;}
.user table th:last-of-type, .user table td:last-of-type {padding-right:15px;}
.sign-out {float:right; font-size:15px; padding-top:3px;}

.nav-tabs {margin-bottom:30px;}
.tab-pane .loading {text-align:center; color:#777777; margin-top:0px; padding-top:20px; padding-bottom:30px;}
.tab-pane.active .alert {top:-12px;}
.tab-pane.active .botton_options_box .alert {top:0px; margin-bottom:0px; padding-top:6px; padding-bottom:6px; top:2px; display:none;}
.right-tab {float:right !important;}
.right-tab a:hover {background-color:white !important}
.nav-tabs > li.right-tab > a {border:0;}

#custom_style, #custom_js {margin-top:4px; margin-bottom:6px;}
.predefined_wrapper .select select, .predefined_wrapper .button input  {margin-bottom:3px;}
.predefined_wrapper .desc {color:#777777; margin:0px 12px 0px 0px;}

#selectInterfaceModal .container-fluid {padding-left:0px; padding-right:0px;}

#toc-wrapper .list-group {margin-bottom:7px;}
#toc-wrapper .list-group-item {padding-top:7px; padding-bottom:7px;}
#toc-wrapper .list-group .glyphicon {color:#777777; padding-top:3px; cursor:pointer;}
#toc-wrapper .list-group .glyphicon:hover {color:#337ab7;}
#toc-wrapper .list-group .glyphicon:first-of-type {padding-right:12px;}

.bootbox button.close {background:url(../images/close_icon.png) no-repeat; width:30px; height:30px; margin-top:-2px; opacity:1;}
.bootbox button.close:hover {background-image:url(../images/close_icon_hover.png); opacity:1;}

.awaiting-comments {padding-top:8px; padding-bottom:8px; color:#222222;}

#export-content {display:none;}
#export-content-text {margin-top:8px; width:100%; height:400px; font-size:smaller;}

.editions {padding-bottom:20px;}
.editions h3, .editions h4 {padding-top:0px; margin-top:0px; margin-bottom:6px;}

.btn-state { color: white; }
.btn-state:hover { color: white; }
.hidden-state { background-color: black; }
.draft-state { background-color: #b4b4b4; }
.edit-state { background-color: #ffa365; }
.editreview-state { background-color: #d75452; }
.clean-state { background-color: #5fc0dc; }
.ready-state { background-color: #72b376; }
.published-state { background-color: #198f1e; }

.hidden-state:hover { background-color: #444; }
.draft-state:hover { background-color: #888888; }
.edit-state:hover { background-color: #be7a4e; }
.editreview-state:hover { background-color: #a13e3d; }
.clean-state:hover { background-color: #4891a5; }
.ready-state:hover { background-color: #55905b; }
.published-state:hover { background-color: #147419; }

.message { color: #686868; }
.message-pane { border-radius: 5px; border: 1px solid #dedede; padding: 20px; font-size: 18px; color: #686868; line-height: 130%; }
.message-pane.dark { background-color: #f9f9f9; }
.editorial-gauge { width: 100%; height: 40px; }
.editorial-fragment {
	height: 40px;
	display: inline-block;
	cursor: default;
	color: white;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
}
.editorial-fragment:hover, .editorial-fragment:active, .editorial-fragment:visited { text-decoration: none; color: white; }
.usage-rights-gauge { font-size: 12px; color: #666; width: 100%; }
.usage-rights-fragment { background-color: #2A6496; height: 5px; }
.popover { border-radius: 0; font-size: 10px; font-family: 'Lato', Arial, sans-serif; }
.popover-title { font-size: 10px; background-color: white; font-weight: 900; }
.popover-content, .popover-title { padding: 4px; }

.nav-pills > li.admin > a {color: #d9534f;}
.nav-pills > li.admin.active > a {background-color: #d9534f; color:white;}

.visibilityLink .glyphicon-eye-open { color: #888888; }
.visibilityLink .glyphicon-eye-close { color: #c1c1c1; }

#manageEditions .title {font-weight:bold; padding-bottom:8px;}
#manageEditions .edition {padding-bottom:4px;}
#manageEditions .edition .formatted {white-space:nowrap;}
#manageEditions .edition.deleted {opacity:0.35}

.strong_password_bar {border-top:solid 1px #aaaaaa; display:inline-block; padding:6px 8px 5px 8px;}
.strong_password_weak {background-color:#f9e46d;}
.strong_password_strong {background-color:#6df977;}

/* (tablets, 768px and up) */
@media (min-width: 768px) {
	.bgcolor { padding-left:40px; padding-right:40px; }
	header { padding-top:22px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body { margin: 0px 70px 0px 70px; }
}
