
/* Cantaloupe styles */

@import url(http://fonts.googleapis.com/css?family=Lato:900,400);

/* Fonts */
.heading_font { font-family: 'Lato', Arial, sans-serif !important; }
.body_font { font-family: Georgia, Times, serif !important; }
.caption_font { font-family: 'Lato', Arial, sans-serif !important; }

body { visibility: hidden; background-repeat: no-repeat; background-position: -9999px -9999px; }

/* Base elements */

h1, h2, h3, h4 { padding-left: 7.2rem; padding-right: 7.2rem; }
.body_copy h1,.body_copy h2,.body_copy h3,.body_copy h4 { padding-left: 0; padding-right: 0; }
h1 {
    font-size: 4.9rem;
    line-height: 6rem;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
    font-weight: 900;
}

h2 {
    font-size: 2.8rem;
    line-height: 4.8rem;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
    font-weight: 900;
}

h3 {
    font-size: 2.1rem;
    line-height: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    font-weight: 900;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    font-weight: 900;
}

.page_margins { padding-left: 7.2rem; padding-right: 7.2rem; }
.left_margin { min-width: 7.2rem; float: left; }

* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

blockquote { padding-left: 3.6rem; padding-right: 3.6rem; font-style: italic; }
i,em { font-style: italic; }
b,strong { font-weight: bold; }
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
hr { clear:both; border: 0; border-bottom: 1px solid #ccc; margin-bottom: 0; }

/* Header */
#header {
	color: #a6a6a6;
	position: fixed;
	background-color: white;
	z-index: 9999;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #ddd;
	/*box-shadow: 0px 0px 10px #666;*/
}

#header #home_menu_link { 
	padding: 0 0.6rem 0 0.6rem; 
	display: inline-block; 
	cursor: pointer;
	line-height: 5rem;
	/* For IE 7 */
	zoom: 1;
	*display: inline; 
}
/*#header #home_menu_link:hover { background-color: #eee; }*/
#header #book-title { font-weight: 900; }
#header img { vertical-align: -28%; }
#header img { margin: 0 .6rem; }
#header a { color: #a6a6a6; text-decoration: none; }
#header a:hover { text-decoration: underline; color: #8a8c8f;}
#header .vrule { 
	width: 1px; height: 3rem; margin: 0 1rem;
}
#header .right, .dialog .right { float: right; padding: 1rem; }
#header.menu { left: 0; top: .5rem; }
.menu {
	position: absolute;
	background-color: white;
	cursor: pointer;
	display: none;
	z-index: 10;
	box-shadow: 3px 3px 5px rgba(0,0,0,.2);
}
.menu li,.menu p {
	padding: 1rem 1.2rem !important;
	border-top: 1px solid #ddd;
	margin: 0 !important;
	text-align: left;
}
.menu.unordered li { list-style-type: none; }
.menu li:hover, .menu p:hover {
	background-color: #eee;
	color: #444;
}

.search_control {
	display: inline;
}

.search_input {
	width: 0;
	overflow: hidden;
	-webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: none;
    outline: none;
    border: 1px solid;
    border-color: #fff;
    margin-top: -2px;
    padding: 5px 0 5px 0;
    font-size: 1.4rem;
}

.search_control form {
	display: inline;
}

.search_submit {
	display: none;
}

/*input[type="search"].search_input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}*/

/*.search_submit {
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 *
    filter: alpha(opacity=0); /* IE 5-7 *
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
	z-index: -1;
}

.search_control.search_open */

/* --- PAGE --- */

.page {
	background-color: white;
	max-width: 104rem;
	margin: 0 auto;
	padding: 7.8rem 0 7.8rem 0;
	min-height: 100%;
	/*box-shadow: 0px 0px 10px #666;*/
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	line-height: 2.4rem;
	position: relative;
}
section ol,ul {margin-bottom: 1rem;}
section.relationships { 
    margin-top: 2.4rem;
	max-width: 85.4rem;
	clear:both;
}
.relationships ol,.relationships ul,.relationships p {
	padding-left: 7.2rem;
	padding-right: 7.2rem;
}

/*section {
	clear:both;
}*/

p {
    margin-top: 0;
    margin-bottom: 2.4rem;
}

small, aside {
    font-size: 1.2rem;
}

a { color: #026697; text-decoration: none; }
a:hover { text-decoration: underline; }

.bg_screen { 
	position: fixed;
	max-width: inherit; 
	width:100%; 
	height:100%; 
	background-color: black; 
	color: white; 
	border: none; 
	/*background-size: cover; 
	background-position: center center; */
	opacity: .3;
   /*-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);*/
}

/* Body copy */
.paragraph_wrapper { max-width: none !important; /*clear: both;*/ }
.body_copy { max-width: 85.4rem; padding-left: 7.2rem; padding-right: 7.2rem; }
.dialog .body_copy { margin-top: 10rem; max-width: none; padding-left: 3.6rem; padding-right: 3.6rem; }
/*.help .body_copy { margin-top: 10rem; }*/

.control_bar {
	line-height: 4.8rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 2.0rem 0 0 0;
}
.page .control_bar { margin-left: 7.2rem; margin-right: 7.2rem; }
.control_bar .right { float: right; padding: 1rem 0 1rem 0; }
.control_bar img { margin-left: 1.2rem; }
.toggle_btn { font-weight: 900; padding: .4rem 1.2rem .4rem 1.2rem; border-radius: 1.4rem; cursor: pointer; }
.toggle_btn.on { background-color: #b3b5b7; }

#gallery_content { margin: 1rem 7.2rem 0 7.2rem; max-width: none; }
#gallery_content .thumbnail { margin-right: 0.7rem; cursor: pointer; }
#gallery_content .thumbnail:hover { opacity:0.65; }
#gallery_content h3 { margin: 1.5rem 0 1rem 0; padding: 0; }

.one_line_description { 
	/*color: #96989a; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
	margin-bottom: 1rem;
}

.media_placeholder { display: inline-block; margin-right: 0.7rem; text-align: center; background-color: #eee; vertical-align: top; }
.media_placeholder img { position: relative; top: 50%; margin-top: -15px; }

.minor_message { color: #96989a; font-size: 1.2rem; font-style: italic; margin-top: 1rem; }
/*
.page.structured_gallery { padding-top: 0; }
.structured_gallery h1 { margin-top: 7.8rem; margin-bottom: 2rem; }
.fixed_header { position: fixed; }*/

.media_details { position: fixed; top: 0px; left: 0px; right: 0px; height: 100%; margin: 0px 0px 0px 0px; z-index: 10; display: none; }
.media_details .blackout { background: black; position: fixed; top:0px; left:0px; right:0px; height: 100%; /*opacity: 0.7;*/ }
/*.media_details .content { position: absolute; top: 8.2rem; right: 3.6rem; left: 3.6rem; background: white; padding: 3.6rem 3.6rem 4.4rem 3.6rem; }*/
.media_details .content { position: absolute; /*padding: 8.2rem 3.6rem 3.6rem 3.6rem;*/ width: 100%; height: 100%; /*top: 8.2rem; right: 3.6rem; left: 3.6rem;*/ background: #333; color: white; }
.media_details a { color: #b5d5ff; }

.media_details hr { border-color: #666; }

.media_details .citations { margin-top: 3rem; }

.media_sidebar { width: 30%; color: #b2b3b6; margin-right: 3.6rem; padding-bottom: 5rem; text-align: left; float: left; clear: both; }
.media_sidebar h2,.media_sidebar h3 { margin: 0 0 .2rem 0; padding: 0; line-height: 100%; color: white; }
.media_sidebar h2 { font-size: 2.1rem; }
.media_sidebar h3 { font-size: 1.8rem; font-weight: normal; margin-bottom: 1rem; }
.media_sidebar p { margin: 0 0 1rem 0; padding: 0; line-height: 1.8rem; }
.media_sidebar blockquote { /*padding: 0 1.8rem 0 1.8rem;*/ padding: 0; margin: 0 0 .5rem 0; line-height: 1.8rem; font-size: 90%; }
.media_sidebar .annotation_extents { font-size: 80%; }
.media_sidebar .attribution { text-align: right; margin-bottom: 2rem; }
.manual_slideshow .slot { clear: both; /*border-bottom: 1px solid #666; padding-top: 2rem;*/ }
.manual_slideshow .mediaelement { margin-bottom: 5rem; }

.media_sidebar table {
	border-left: 1px solid #666 !important; 
	border-right: 1px solid #666 !important;
	width: 100%;
}

.media_sidebar tr:hover {
	background-color: #555 !important;
}


/*.slot_slider { position: relative; top: 0px; width: 100%; white-space: nowrap; overflow-x: auto; overflow-y: hidden; vertical-align: top; }
.slot_slider .slot { display: inline-block; text-align: left; margin: 0; padding: 0; }*/
.manual_slideshow { 
	clear: both; 
	text-align: center; 
	position: absolute; 
	top: 0; 
	padding: 14rem 3.6rem 0 3.6rem; 
	height: 100%; 
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

/* --- SPLASH --- */

.splash { 
	position: fixed;
	max-width: inherit; 
	width:100%; 
	height:100%; 
	background-color: black; 
	color: white; 
	border: none; 
	background-size: cover; 
	background-position: center center; 
}
.splash h1 { margin-bottom: 0; }
.splash h2 { margin-top: 0; font-weight: normal; }
.title_card { position: absolute; width: 100%; bottom: 0; padding: 10.8rem 7.2rem 3.6rem 7.2rem; text-align: center; display: none;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
 }
.title_card .relationships { max-width: inherit; }

/* --- MEDIA --- */

/**
  *	These styles are only every applied to temporary elements that are removed after Javascript measures their width;
  * this is how we use CSS to specify dimensions for media.
  */
.small_dim { width: 20.6rem; display: none; }
.medium_dim { width: 41.2rem; display: none; }
.large_dim { width: 62.0rem; display: none; }
.full_dim { width: 103.8rem; display: none; }

.full { margin-top: 4rem; }
.full .mediaElementFooter { padding: 1rem 7.2rem 0 7.2rem; max-width: 85.4rem; }

/* So the top-most media element aligns with the top of its paragraph */
.slot.top { margin-top: .5rem !important; clear: both; }

.mediaelement { 
	margin-bottom: 2.4rem; 
	font-weight: normal;
	font-style: normal;
}

.mediaContainer,.mediaElementFooter {
	border: none;
	background-color: inherit;
}

.mediaElementFooter {
	/*margin-top: 1.2rem;*/
	height: auto;
}

.mediainfo div, .attribution {
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #666;
	text-align: left;
}

a.media_info {
	border-radius: 0.9rem;
	border: 1px solid #666;
	/*background-color: #666;*/
	color: #666;
	width: 1.8rem;
	height: 1.8rem;
	display: inline-block;
	text-align: center;
	line-height: 1.8rem;
	cursor: pointer;
	float: left;
	margin-top: .2rem;
	margin-right: 1.0rem;
	margin-bottom: .5rem;
}

.media_description {
	display: none;
}

.media_annotations {
	display: none;
	max-height: 300px;
}

.mediainfo table {
	width: 100%;
}

.media_annotations tr {
	cursor: pointer;
}

.media_annotations tr:hover {
	background-color: #eee;
}

.media_annotations tr.current {
	background-color: #c5dceb;
}

.current_annotation { background-color: #c5dceb; margin-bottom: 1.0rem; display: none; }

.mediainfo h4 { font-size: 1.2rem; margin:0; line-height: 1.6rem; padding: 0 .4rem 0 .7rem; }

.media_annotations table {
	border-left: 1px solid #ddd; 
	border-right: 1px solid #ddd;
	font-size: 1.2rem;
}
.media_annotations td:first-child,.current_annotation td:first-child {
	padding-left: .8rem;
	width: 6rem;
	font-weight: bold;
}
.media_annotations td:last-child,.current_annotation td:last-child {
	padding-right: .8rem;
}

.media_metadata {
	display: none;
	max-height: 300px;
}

/*.media_metadata {
	position: absolute;
	max-width: 400px;
	max-height: 300px;
	border-radius: .8rem;
	background-color: #eee;
	padding: 1.0rem;
	font-size: 1.2rem;
	z-index: 99;
	line-height: 100%;
}*/

.mediainfo td {
	padding: .5rem 0;
}

.mediainfo td:first-child { font-weight: bold; padding-right: .5rem; }

.media_tab {
	padding: .2rem 1.0rem;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}

.media_tabs {
	display: none;
	margin-top: 1.2rem;
	margin-bottom: -0.6rem;
}

.media_tab.select {
	background-color: #b2b3b6;
	color: white;
}

.pane {
	margin-top: 1.2rem;
}

/*.mediaObject { background-color: black; }*/

.slot.right {
	margin-top: 4.0rem;
	margin-left: 4.8rem;
	margin-right: 7.2rem;
	float: right;
	clear: right;
}

.slot.left {
	margin-top: 4.0rem;
	margin-right: 4.8rem;
	margin-left: 7.2rem;
	float: left;
	clear: left;
}

.slot.left .mediaElementFooter { max-width: 21.2rem; }

.media_link { background-color: #eee; }



#footer {
	clear: both;
	margin-top: 2rem;
	padding-left: 7.2rem; padding-right: 7.2rem;
}

#footer-right {
	float: right;
}

#comment {
	color: #a6a6a6;
	font-weight: 900;
	background: url(images/comments.png) no-repeat;
	line-height: 2.7rem;
	padding-left: 4rem;
	float: left;
	cursor: pointer;
}

.comment { margin-bottom: 3rem; max-width: 85.4rem; }
.comment .attribution { margin-top: 1rem; }
.comment_form { margin-top: 2rem; max-width: 85.4rem; }
.comment_form table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
	width: 100%;
}
.field {
	width: 50px;
	white-space: nowrap;
	padding-right: 6px;
	vertical-align: top;
}

.input_text { max-width: 50rem; width: 100%; }

.edit {
	background: url(images/edit.png) no-repeat;
	width: 3.1rem;
	height: 2.9rem;
	/*float: right;*/
	margin-right: 1.5rem;
	cursor: pointer;
	display: inline-block;
}

.design {
	background: url(images/design.png) no-repeat bottom;
	width: 3.1rem;
	height: 2.9rem;
	/*float: right;*/
	cursor: pointer;
	display: inline-block;
}

a.nav_btn {
	padding: 1rem;
	text-decoration: none;
	background-color: #026697;
	color: white;
	line-height: 3.9rem;
}
a.nav_btn:hover {
	background-color: black;
	/*color: #026697;
	border: 1px solid #026697;*/
}

#graph {
	position: fixed;
}

.graphNodeViewer {
	position: absolute;
	background: white;
	border: 1px solid black;
	display: none;
}

#zoomControls {
	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 100px;
	text-align: center;
	margin-left: -50px;
}

#zoomControls svg {
	cursor: pointer;
}

/* Index */

.dialog {
	position: fixed; 
	top: 8.6rem; 
	left: 3.6rem; 
	right: 3.6rem; 
	bottom: 3.6rem;
	background-color: white; 
	/*padding: 3rem 4rem 3rem 4rem; */
	padding: 0 0 2.4rem 0; 
	box-shadow: 3px 3px 8px rgba(0,0,0,.2);
	overflow-y: auto;
	display: none;
}
.dialog ul { margin-left: 3.6rem; margin-bottom: 2rem; }
.dialog p { margin-bottom: 1rem; margin-top: 1rem; }
.dialog h2, .dialog h3, .dialog h4, .dialog h5 { display: inline-block; padding-left: 0; padding-right: 0; margin-top: 0; margin-bottom: 0; }
.dialog h3 { margin-bottom: 1rem; }
.dialog_header {
	position: fixed; 
	left: 3.6rem; 
	right: 3.6rem; 
	background-color: white; 
	padding: 2.4rem 3.6rem 0 3.6rem;
	z-index: 20; 
}
.dialog_header .right { float: right; }
.media_details .dialog_header { 
	background-color: #333; 
	color: #b2b3b6; 
	font-size: 1.8rem; 
	padding-top: 8.2rem; 
	left: 0; 
	right: 0; 
}
.help .dialog_header { width: 90rem; margin-left: -45rem; left: 50%; right: auto; background-color: #eee; }

.index { z-index: 50; }
.search { z-index: 51; }
.help { width: 90rem; margin-left: -45rem; left: 50%; background-color: #eee; z-index: 52; }

.pagination {
	line-height: 4.8rem;
	border-top: 1px solid #ddd;
	margin: 2.0rem 0 1.0rem 0;
}

.disabled { opacity: 0.25; }

.results_list { margin-top: 8.2rem; }
.dialog.index .results_list { margin-top: 14.2rem; }
.results_list table { width: 100%; }
.results_list td { height: 3rem; overflow: hidden; padding: .5rem; }
.results_list td:first-child { max-width: 10rem; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
.results_list td:last-child { color: #b2b3b6; max-width: 30rem; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
.results_list tr:hover { background: #eee; cursor: pointer; }

/* Media icons */

.texto_wrapper     {clear:both;}

.texteo_icon       {background-repeat:no-repeat;}

.texteo_icon_audio {background-image:url(images/audio.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_video {background-image:url(images/video.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_image {background-image:url(images/image.png); background-position:2px 4px; padding-left:20px;}
.texteo_icon_generic_resource {background-image:url(images/generic-media.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_note {background-image:url(images/note.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_map {background-image:url(images/map.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_document {background-image:url(images/page.png); background-position:2px 5px; padding-left:20px;}

.texteo_icon_external {background-image:url(images/external.png); background-position:2px 5px; padding-left:21px;}
.texteo_icon_internal {background-image:url(images/internal.png); background-position:2px 5px; padding-left:21px;}


/* Hidden elements */
aside { display: none; }
span[property="dcterms:description"] { display: none; }
.mediaElementHeader { display: none; }
