#editorialPath{
	padding-left: 7.2rem;
    padding-right: 7.2rem;
}

#pathHeading p{
	margin: 2rem 0;
}

#editorialSidePanel{
	margin-top: 20px;
	padding-left: 20px !important;
}


#editorialSidePanel>div{
	-webkit-transition: -webkit-transform .25s;
	-moz-transition: -moz-transform .25s;
    transition: transform .25s;

	transform : translatey(0);
	-webkit-transform : translatey(0);
	-moz-transform : translatey(0);
}
#editorialSidePanel>.affix{
	top: 50px;
}
body{
	position: relative;
}
body.shortHeader #editorialSidePanel>.affix{
	transform : translatey(-30px);
	-webkit-transform : translatey(-30px);
	-moz-transform : translatey(-30px);
}

#editorialSideHeader{
	text-align: left;
	border: 0;
	border-radius: 0;
	margin-bottom: 1rem;
	font-size: 1.8rem;
	padding: .5rem 1rem .5rem 0;
}
#editorialSideHeader .caret{
	margin-top: 1.25rem;
}

#editorialOutline li, #editorialOutline ul{
	margin: 0;
}
#editorialOutline ul{
	padding: .5rem 1rem;
}
#editorialOutline ul, #matchedNodes{
	padding: .5rem 0
}
#matchedNodes{
	margin-top: 1rem;
	font-size: 1.4rem;
    line-height: 1.5rem;
}


#editorialOutline li{
	padding: .25rem 1rem .25rem 1rem;
	border-left: .25rem solid #bfbfbf;
}
#editorialOutline li, #matchedNodes li{
	list-style-type: none;
}
#editorialOutline li>a{
	margin: 0px;
	font-size: 1.4rem;
	color: #bfbfbf;
    line-height: 1.5rem;
    padding: .4rem;
}
#editorialOutline li>a:hover{
	text-decoration: underline;
	outline: 0;
	border: 0;
	background-color: transparent;
}
#editorialSidePanel.tall #editorialOutline li>a, #editorialOutline li.active>a, #matchedNodes li>a>small{
	color: #000;
}
#matchedNodes>li{
	padding-left: 2rem;
	margin-bottom: 1.4rem;
}

#matchedNodes li>a{
	cursor: pointer;
}
#matchedNodes li .dropdownCaret{
	float: left;
	margin-left: -2rem;
}
#matchedNodes li>a>small{
	margin-right: 1rem;
	font-size: 10px;
	line-height: 16px;
}
#matchedNodes li .content, #matchedNodes li .relations{
	font-size: 1.2rem;
	line-height: 1.3rem;
	padding-top: 1rem;
}
#matchedNodes li .relations ol, #matchedNodes li .relations ul>li>ul {
	margin-top: .4rem;
	margin-bottom: 1rem;
}
#matchedNodes li .relations ol li{
	list-style-type: decimal;
}
#matchedNodes li .relations li{
	margin-bottom: .2rem;
}
#editorialOutline li.active>a{
	font-weight: bold;
	margin-left: -.25rem;
}

#editorialOutline li.inside{
	border-left: .5rem solid #bfbfbf;
	padding: .25rem 1rem .25rem 3rem;
}

#editorialOutline li.draft{
	border-left-color: #b4b4b4;
}

#editorialOutline li.edit{
	border-left-color: #ffa25e;
}

#editorialOutline li.editreview{
	border-left-color: #d9514d;
}

#editorialOutline li.clean{
	border-left-color: #59c0dd;
}

#editorialOutline li.ready{
	border-left-color: #6ebf73;
}

#editorialOutline li.published{
	border-left-color: #15910f;
}

#editorialOutline li.active{
	border-left-width: .5rem;
}
#editorialOutline, #editorialContentFinder{
	overflow-y: auto;
	font-size: 1.4rem;
	line-height: 1.8rem;
}
#editorialOutline li.child{
	padding-left: 2rem;
}
#editorialPath .row #editorialSidePanel{
	padding-right: 0px;
}
#editorialPath .row>div{
	padding-left: 0px;
}
/*#editorialPath .row>div.leftInfo{
	padding-left: 10px;
}*/
#editorialPathContents{
	margin: 3rem 0 2rem;
	font-size: 1.4rem;
}

#editorialPathContents .editorial_node{
	cursor: default;
	padding: 2rem 0;
	border-top: 1px dashed #bfbfbf;
	clear: both;
}

#editorialPathContents .editorial_node .badges{
	margin-top: 2rem;
}

#editorialPathContents .editorial_node .edit_btn{
    padding: 2px 6px;
    margin-left: 3px;
}
#editorialPathContents .editorial_node>.row{
	margin: 0;
	padding: 0;
}

#editorialPathContents .editorial_node .title{
	margin: 0;
	font-size: 2.4rem;
	line-height: 2.8rem;
}

#editorialPathContents .editorial_node .state_btn{
	    line-height: 2.5rem;
    font-size: 1.5rem;
	text-align: left;
	margin: 1rem 0 .5rem;
}

#editorialPathContents .editorial_node .state_btn .caret{
	margin-top: 1.25rem;
	border-top-color: #fff;
	border-bottom-color: #fff;
}

#editorialPathContents .editorial_node .draft, #editorialPathContents .editorial_node .edit, #editorialPathContents .editorial_node .editreview, 
#editorialPathContents .editorial_node .clean, #editorialPathContents .editorial_node .ready, #editorialPathContents .editorial_node .published{
	color: #fff;
}

#editorialPathContents .editorial_node .draft{
	background-color: #b4b4b4;
}

#editorialPathContents .editorial_node .edit{
	background-color: #ffa25e;
}

#editorialPathContents .editorial_node .editreview{
	background-color: #d9514d;
}

#editorialPathContents .editorial_node .clean{
	background-color: #59c0dd;
}

#editorialPathContents .editorial_node .ready{
	background-color: #6ebf73;
}

#editorialPathContents .editorial_node .published{
	background-color: #15910f;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu{
	width: 100%;
	padding: 0px;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu li{
	padding: 0;
	padding-left: 1rem;
	margin: 0;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu a{
	margin: 0;
	padding: 6px 12px;
	background-color: #fff;
	color: #000;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu a:hover{
	background-color: #eee;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu a.active{
	background-color: rgba(0,0,0,.125);
	color: #fff;
}
#editorialPathContents .editorial_node .state_dropdown .dropdown-menu a.active:hover{
	background-color: rgba(0,0,0,.25);
}

#editorialPathContents .editorial_node .badge{
	margin-right: 1rem;
	font-weight: normal;
	padding: 4px 10px;
}

#editorialPathContents .editorial_node .badge.view_badge{
	background-color: #3478a6;
}
#editorialPathContents .editorial_node .badge.no_queries_badge{
	background-color: #b3b3b3;
}
#editorialPathContents .editorial_node .badge.with_queries_badge{
	background-color: #fc9e62;
	cursor: pointer;
}
#editorialPathContents .editorial_node .badge.with_queries_badge:hover{
	background-color: #ee955d
}
#editorialPathContents .editorial_node .editable{
	cursor: pointer;
}

#editorialPathContents .editorial_node .checkbox>label{
	font-size: 14px;
	line-height: 18px;
}
#editorialPathContents .editorial_node .bodyContent {
	padding: 20px 0 20px 0;
}
#editorialPathContents .editorial_node .bodyContent .placeholder .content .body{
	background-color: #b4b4b4;
	padding: 1rem;
    white-space: normal;
}
#editorialPathContents .editorial_node .bodyContent .placeholder.opened .content .body{
	padding: 1px;
	background-color:#eee;
}
#editorialPathContents .editorial_node .bodyContent.media .placeholder.opened .content .body{
	background-color: transparent;
}

#editorialPathContents .editorial_node .bodyContent.media .placeholder.opened .mediaelement{
	margin: 0 auto;
}
#editorialPathContents .editorial_node .bodyContent .placeholder:before{
	display: none;
}
#editorialPathContents .editorial_node .bodyContent .placeholder .content .description{
	display: block;
    text-align: left;
    font-size: 1.25rem;
    color: #b4b4b4;
    width: 100%;
    margin-top: .5rem;
    white-space: normal;
}

#editorialPathContents .editorial_node .bodyContent .placeholder[resource],#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget]{
	clear: both;
	margin-bottom: 1rem;
	color: #fff;
	text-align: center;
	display: block;
   
}
#editorialPathContents .editorial_node .bodyContent .placeholder[resource]:not(.wrap):after,#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget]:not(.wrap):after{
	clear: both;
	content: "\A";
	display: block;
	font-size: 1px;
    margin: 0px;
    line-height: 1px;
}

#editorialPathContents .editorial_node .bodyContent .placeholder[resource].inline,#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget].inline{
	display: block;
}

#editorialPathContents .editorial_node .bodyContent .placeholder .content{
	width: 100%;
}

#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap .content,
#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap .content{
	width: 100% !important;
}

#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap[data-align="left"]{
	float: left;
}
#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap[data-align="right"]{
	float: right;
}

#editorialPathContents .editorial_node .bodyContent .placeholder[resource][data-size="small"]:not(.inline),
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[resource][data-size="small"] .content,
#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget][data-size="small"]:not(.inline),
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[data-widget][data-size="small"] .content{
	width: 33%;
}
#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap[resource][data-size="small"],
#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap[data-widget][data-size="small"]{
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

#editorialPathContents .editorial_node .bodyContent .placeholder[resource][data-size="medium"]:not(.inline),
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[resource][data-size="medium"] .content,
#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget][data-size="medium"]:not(.inline),
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[data-widget][data-size="medium"] .content{
	width: 50%;
}
#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap[resource][data-size="medium"],
#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap[data-widget][data-size="medium"]{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

#editorialPathContents .editorial_node .bodyContent .placeholder[resource][data-size="large"]:not(.inline),
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[resource][data-size="large"] .content,
#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget][data-size="large"]:not(.inline),
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[data-widget][data-size="large"] .content{
	width: 75%;
}

#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap[resource][data-size="large"],
#editorialPathContents .editorial_node .bodyContent .placeholder.inline.wrap[data-widget][data-size="large"]{
	width: 75%;
	display: inline-block;
	vertical-align: top;
}


#editorialPathContents .editorial_node .bodyContent .placeholder[resource]:not(.wrap),#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget]:not(.wrap){
	white-space: pre;
	clear: both;
}

.placeholder>.content .placeholder_thumbnail{
	max-width: 240px;
	max-height: 240px;
	display: block;
	margin: auto;
}

[contenteditable="true"]:active,[contenteditable="true"]:focus{
	box-shadow: 1px 1px 1px ;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}
.cke_chrome{
	padding: 0 !important;
}

#editorialPathContents .editorial_node .bodyContent .placeholder[data-size="native"]
{
	width: 100%;
}




#editorialPathContents .editorial_node .bodyContent .placeholder.inline[resource][data-align="right"] .content,
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[data-widget][data-align="right"] .content{
	float: right;
}


#editorialPathContents .editorial_node .bodyContent .placeholder[resource][data-align="left"],
#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget][data-align="left"]{
	margin-right: 1rem;
}
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[resource][data-align="left"] .content,
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[data-widget][data-align="left"] .content{
	float: left;
}
#editorialPathContents .editorial_node .bodyContent .placeholder[resource][data-align="left"]:not(.inline),
#editorialPathContents .editorial_node .bodyContent .placeholder[data-widget][data-align="left"]:not(.inline){
	margin-bottom: 2rem;
	position: relative;
	float: left;
}
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[data-align="center"] .content{
	margin: 0 auto;
}

#editorialPathContents .editorial_node .bodyContent .placeholder.inline[resource][data-align="right"]:after,
#editorialPathContents .editorial_node .bodyContent .placeholder.inline[resource][data-align="right"]:after{

}

#editorialPathContents .loader{
	text-align: center;
	padding: 1rem 0;
	background-color: #eee;
	color: #aaa;
	font-size: 1.5rem;
}
.editorialpath-page{
	padding-bottom: 10px;
}

.cke_chrome.cke_reset_all{
	margin-top: -50px;
}

.editorial_node .descriptionContent{
	padding-top: 1rem;
	color: #727272;
	position: relative;
	font-size: 1.3rem;
	line-height: 1.6rem;
}
.editorial_node .descriptionContent.noDescription{
	font-style: italic;
}

.note {color:#038200; text-decoration:underline;}

#contentOrderDropdown{
	display: inline-block;
	margin-left: 1rem;
}
#contentOrderDropdown .caret{
	margin-top: .75rem;
}
#contentOrderDropdown .btn, #contentOrderDropdown .dropdown-menu{
	width: 20rem;
	text-align: left;
}

#editorialSidePanel .editorialSidePanelLoaderIndicator{
		display: none;
}
#editorialSidePanel.loading_nodes .editorialSidePanelLoaderIndicator{
	display: block;
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(238,238,238,.75);
    cursor: progress;
}
#editorialSidePanel.loading_nodes .in{
	opacity: .5;
}
#editorialSidePanel .editorialSidePanelLoaderIndicator .spinner_container{
	position: absolute;
    top: 50%;
    left: 50%;
}
#editorialContentFinder .form-group{
	width: 48%;
}
.viewWarning{
	font-size: small;
	padding: .5rem;
	margin: 1rem 0 .5rem 0;
}
#editorialContentFinder .form-group .form-control{
	width: 100%;
	text-align: left;
	line-height: 1em;
}
#editorialContentFinder .form-group .caret{
	margin-top: .5em
}
#editorialContentFinder #filterDropdown.hasContent{
	position: relative;
}
#editorialContentFinder #filterDropdown .dropdown-menu{
    margin-top: -3.5rem;
}
#editorialContentFinder #filterDropdown.hasContent .dropdown-menu{
	margin-top: 0;
	top: 3.5rem;
}
.editorial_node .notice{
	padding: 0px;
	background-color: transparent;
	margin-bottom: 0px;
	margin-top: -1.75rem;
}
.editorial_node .notice .alert{
	padding: .5rem;
	margin: .5rem 0 0 0;
	border: 0px;
	height: 100%;
	line-height: 2rem;
	font-size: 1.5rem;
	text-align: center;
}
.bodyContent.media .mediaElementFooter{
	display: none;
}
.placeholder .mediaelement{
	margin-bottom: 0;
}
.placeholder .mediaElementFooter{
	padding-top: 1rem;
}
.placeholder .media_tabs, .placeholder .media_description{
	margin: 0;
	padding: 0 1.2rem 1.2rem 1.2rem;
}
.bodyContent:not(.media) .placeholder .mediaelement, .bodyContent:not(.media) .placeholder .mediaObject>*{
	max-width: 100%;
	height: auto !important;
}
.placeholder .media_tabs{
	display: none !important;
}
#editorialPathContents .editorial_node .bodyContent .mediaelement{
	margin: 0;
}

#editorialPathContents .editorial_node .bodyContent .placeholder.opened{
	color: #000;
	text-align: left;
}
.cke_editable .clickToLoadNotice{
	display: none;
}
.bodyContent a.inline{
	display: none;
}
.media_description{
	word-wrap: break-word;
}
#editorialQueries{
	position: absolute;
	z-index: 99;
	width: 25%;
	background-color: #e0e0e0;
	right: 0;
	border: 1rem solid #e0e0e0;
	box-sizing: content-box;
	transform : translatey(7rem);
	-webkit-transform : translatey(7rem);
	-moz-transform : translatey(7rem);
	max-height: 75vh;
	overflow-y: auto;
	-webkit-box-shadow: -10px 40px 20px -20px white,-10px -40px 20px -20px white;
	-moz-box-shadow: -10px 40px 20px -20px white,-10px -40px 20px -20px white;
	box-shadow: -10px 40px 20px -20px white,-10px -40px 20px -20px white;
	display: none;
}
#editorialQueries>h4{
	width: auto;
	display: inline-block;
	margin: 0px;
}
#editorialQueries>button{
	border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
	padding: 2px 12px;
}
.queryDropdownToggle{
	font-weight: bold;
	color: rgb(51, 51, 51);
	text-decoration: none;
	font-size: 14px;
}
.queryDropdownToggle:hover,.queryDropdownToggle:focus{
	text-decoration: none;
	color: #333;
}

#editorialQueries .queries>.query,#editorialQueries #resolvedQueries>.query, #editorialQueries #addNewQueryForm{
	padding: .5rem;
	margin-top: 1rem;
	margin-bottom: .5rem;
}
#editorialQueries #addNewQueryForm textarea{
	border-radius: 0;
}
#editorialQueries #addNewQueryForm .btn{
	border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
	padding: 2px 12px;
	margin-top: .5rem;
}
#editorialQueries .queries>.query, #editorialQueries #addNewQueryForm{
	background-color: #fff;
	transition: background-color .5s;
}
#editorialQueries .queries>.query.new{
	background-color: #e1edf7;
}
#editorialQueries #resolvedQueries>.query{
	background-color: #efefef;
	background-color: #f2f2f2;
    color: #777;
}
#editorialQueries .query .query, #editorialQueries .query .newReply{
	margin-top: .5rem;
	padding-top: .5rem;
	border-top: 1px solid #eee;
}
#editorialQueries .query .btn,#editorialQueries .query input{
	padding: .25rem .5rem;
    height: 2.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
}
#editorialQueries #addNewQueryForm{
	display: none;
}
#editorialQueries #addNewQueryForm .btn{
	background: #eee;
}
#editorialQueries .query .btn:hover, #editorialQueries #addNewQueryForm .btn:hover{
	background: #e1edf7;	
}

#editorialQueries .query .replies{
	padding-left: 1rem;
}
#editorialQueries .query .replies .user{
	margin-left: -1.375rem;
}
#editorialQueries .query .replies .user:before{
	content: "\21AA";
	padding-right: .375rem;
	font-weight: normal;
	color: #eee;
}


#editorialQueries .query .user, #editorialQueries .query .date, #editorialQueries .query .body{
	display: block;
}
#editorialQueries .query .user{
	line-height: 14px;
}
#editorialQueries .query .form-group{
	width: 100%;
}
#editorialQueries .query .form-group .btn{
	width: 25%;
}
#editorialQueries .query .form-group input{
	width: 74%;
}
#editorialQueries .query .date{
	font-size: 12px;
	opacity: .9;
	margin-bottom: .25rem;
}
#editorialQueries .query .body{
	margin-bottom: .25rem;
}