#editorialPath{
	padding-left: 7.2rem;
    padding-right: 7.2rem;
}

#pathHeading p{
	margin: 2rem 0;
}

#editorialSidePanel{
	margin-top: 20px;
}


#editorialSidePanel>div,#editorialSidePanel>.scrollUp{
	-webkit-transition: -webkit-transform .25s;
	-moz-transition: -moz-transform .25s;
    transition: transform .25s;

	transform : translatey(0);
	-webkit-transform : translatey(0);
	-moz-transform : translatey(0);
}
#editorialSidePanel>.scrollUp{
	margin-top: 1rem;
	display: block;
}
#editorialSidePanel>.affix{
	top: 50px;
}
body{
	position: relative;
}
body.shortHeader #editorialSidePanel>.affix{
	transform : translatey(-30px);
	-webkit-transform : translatey(-30px);
	-moz-transform : translatey(-30px);
}

#editorialSideHeader{
	text-align: left;
	border: 0;
	border-radius: 0;
	margin-bottom: 1rem;
	font-size: 2rem;
	padding: .5rem 1rem;
}
#editorialSideHeader .caret{
	margin-top: 1.25rem;
}

#editorialOutline li, #editorialOutline ul{
	margin: 0;
}
#editorialOutline ul{
	padding: .5rem 1rem
}

#editorialOutline li{
	padding: .25rem 1rem .25rem 2rem;
	list-style-type: none;
	border-left: .25rem solid #bfbfbf;
}
#editorialOutline li>a{
	padding: 0px;
	margin: 0px;
	font-size: 1.5rem;
	color: #bfbfbf;
}
#editorialOutline li>a:hover{
	text-decoration: underline;
	outline: 0;
	border: 0;
	background-color: transparent;

}
#editorialSidePanel.tall #editorialOutline li>a, #editorialOutline li.active>a{
	color: #000;
}

#editorialOutline li.active>a{
	font-weight: bold;
}

#editorialOutline li.inside{
	border-left: .5rem solid #bfbfbf;
	padding: .25rem 1rem .25rem 3rem;
}

#editorialOutline li.draft{
	border-left-color: #b4b4b4;
}

#editorialOutline li.edit{
	border-left-color: #ffa25e;
}

#editorialOutline li.edit_review{
	border-left-color: #d9514d;
}

#editorialOutline li.clean{
	border-left-color: #59c0dd;
}

#editorialOutline li.ready{
	border-left-color: #6ebf73;
}

#editorialOutline li.published{
	border-left-color: #15910f;
}

#editorialOutline li.child{
	padding-left: 2rem;
}
#editorialPath .row #editorialSidePanel{
	padding-right: 0px;
}
#editorialPath .row>div{
	padding-left: 0px;
}
#editorialPathContents{
	margin: 3rem 0 2rem;
}

#editorialPathContents .editorial_node{
	cursor: default;
	padding: 2rem 0;
	border-top: 1px dashed #bfbfbf;
	clear: both;
}

#editorialPathContents .editorial_node>.row{
	margin: 0;
	padding: 0;
}

#editorialPathContents .editorial_node .title{
	margin: 0;
	font-size: 2.5rem;
}

#editorialPathContents .editorial_node .state_btn{
	    line-height: 2.5rem;
    font-size: 1.5rem;
	text-align: left;
	margin: 1rem 0 .5rem;
}

#editorialPathContents .editorial_node .state_btn .caret{
	margin-top: 1.25rem;
	border-top-color: #fff;
	border-bottom-color: #fff;
}

#editorialPathContents .editorial_node .draft, #editorialPathContents .editorial_node .edit, #editorialPathContents .editorial_node .edit_review, 
#editorialPathContents .editorial_node .clean, #editorialPathContents .editorial_node .ready, #editorialPathContents .editorial_node .published{
	color: #fff;
}

#editorialPathContents .editorial_node .draft{
	background-color: #b4b4b4;
}

#editorialPathContents .editorial_node .edit{
	background-color: #ffa25e;
}

#editorialPathContents .editorial_node .edit_review{
	background-color: #d9514d;
}

#editorialPathContents .editorial_node .clean{
	background-color: #59c0dd;
}

#editorialPathContents .editorial_node .ready{
	background-color: #6ebf73;
}

#editorialPathContents .editorial_node .published{
	background-color: #15910f;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu{
	width: 100%;
	padding: 0px;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu li{
	padding: 0;
	padding-left: 1rem;
	margin: 0;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu a{
	margin: 0;
	padding: 6px 12px;
	background-color: #fff;
	color: #000;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu a:hover{
	background-color: #eee;
}

#editorialPathContents .editorial_node .state_dropdown .dropdown-menu a.active{
	background-color: rgba(0,0,0,.125);
	color: #fff;
}
#editorialPathContents .editorial_node .state_dropdown .dropdown-menu a.active:hover{
	background-color: rgba(0,0,0,.25);
}

#editorialPathContents .editorial_node .badge{
	margin-right: 1rem;
	font-weight: normal;
	padding: 4px 10px;
}

#editorialPathContents .editorial_node .badge.view_badge{
	background-color: #3478a6;
}
#editorialPathContents .editorial_node .badge.no_queries_badge{
	background-color: #b3b3b3;
}
#editorialPathContents .editorial_node .badge.with_queries_badge{
	background-color: #d9514e;
}

#editorialPathContents .editorial_node .checkbox>label{
	font-size: 16px;
	line-height: 20px;
}
#editorialPathContents .editorial_node .bodyContent{
	padding: 10px;
}
#editorialPathContents .editorial_node.gutter .bodyContent{
	padding-right: 70px;
}


#editorialPathContents .editorial_node .bodyContent a[resource]:before,#editorialPathContents .editorial_node .bodyContent a[data-widget]:before{
	clear: both;
	margin-bottom: 1rem;
	background-color: #b4b4b4;
	padding-top: 10vh;
	padding-bottom: 10vh;
	color: #fff;
	text-align: center;
	display: block;content: "\A";
   
}
#editorialPathContents .editorial_node .bodyContent a[resource]:not(.wrap):after,#editorialPathContents .editorial_node .bodyContent a[data-widget]:not(.wrap):after{
	clear: both;
	content: "\A";
	display: block;
}

#editorialPathContents .editorial_node .bodyContent a[resource].inline,#editorialPathContents .editorial_node .bodyContent a[data-widget].inline{
	display: block;
}
#editorialPathContents .editorial_node .bodyContent a[resource][data-size="small"]:before,#editorialPathContents .editorial_node .bodyContent a[data-widget][data-size="small"]:before{
	width: 33%;
}

#editorialPathContents .editorial_node .bodyContent a[resource][data-size="medium"]:before,#editorialPathContents .editorial_node .bodyContent a[data-widget][data-size="medium"]:before{
	width: 50%;
}

#editorialPathContents .editorial_node .bodyContent a[resource][data-size="large"]:before,#editorialPathContents .editorial_node .bodyContent a[data-widget][data-size="large"]:before{
	width: 75%;
}

#editorialPathContents .editorial_node .bodyContent a[resource]:not(.wrap),#editorialPathContents .editorial_node .bodyContent a[data-widget]:not(.wrap){
	white-space: pre;
	clear: both;
}

[contenteditable="true"]:active,[contenteditable="true"]:focus{
	box-shadow: 1px 1px 1px ;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
}
.cke_chrome{
	padding: 0 !important;
}

#editorialPathContents .editorial_node .bodyContent a[resource][data-size="full"]:before,
#editorialPathContents .editorial_node .bodyContent a[resource][data-size="native"]:before,
#editorialPathContents .editorial_node .bodyContent a[data-widget][data-size="full"]:before,
#editorialPathContents .editorial_node .bodyContent a[data-widget][data-size="native"]:before
{
	width: 100%;
}

#editorialPathContents .editorial_node .bodyContent a[resource][data-align="right"]:before,
#editorialPathContents .editorial_node .bodyContent a[data-widget][data-align="right"]:before
{
	float: right;
	margin-left: 1rem;
}

#editorialPathContents .editorial_node .bodyContent a[resource][data-align="right"]:not(.inline):before,
#editorialPathContents .editorial_node .bodyContent a[data-widget][data-align="right"]:not(.inline):before{
	margin-right: -60px;
}

#editorialPathContents .editorial_node .bodyContent a[resource][data-align="left"]:before,
#editorialPathContents .editorial_node .bodyContent a[data-widget][data-align="left"]:before{
	float: left;
	margin-right: 1rem;
}

#editorialPathContents .editorial_node .bodyContent a[resource][data-align="right"]:not(.inline):before,
#editorialPathContents .editorial_node .bodyContent a[data-widget][data-align="left"]:not(.inline):before{
	margin-top: 2rem;
	position: relative;
}
.editorial_node .descriptionLabel:after{
	font-style: normal;
	font-family: 'Lato', Arial, sans-serif !important;
	color: #b4b4b4;

}
#editorialPathContents .loader{
	text-align: center;
	padding: 1rem 0;
	background-color: #eee;
	color: #aaa;
	font-size: 1.5rem;
	border-top: 1px dashed #bfbfbf;
}
.editorialpath-page{
	padding-bottom: 10px;
}

.editorial_node .descriptionContent.noDescription{
	font-style: italic;
	color: #b4b4b4;
}
#editorialSidePanel>div .collapse{
	overflow-y: auto;
}

.note {color:#038200; text-decoration:underline;}