#lenses {
  padding-left: 7.2rem;
  padding-right: 7.2rem;
  margin-top: -2rem;
}
.lens-list-item {
  background:#ccc;
  height:120px;
  width:100%;
}
#lenses ul li {
  text-decoration: none;
  list-style-type: none;
  cursor:pointer;
  margin-left:-10px;
  margin-right:10px;
  padding:2px 0;
}
#lenses ul li:hover {
  background:#d9edf7;
}
#lenses ul li:active{
  background:#c7e6f6;
}
#lenses ul li a {
  font-size:12px;
  padding-left:10px;
  padding-right:10px;
}
#lenses .btn-primary,
#lenses .btn-primary:hover  {
  background: #3b82c0;
  border: 1px solid #457db8;
  padding:2px 11px;
}
#lenses .viz-icon {
  float:right;
  margin-top:6px;
}
#lenses .badge {
  float:right;
  font-weight:100;
  margin-top:4px;
  margin-right:10px;
}
#lenses span {
  vertical-align: middle;
}
.author-lenses-list li {

}
