
div.visualization { text-align: left; }
article .visualization { margin-bottom: 2.4rem; position: relative; }

.progress {
	height:2px;
	margin-bottom:0px;
}
.progress-bar {
	height: 2px;
	margin-bottom: 5px;
}
.loadingMsg {
	font-size: 1.2rem;
	color: #666;
	vertical-align: middle;
	display: none;
}
.loadingMsg > p {
	margin-top:3px;
	margin-bottom: 8px;
}

.vis_inspector {
	width: 330px;
	position: absolute;
	top: 0;
	right: 0;
	height: calc(100% - 37px);
	overflow-y: auto;
	line-height: 100%;
	background-color: white;
}
.modalVisualization .vis_inspector {
	margin-top: 70px;
	height: calc(100% - 107px);
	padding: 15px 15px 15px 15px;
}
.vis_widget .vis_inspector {
	padding: 15px;
	background-color: #eee;
}
.visualization .vis_inspector {
	padding: 15px 0;
	margin-left: 15px;
	width: 300px;
	height: calc(100% - 32px);
	margin-right: 7.2rem;
	border-bottom: 1px solid #ccc;
}
.vis_inspector h3 {
	margin-top: 0;
}
.vis_inspector h4 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.inspector-buttons {
	margin-bottom: 10px;
}
.inspector-thumbnail {
	max-width: 100%;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}
.vis_inspector p {
	margin-bottom: 10px;
	line-height: 120%;
}

.scalarvis {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	min-height: 300px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.scalarvis.scrollable {
	overflow-y: auto;
}

.scalarvis.bounded {
	border: 1px solid #ccc;
}

.scalarvis .no-results-msg {
	color: #333;
	font-weight: normal;;
	font-size: 14px;
	margin-bottom: 10px;
}

.scalarvis.bounded .no-results-msg {
	margin-left: 10px;
	margin-top: 10px;
}

.scalarvis:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 10px !important;
}
.scalarvis:-moz-full-screen {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 10px !important;
}
.scalarvis:-ms-fullscreen {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 10px !important;
}
.scalarvis:fullscreen {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
	padding: 10px !important;
}

.visualization form {
	float:right;
	margin-left: 10px;
}

.ui-button-text {
	font-size: 12px;
}

.ui-buttonset {
	margin-right: 0;
}

.rollover {
	display: none;
  	font: 11px sans-serif;
  	font-weight: bold;
	position:absolute;
	padding: 5px 8px;
	color: white;
	background: black;
	border-radius: 10px;
	max-width: 200px;
}

.typeLabel {
	/*font-weight: bold;*/
	font-size: 12px;
}

.rowLabel {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.vis_footer {
	margin-bottom: 0rem;
	padding-right: .8rem;
	text-align: right;
	font-size: 1.4rem;
	line-height: 140%;
	color: #666;
}

.vis_footer p {
	margin-bottom: 0;
}

.widget_slot.full .vis_footer {
	padding-left: 7.2rem;
}

.vis_footer.bounded, .loadingMsg.bounded {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
}

.vis_footer .media_description {
	text-align: left;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 12px;
}

.vis_footer .btn-xs {
	padding: 0;
}

.selectedLabel {
	cursor: pointer;
}

svg {
  font-size: 1.2rem;
}

.viscanvas {
	fill: #fff;
}

.link {
}

.link.tag {
	fill: #ff0000;
}

.pathLink {
	fill: none;
	stroke-width: 2;
}

.link.mediaFile {
	fill: #0000ff;
}

.node {
	cursor: pointer;
}

.node circle {
  stroke-width: 1.5px;
}

.label {
	cursor: default;
	pointer-events: none;
	font-size: 1.2rem;
	font-weight: normal;
}

.vis-control-header {
	font-size: 14px;
	display: inline-block;
	margin-right: 5px;
}

rect.visit-button {
	fill: #026697;
	cursor: pointer;
}

text.visit-button {
	fill: white;
	cursor: default;
	pointer-events: none;
	font-size: 1.2rem;
	font-weight: normal;
}

.clusternode circle {
  fill: #fff;
}

.clusternode {
  font-size: 1.2rem;
  cursor: pointer;
}

.clusterlink {
  fill: none;
  stroke: #ddd;
  stroke-width: 1.5px;
}

.cipher {
	display: none;
}

.popover ul { margin-top: 1rem; }
.popover li { margin-bottom: .5rem; }

.info_box {
	position: absolute;
	width: 11rem;
	margin-left: -5.5rem;
	pointer-events: none;
}

.info_box .content {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 1px 1px 3px #888888;
	color: white;
	text-align: center;
	padding: 1.0rem;
	font-size: 1.2rem;
	line-height: 140%;
}

.info_box .content p {
    margin: 0;
		font-size: 1.2rem !important;
}

.info_box .content a.btn {
	margin-top: .9rem;
	pointer-events: auto;
}

.info_box .arrow, .d3-tip .arrow {
	background-image: url(images/vis_up_arrow.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 7px;
}

.tag_cloud { font-weight: 700; cursor: default; }
div.jqcloud a:hover { color: inherit !important; }

.vis-loading-msg {
	position: absolute;
	width: 160px;
	top: 100px;
	left: calc(50% - 100px);
	padding: 10px;
	border: 1px solid #aaa;
	background: white;
	text-align: center;
	display: none;
}
