
div.visualization { text-align: left; }
h1.visualization { margin-bottom: 1.2rem; }

.vis_footer.bounded, .loadingMsg.bounded {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
}

.progressbar {
	height: 8px;
	margin-bottom: 5px;
}

.loadingMsg {
	font-size: 1.2rem;
	color: #666;
	vertical-align: middle;
	display: none;
}

.loadingMsg > p {
	margin-bottom: 4px;
}

.scalarvis {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	min-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.scalarvis.bounded {
	border: 1px solid #ccc;
}

.scalarvis:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
}
.scalarvis:-moz-full-screen {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
}
.scalarvis:-ms-fullscreen {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
}
.scalarvis:fullscreen {
	width: 100% !important;
	height: 100% !important;
	margin: 0;
}

.visualization form {
	float:right;
	margin-left: 10px;
}

.ui-button-text {
	font-size: 12px;
}

.ui-buttonset {
	margin-right: 0;
}

.rollover {
	display: none;
  	font: 11px sans-serif;
  	font-weight: bold;
	position:absolute;
	padding: 5px 8px;
	color: white;
	background: black;
	border-radius: 10px;
	max-width: 200px;
}

.typeLabel {
	/*font-weight: bold;*/
	font-size: 12px;
}

.rowLabel {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.vis_footer {
	margin-bottom: 2.4rem;
	text-align: right;
	font-size: 1.4rem;
	line-height: 140%;
	color: #666;
}

.selectedLabel {
	cursor: pointer;
}

svg {
  font-size: 1.2rem;
}

.viscanvas {
	fill: #fff;
}

.link {
}

.link.tag {
	fill: #ff0000;
}

.pathLink {
	fill: none;
	stroke-width: 2;
}

.link.mediaFile {
	fill: #0000ff;
}

.node {
	cursor: pointer;
}

.node circle {
  stroke-width: 1.5px;
}

.label {
	cursor: default;
	pointer-events: none;
	font-size: 1.2rem;
	font-weight: normal;
}

rect.visit-button {
	fill: #026697;
	cursor: pointer;
}

text.visit-button {
	fill: white;
	cursor: default;
	pointer-events: none;
	font-size: 1.2rem;
	font-weight: normal;
}

.clusternode circle {
  fill: #fff;
}

.clusternode {
  font-size: 1.2rem;
  cursor: pointer;
}

.clusterlink {
  fill: none;
  stroke: #ddd;
  stroke-width: 1.5px;
}

.cipher {
	display: none;
}

.popover ul { margin-top: 1rem; }
.popover li { margin-bottom: .5rem; }

.info_box {
	position: absolute;
	width: 11rem;
	margin-left: -5.5rem;
	pointer-events: none;
}

.info_box .content {
	border-radius: 5px;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 1px 1px 3px #888888;
	color: white;
	text-align: center;
	padding: 1.0rem;
	font-size: 1.2rem;
	line-height: 140%;
}

.info_box .content p {
    margin: 0;
}

.info_box .content a.btn {
	margin-top: .9rem;
	pointer-events: auto;
}

.info_box .arrow, .d3-tip .arrow {
	background-image: url(images/vis_up_arrow.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 7px;
}

.tag_cloud { font-weight: 700; }
div.jqcloud a:hover { color: inherit !important; }
