body.sidebar_vis>.page {
    -webkit-transition: all .125s ease-in-out;
    -moz-transition: all .125s ease-in-out;
    -ms-transition: all .125s ease-in-out;
    -o-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out;
    transform: translateX(0px);
    border: 0;
}
body.sidebar_vis #header {    box-shadow: 0 0 5px rgba(0,0,0,.75) }
body.non_fullscreen_page>.page {
    width: 100rem;
    margin: 0 auto
}
body.sidebar_vis.fullscreen_page>.page {
    bottom: 0; right: 0; left: 0rem; top: 0;
    max-width: none; height: 100%; width: auto;
    padding-bottom: 0;
    overflow: hidden
}
body.sidebar_expanded>.page {    transform: translateX(18.5rem) }
body.sidebar_expanded.fullscreen_page>.page {
    -webkit-transform: translateX(31rem);
    -moz-transform: translateX(31rem);
    -ms-transform: translateX(31rem);
    -o-transform: translateX(31rem);
    transform: translateX(31rem);
}
body.sidebar_full.fullscreen_page>.page {
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
    transform: translateX(0rem);
}
body.sidebar_vis #sidebar {
    position: fixed;
    bottom: 0; left: 0; top: 0;
    height: 100%; width: 6rem;
    padding: .5rem;
    padding-top: 6rem;
    background-color: #cdcece;;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -moz-transition-duration: .125s;
    -ms-transition-duration: .125s;
    -o-transition-duration: .125s;
    transition-duration: .125s;
    overflow: hidden;
    z-index: 9;
}
body.sidebar_vis #sidebar #sidebar_paths_pane .large.list #path_list_view,
body.sidebar_vis #sidebar #sidebar_paths_pane .large.list>header>a.list_link,
body.sidebar_vis #sidebar #sidebar_paths_pane .large.all #path_all_view,
body.sidebar_vis #sidebar #sidebar_paths_pane .large.all>header>a.all_link {    display: block }
body.sidebar_vis #sidebar #sidebar_index_pane.pane ul li .title {    opacity: 1 }
body.sidebar_vis #sidebar #sidebar_paths_pane .large>header {
    position: fixed;
    right: 10rem; left: 10rem; top: 6rem;
    height: 5.5rem;
    padding: 5px;
    background-color: transparent !important;
    border-bottom: 0;
    text-align: center;
    line-height: 4rem
}
body.sidebar_vis #sidebar #sidebar_paths_pane .large .view,
body.sidebar_vis #sidebar #sidebar_paths_pane .large>header>a {    display: none }
body.sidebar_vis #sidebar #sidebar_index_pane {    overflow-x: hidden }
body.sidebar_vis #sidebar #sidebar_index_pane ul li {
    display: block;
    margin-left: -1rem; margin-top: 1rem;
    color: rgba(0,0,0,.8);
    text-align: center;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -moz-transition-duration: .125s;
    -ms-transition-duration: .125s;
    -o-transition-duration: .125s;
    transition-duration: .125s;
}
body.sidebar_vis #sidebar #sidebar_index_pane ul li .sidebar_icon,
body.sidebar_vis #sidebar #sidebar_index_pane.pane ul li .title {    display: inline }
body.sidebar_vis #sidebar #sidebar_panes {
    position: absolute;
    bottom: 0; right: 0; left: 0; top: 5rem;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow: hidden;
}
body.sidebar_vis #sidebar .sidebar_icon {
    display: table-cell;
    width: 1rem;
    padding-left: .75rem;
    margin: 1rem;
    font-size: 1.75rem;
    text-align: center;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .25s;
    transition-timing-function: ease-in-out;
    -moz-transition-duration: .25s;
    -ms-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
    vertical-align: middle;
    line-height: 2.5rem;
}
body.sidebar_vis #sidebar .pane.active {    display: block }
body.sidebar_vis #sidebar .pane.overlay { 
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    background-color: #cdcece;
}
body.sidebar_vis #sidebar .smallmed {    display: table }
body.sidebar_vis #sidebar .large,
body.sidebar_full #sidebar .smallmed {    display: none }
body.sidebar_vis #sidebar>#sidebar_inside>header {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 0 solid rgba(0,0,0,.5);
    white-space: nowrap;
    background-color: #c0c1c1;
    line-height: 0;
    transform: translateY(-6rem);
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -moz-transition-duration: .125s;
    -ms-transition-duration: .125s;
    -o-transition-duration: .125s;
    transition-duration: .125s
}
body.sidebar_expanded.sidebar_vis #sidebar>#sidebar_inside>header {
    transform: translateY(0rem)
}
body.sidebar_vis #sidebar>#sidebar_inside>header:hover .header_icon span {    color: rgba(0,0,0,.5) }
body.sidebar_vis #sidebar>#sidebar_inside>header .header_icon {
    float: left;
    margin-right: 1rem; margin-left: 1.5rem;
    font-size: 2.4rem;
    vertical-align: middle;
    line-height: 26px;
}
body.sidebar_vis #sidebar>#sidebar_inside>header .header_icon span {
    color: rgba(0,0,0,.33);
    vertical-align: middle
}
body.sidebar_vis #sidebar>#sidebar_inside>header .controls .sidebar_hide,
body.sidebar_vis #sidebar footer,
body.sidebar_vis #info_panel footer a {    display: none }
body.sidebar_vis #sidebar>#sidebar_inside>header .title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    padding: 0 .5rem 0 1rem;
    line-height: 2em;
    font-size: 1.5rem;
    color: #515151;
}
body.sidebar_vis #sidebar>#sidebar_inside>header>.title:hover{
    background-color: #b5b6b6;
}
body.sidebar_vis #sidebar>#sidebar_inside>header {
    padding: 0 0.5rem 0 0; margin: -1rem -1rem 0 -1rem;
    border-color: 2px solid #222;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
body.sidebar_vis #sidebar .pane {
    display: none;
    height: 100%; width: 100%;
    margin-top: 0
}
body.sidebar_vis #sidebar .pane ul li.active {    color: rgba(0,0,0,.75); position: relative; }
body.sidebar_vis #sidebar .pane ul li.active .sidebar_icon:after{
    content: '\25b8';
    overflow: hidden;
    width: 0;
    height: 0;
    text-indent: -100rem;
    position: absolute;
    left: 0px;
    border-style: solid;
    border-width: 3px 0 3px 5px;
    border-color: transparent transparent transparent #000000;
    top: 50%;
    margin-top: -4px;
    left: 0px;
}
body.sidebar_vis #sidebar .pane ul li:hover,
body.sidebar_vis #sidebar .pane ul li.active:hover {    color: rgba(0,0,0,.9) }
body.sidebar_vis #sidebar .pane ul li.empty {
    height: 33px;
    cursor: default
}
body.sidebar_vis #sidebar .pane ul li{
    display: table;
    padding-bottom: 4px; padding-top: 4px;
    color: rgba(0,0,0,.5);
    list-style-type: none;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 6px;
}
body.sidebar_vis.sidebar_expanded #sidebar .pane ul li{
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -moz-transition-duration: .125s;
    -ms-transition-duration: .125s;
    -o-transition-duration: .125s;
    transition-duration: .125s;
}
body.sidebar_expanded #sidebar .pane ul li {
    width: 18rem;
}
body.sidebar_vis #sidebar .pane ul li .title {
    display: table-cell;
    padding-left: 1em;
    font-size: 1.2rem;
    vertical-align: middle
}
body.sidebar_vis #sidebar ul {
    display: table-cell;
    vertical-align: middle
}
body.sidebar_vis #sidebar.tall {    padding-top: 2rem }
body.sidebar_vis #info_panel.tall {    padding-top: 1rem }
body.sidebar_vis #info_panel.tall #info_panel_arrow {    margin-top: -6.5rem }
body.sidebar_vis #sidebar_inside {
    position: relative;
    height: 100%; width: 100%
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector {
    position: absolute;
    display: none;
    left: 0rem;
    top: 2.7rem;
    width: 32rem;
    margin-top: 3px;
    z-index: 10;
    background-color: #c0c1c1;
    border-top: 1px solid #515151;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul {
    display: block;
    width: 100%;
    padding: 0; margin: 0;
    list-style-type: none
}

body.sidebar_vis #info_panel #info_panel_header a,
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li {
    text-transform: uppercase;
    cursor: pointer
}
body.sidebar_vis #info_panel #info_panel_header a{
    color: #b2b3b6;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li{
    color: #515151;
}

body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.enabled {    display: block }
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.enabled:hover {
    background-color: #515151;
    color: #c0c1c1;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.enabled:hover .title, body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.enabled:hover .sidebar_maximize {
    color: #c0c1c1;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.enabled:hover .title:hover{
    background-color: rgba(0,0,0,.125);
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.active {  display: none }


body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li {
    display: none;
    padding: 0 .5rem 0 0;
    border-bottom: 1px solid #515151;
}
body.sidebar_vis #sidebar_inside>header.selector_open {    border-bottom: 0 }
body.sidebar_collapsed #sidebar #sidebar_index_pane ul li {
    width: 4rem;
    margin-top: 0;
    color: rgba(0,0,0,.5)
}
body.sidebar_collapsed #sidebar .pane ul li.distant {    display: none }
body.sidebar_collapsed #sidebar .pane ul li.distance_10 {    color: rgba(0,0,0,.05) }
body.sidebar_collapsed #sidebar .pane ul li.distance_9 {    color: rgba(0,0,0,.1) }
body.sidebar_collapsed #sidebar .pane ul li.distance_8 {    color: rgba(0,0,0,.15) }
body.sidebar_collapsed #sidebar .pane ul li.distance_7 {    color: rgba(0,0,0,.2) }
body.sidebar_collapsed #sidebar .pane ul li.distance_6 {    color: rgba(0,0,0,.25) }
body.sidebar_collapsed #sidebar .pane ul li.distance_5 {    color: rgba(0,0,0,.3) }
body.sidebar_collapsed #sidebar .pane ul li.distance_4 {    color: rgba(0,0,0,.35) }
body.sidebar_collapsed #sidebar .pane ul li.distance_3 {    color: rgba(0,0,0,.4) }
body.sidebar_collapsed #sidebar .pane ul li.distance_2 {    color: rgba(0,0,0,.45) }
body.sidebar_vis .bg_screen {    background-color: rgba(255,255,255,.25) }
body.sidebar_full {    background-color: #fff }
body.sidebar_full #info_panel {    left: 0 }
body.sidebar_full #sidebar .large {
    display: block;
    padding: 5rem
    padding-left: 25rem;
}
body.sidebar_full #info_panel {
    top: 10rem;
    margin-top: 5px;
    z-index: 10
}
body.sidebar_expanded #sidebar {
    width: 31rem
}
body.sidebar_vis .smallmed,
body.sidebar_full .large {
    position: relative;
    height: 100%; width: 100%
}
body.sidebar_vis #sidebar>#sidebar_inside>header>.controls>.sidebar_minimize{
    display: none;
}
body.sidebar_full.sidebar_vis #sidebar>#sidebar_inside>header>.controls>.sidebar_minimize{
    display: inline;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.25rem;
    padding-bottom: .5rem;
}
body.sidebar_full #sidebar>#sidebar_inside .sidebar_maximize{
    display: none;
}
body.sidebar_expanded #sidebar #sidebar_index_pane ul li .sidebar_icon {    font-size: 2.4rem }
body.sidebar_expanded #sidebar #sidebar_index_pane.pane ul li .title {
    margin-left: -1rem;
    font-size: 2.4rem
}
body.sidebar_expanded #sidebar #sidebar_panes {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
}
body.sidebar_expanded.info_panel_open #sidebar #sidebar_inside>header .controls {    text-indent: 0.25rem }
body.sidebar_expanded.sidebar_full #sidebar {
    width: 100%;
    background-color: rgba(255,255,255,0.875)
}
body.sidebar_vis #info_panel {
    position: fixed;
    bottom: 0; left: 30.25rem; top: 0;
    width: 0;
    padding-top: 5rem;
    color: #b2b3b6;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -moz-transition-duration: .125s;
    -ms-transition-duration: .125s;
    -o-transition-duration: .125s;
    transition-duration: .125s;
    z-index: 10;
}

body.sidebar_vis #sidebar>#sidebar_inside>header .controls a{
    font-size: 1.5rem;
}
body.sidebar_vis #sidebar>#sidebar_inside>header .user_actions a{
    font-weight: bold;
    font-size: 1rem;
}

body.sidebar_vis #sidebar>#sidebar_inside>header .controls a:hover, body.sidebar_vis #sidebar>#sidebar_inside>header .user_actions a:hover{
    background-color: #b5b6b6;
    color: #000;
}
body.sidebar_vis #sidebar>#sidebar_inside>header>#sidebar_selector .sidebar_maximize{
    padding: .5rem .95rem;
    line-height: 2rem;
}
body.sidebar_vis #sidebar>#sidebar_inside>header>#sidebar_selector .sidebar_maximize:hover{
    background-color: rgba(0,0,0,.125);
}
#sidebar_inside>header>.user_actions a.active{
    background-color: #cdcece;
}
body.sidebar_vis #sidebar>#sidebar_inside>header .user_actions a, body.sidebar_vis #sidebar>#sidebar_inside>header .controls a{
    cursor: pointer;
    color: #515151;
    float: right;
    overflow: hidden;
    padding: .25rem 1rem 0rem 1rem;
    line-height: 2.75rem;
    text-decoration: none;
}
body.sidebar_vis #sidebar>#sidebar_inside>header .user_actions a.icon-markers{
    padding: .25rem 1.25rem 0rem 1.25rem
}
body.sidebar_vis #sidebar>#sidebar_inside>header .user_actions, body.sidebar_vis #sidebar>#sidebar_inside>header .controls{
    display: none;
}
body.sidebar_expanded #sidebar>#sidebar_inside>header .user_actions, body.sidebar_expanded #sidebar>#sidebar_inside>header .controls{
    display: inline;
}
body.sidebar_vis #info_panel #info_panel_content {
    position: absolute; display: none;
    bottom: 1rem; top: 9rem;
    width: 100%;
    overflow: auto;
    z-index: 10;
}
body.sidebar_vis #info_panel.tall #info_panel_content {
    top: 4rem;
}
body.sidebar_vis #info_panel #info_panel_header {
    padding: 0 2rem;
    font-size: 1.5rem;
    text-align: center;
    display: none;
    line-height: 3rem;
    position: relative;
    z-index: 11;
    background-color: rgba(0,0,0,.05);
}
body.info_panel_open #info_panel #info_panel_header {
	display: block;
}
body.sidebar_vis #info_panel #info_panel_header a.active {
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased
}
body.sidebar_vis #info_panel .block {    
    display: none;
    padding-bottom: 10px;
}
body.sidebar_vis #info_panel .block li {    font-size: 1.2rem }
body.sidebar_vis #info_panel .block li{
    display: table;
}
body.sidebar_vis #info_panel .block li a {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -moz-transition-duration: .125s;
    -ms-transition-duration: .125s;
    -o-transition-duration: .125s;
    transition-duration: .125s;
    display: table-row;
    color: #fff;
}
body.sidebar_vis #info_panel .block li a:hover,
body.sidebar_vis #info_panel .block li a:active {
    color: #fff;
    text-decoration: none
}
body.sidebar_vis #info_panel .metadata_list {    padding: 1rem 2rem }
body.sidebar_vis #info_panel .metadata_list dt,
body.sidebar_vis #info_panel .metadata_list dd {
    display: inline;
    font-size: 1.2rem
}
body.sidebar_vis #info_panel .metadata_list dl {    padding: 5px 1rem }
body.sidebar_vis #info_panel .discuss_link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding-bottom: 1rem; padding-top: 1rem
}
body.sidebar_vis #info_panel hr{
    border: 0;
    border-top: 1px solid #333;
    margin-top: 0;
}
body.sidebar_vis #info_panel .description {
    padding: .5rem 2rem;
    font-size: 90%;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}
body.sidebar_vis #info_panel .section {
    display: none;
    padding: 0; margin: 0;
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
}
body.sidebar_vis #info_panel.short #info_panel_content{
    padding-top: 0;
    bottom: 0;
    top: 5rem;
}body.sidebar_vis #info_panel.tall.short #info_panel_content{
    top: 1rem;
}
body.sidebar_vis #info_panel.short .section {
    height: auto;
    display: block;
}
body.sidebar_vis #info_panel.short .section {
    margin-top: 1rem;
}
body.sidebar_vis #info_panel.short #overview_info {
    margin-top: 0;
}
body.sidebar_vis #info_panel.short #metadata_info {
    border-bottom: 0;
    padding-bottom: 0;
}

body.sidebar_vis #info_panel.short #info_panel_header{
    display: none;
}
body.sidebar_vis #info_panel .title,
body.sidebar_vis #info_panel h4 {
    padding: .5rem 2rem; margin: 0;
    color: #eee
}
body.sidebar_vis #info_panel .title {
    padding: 1rem 2rem .5rem 2rem;
    font-size: 2.1rem;
    line-height: 2.4rem
}
body.sidebar_vis #info_panel footer {
    position: absolute; display: none;
    bottom: 1rem; right: 2rem; left: 2rem;
    height: 4.4rem;
    text-align: center;
    cursor: pointer
}
body.sidebar_vis #info_panel ul,
body.sidebar_vis #info_panel .discuss_link {
    padding: 0 2rem; margin: 0;
    cursor: pointer
}
body.sidebar_vis #info_panel ul li,
body.sidebar_vis #info_panel .discuss_link {
    list-style-type: none;
    clear: left;
}
body.sidebar_vis #info_panel h2 {
    padding: 0; margin: 0;
    font-size: 1.2rem;
    line-height: 1.75em
}
body.sidebar_vis #info_panel_thumbnail{
    margin: 1rem;
    background-color: transparent;
}
body.sidebar_vis #info_panel_thumbnail img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 20rem;
}
body.sidebar_vis #info_panel {   
    background-color: #515151;
}
body.sidebar_vis.sidebar_expanded #sidebar .pane ul li.empty {    display: table }
body.sidebar_vis #info_panel.overview #overview_info.section,
body.sidebar_vis #info_panel.comments #comments_info.section,
body.sidebar_vis #info_panel.metadata #metadata_info.section {    display: block }
body.sidebar_expanded #info_panel {    left: 31rem }
body.info_panel_open #info_panel {    width: 31rem }
body.info_panel_open #info_panel #info_panel_content {    display: block }
body.info_panel_open #info_panel footer {    display: block }
#info_panel .overview_link {    float: left }
#info_panel .metadata_link {    float: right }
body.sidebar_vis #info_panel #info_panel_header a:hover {
    color: #eee;
    text-decoration: none
}
body.sidebar_vis #info_panel_arrow {
    position: fixed;
    left: 32rem; top: 50%;
    height: 0; width: 0;
    margin-top: -1rem;
    border-bottom: 1em transparent solid; border-right: 0em #515151 solid; border-left: 0em #515151 solid; border-top: 1em transparent solid;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-duration: .125s;
    transition-timing-function: linear;
    -moz-transition-duration: .125s;
    -ms-transition-duration: .125s;
    -o-transition-duration: .125s;
    transition-duration: .125s;
    opacity: 0;
    z-index: 10;
}
body.info_panel_open #info_panel_arrow {
    left: 32rem;
    border-right: 1em #515151 solid;
    opacity: 1;
    z-index: 10;
}
body.sidebar_expanded.info_panel_open #info_panel_arrow {    left: 29.5rem }
body.info_panel_open.sidebar_full #info_panel_arrow {
    left: 100%;
    border-right: 0; border-left: 1em #515151 solid;
    opacity: 1;
    z-index: 10;
}
body.sidebar_expanded.info_panel_open #info_panel {    margin-left: 0 }
body.sidebar_vis #sidebar_inside>header.selector_open,
body.sidebar_vis #sidebar_inside>header.selector_open:hover {    background-color: rgba(0,0,0,.125) }
body.sidebar_vis #sidebar_inside>header.selector_open #sidebar_selector {
    display: block;
}
.comment_list>li, .comment_list>li>a{
    color: #b2b3b6;
    font-size: 90%;
}
body.sidebar_vis #sidebar_inside>header.selector_open .header_icon span {    color: rgba(0,0,0,.5) }
.comment_list>li>a>.text {    width: 24rem }
.comment_list>li>a>.text>strong {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#comments_info .discuss_link .text,
#comments_info .comment_list .text,
#comments_info .featured_list .text,
#overview_info li .text{
    padding-left: 2rem;
}
#comments_info .discuss_link .icon{
    padding-top: .5rem;
}
#comments_info .discuss_link .icon,
#comments_info .comment_list .icon,
#comments_info .featured_list .icon,
#comments_info .discuss_link .text,
#comments_info .comment_list .text,
#comments_info .featured_list .text,
#overview_info li .icon,
#overview_info li .text {
    display: table-cell;
    vertical-align: middle
}
#comments_info .discuss_link .icon span {    color: #fff }
#comments_info li a:hover{
	text-decoration: none;
}
body.sidebar_vis #info_panel #comments_info li .title{
	color: #fff;
	padding-left: 0px;
    font-size: 1.5rem;
}
#overview_info li .icon,
#overview_info li .text {    font-size: 1.2rem }

@media only screen and (min-width:581px) { 
    /*Everything but small screens*/
    body.sidebar_vis #sidebar .pane ul li.distant {    display: table }
    body.sidebar_vis #sidebar .pane ul li.distant,
    body.sidebar_vis #sidebar .pane ul li .title {
        overflow: hidden;
        display: none;
    }
    body.sidebar_vis #sidebar #sidebar_panes {    overflow-y: hidden }
    body.sidebar_expanded #sidebar #sidebar_panes {    overflow-y: auto }
    body.sidebar_expanded #sidebar .pane ul li.distant,
    body.sidebar_expanded #sidebar .pane ul li .title
     {
        overflow: visible;
        display: table-cell;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width:1250px) { 
    body.non_fullscreen_page.sidebar_vis>.page {
        margin-right: 5rem;
		margin-left: 10rem;
        width: auto
    }
    body.sidebar_expanded>.page {    transform: translateX(26rem) }
}
/* Small Devices, Tablets */
@media only screen and (max-width:768px) { 
    body.non_fullscreen_page.sidebar_vis>.page {
        left: 10rem;
        right: 0rem;
        width: auto
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width:580px) { 
    body.sidebar_vis #info_panel #info_panel_content{
        top: 10rem;
    }
    body.sidebar_vis #sidebar ul{
        vertical-align: top;
    }
    body.sidebar_vis.sidebar_expanded #sidebar .pane ul li.empty{
        display: none;
    }
    body.sidebar_vis #info_panel #info_panel_content {
        bottom: 4.5rem;
    }
    body.sidebar_vis #sidebar.tall {    padding-top: 1rem }
    body.sidebar_vis #info_panel.tall {    padding-top: 1rem }
    body.non_fullscreen_page.sidebar_vis>.page {
        right: 0; left: 0; top: 5rem;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        margin-top: 2rem;
        transform: translateX(0px)
    }
    body.sidebar_vis #sidebar {
        position: fixed;
        right: 0;
        height: 10rem; width: 100%;
        padding: 5rem 0 0 0;
    }
    body.sidebar_vis #sidebar #sidebar_panes {    top: 5.7rem }
    body.sidebar_vis #sidebar .pane ul li {    width: 100% }
    body.sidebar_vis #sidebar .pane ul li .sidebar_icon {
        font-size: 1.75rem;
        line-height: 4.5rem
    }
    body.sidebar_vis #sidebar .pane ul li .title {    font-size: 2.4rem }
    body.sidebar_vis #sidebar>#sidebar_inside>header {
        margin-top: 0;
        padding: 1rem 2rem;
        background-color: #eee;
        transform: translateY(0px);
    }
    body.sidebar_vis #sidebar>#sidebar_inside>header .controls {    display: none }
    body.sidebar_vis #sidebar_panes {
        bottom: auto;
        height: 0;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-transition-duration: .125s;
        transition-timing-function: ease-in-out;
        -moz-transition-duration: .125s;
        -ms-transition-duration: .125s;
        -o-transition-duration: .125s;
        transition-duration: .125s;
        opacity: 0;
    }
    body.sidebar_vis #info_panel {
        display: none;
        padding-bottom: 5rem
    }
    body.sidebar_vis #info_panel #info_panel_header {    padding: 0 }
    body.sidebar_vis #info_panel #info_panel_arrow {    display: none }
    body.sidebar_vis #info_panel .info_hide {    display: block }
    body.sidebar_vis #sidebar footer,
    body.sidebar_vis #info_panel footer {
        position: fixed;
        bottom: 0; left: 0;
        height: 4.4rem; width: 100%;
        padding-bottom: .3rem; padding-top: .3rem;
        text-align: center;
        cursor: pointer
    }
    body.info_panel_open #info_panel {    display: block }
    body.sidebar_vis #sidebar {    padding-bottom: 5rem }
    body.sidebar_expanded #sidebar #sidebar_inside footer,
    body.info_panel_open #info_panel footer,
    body.sidebar_vis #sidebar footer a,
    body.info_panel_open #info_panel footer a {    display: block }
    body.info_panel_open #info_panel footer .info_visit {    float: right }
    body.info_panel_open #info_panel footer .info_visit {    display: block }
    body.info_panel_open #info_panel footer .info_hide {    float: left }
    body.info_panel_open #info_panel footer a {    width: 50% }
    body.sidebar_expanded {    overflow: hidden }
    body.sidebar_vis #info_panel {
        right: 0; left: 100%;
        width: 100%
    }
    body.sidebar_expanded #sidebar_panes {
        height: 100%;
        margin-top: 5px;
        opacity: 1
    }
    body.sidebar_expanded #sidebar {
        height: 100%;
        background-color: rgb(238, 238, 238)
    }
    body.sidebar_expanded>.page {
        right: 0; left: 0;
        transform: translateY(10rem)
    }
    body.info_panel_open #info_panel {
        right: 0; left: 0
    }
    body.info_panel_open #sidebar {
        background-color: rgb(100, 100, 100);
        transform: translateX(-1rem)
    }
    body.sidebar_vis.fullscreen_page>.page {
        left: 0; top: 5rem
    }
    body.sidebar_vis #sidebar_inside>header.selector_open #sidebar_selector {
        bottom: 0; right: -1rem;
        width: auto;
        background-color: rgb(238, 238, 238)
    }
    body.sidebar_vis #info_panel_header a {
        display: inline-block;
        width: 33%;
        line-height: 5rem
    }
    body.sidebar_vis #info_panel_header a.active {    background-color: rgba(0,0,0,.125) }
}