/* We have at least 250px on left side. */
body.sidebar_vis .page{
	position: absolute;
	width: 1000px;
	margin: 0px;
	right: 100px;
	border: 0px;
	transform: translateX(0px);

	transition: transform .125s ease-in-out, opacity .5s ease-in-out;
	-webkit-transition: transform .125s ease-in-out, opacity .5s ease-in-out;
	-moz-transition: transform .125s ease-in-out, opacity .5s ease-in-out;
}
body.sidebar_vis #sidebar{
	font-family: 'Lato', Arial, sans-serif !important;

	position: absolute;
	
	padding: 10px;
	padding-top: 6rem;
	
	background-color: transparent;
	width: 50px;
	height: 100%;

	left: 0px;
	top: 0px;
	bottom: 0px;


    transition-duration: .125s;
    -webkit-transition-duration: .125s;
    -moz-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
	
	overflow: hidden;
}

body.sidebar_vis #sidebar ul{
	vertical-align: middle;
	display: table-cell;
}
body.sidebar_vis #sidebar_inside{
	width: 100%;
	height: 100%;
	position: relative;
}

body.sidebar_vis #sidebar .sidebar_icon{
	font-size: 2em;
	text-align: center;
	margin: 10px;
	vertical-align: middle;

	width: 1rem;

	color: #ccc;

    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;

	display: table-cell;
}

body.sidebar_expanded #sidebar .sidebar_icon{
	color: #000;
}
body.sidebar_vis #sidebar header{
	font-size: 2rem;
	padding-bottom: 5px;
	border-bottom: 0px solid #333;
	margin-bottom: 5px;
	white-space: nowrap;
}
body.sidebar_expanded #sidebar header{
	border-bottom: 1px solid #333;
}
body.sidebar_vis #sidebar header .title{
	text-indent: -100em;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}
body.sidebar_vis #sidebar header .controls{
	float: right;
	text-indent: -1000px;
	overflow: hidden;
    transition-duration: .125s;
    -webkit-transition-duration: .125s;
    -moz-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
}
body.sidebar_vis #sidebar header .controls .disabled{
	opacity: .5;
}
body.sidebar_expanded #sidebar header .title, body.sidebar_expanded #sidebar header .controls{
	text-indent: 0em;
}

body.sidebar_vis #sidebar header .header_icon{
	float: left;
	vertical-align: middle;
	margin-right: 1rem;
}
body.sidebar_vis #sidebar header .header_icon span{
	vertical-align: middle;
	color: #ccc;
}

body.sidebar_vis #sidebar #sidebar_panes{
	position: absolute;
	top: 4rem;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
body.sidebar_expanded #sidebar #sidebar_panes{
	overflow-y: auto;
	overflow-x: hidden;
}
body.sidebar_vis #sidebar .pane{
	height: 100%;
	width: 100%;
	display: none;
	margin-top: 0px;
}
body.sidebar_vis #sidebar .pane.active{
	display: table;
}
body.sidebar_vis #sidebar .pane ul li{
	color: #ccc;
	list-style-type: none;
	vertical-align: middle;
	width: 180px;
	display: table;
}
body.sidebar_vis #sidebar .pane ul li .title{
	font-size: .75em;
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
}

body.sidebar_vis #sidebar .pane ul li.active{
	color: #333;
}

body.sidebar_vis #sidebar header{
	border-color: 2px solid #222;
}
body.sidebar_vis #sidebar header .controls a{
	padding: 5px;
	color: #333;
	cursor: pointer;
}
body.sidebar_vis #sidebar header .controls a:hover{
	color: #222;
}

@media only screen and (min-width : 581px) {
	/*Everything but small screens*/
	body.sidebar_expanded #sidebar{
		background-color: #eee;
		width: 200px;
	}

	body.sidebar_vis #sidebar .pane ul li.distant, body.sidebar_vis #sidebar .pane ul li .title{
		opacity: 0;
	    transition-duration: .125s;
	    -webkit-transition-duration: .125s;
	    -moz-transition-duration: .125s;
	    transition-timing-function: ease-in-out;
	    -webkit-transition-timing-function: ease-in-out;
	    -moz-transition-timing-function: ease-in-out;
	}

	body.sidebar_expanded #sidebar .pane ul li.distant, 
	body.sidebar_expanded #sidebar .pane ul li .title{
		text-indent: 0px;
		opacity: 1;
	}

	body.sidebar_expanded.sidebar_opened #sidebar, body.sidebar_vis .bg_screen{
		background-color: #fff;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1250px) {
	body.sidebar_vis .page{
		width: auto;
		left: 200px;
	}	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body.sidebar_vis .page{
		width: auto;
		left: 100px;
	}
	body.sidebar_expanded .page{
		transform: translateX(100px);
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	body.sidebar_vis .page{
		width: auto;
		left: 50px;
	}
	body.sidebar_expanded .page{
		transform: translateX(150px);
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 580px) {
	body.sidebar_vis .page{
		width: 100%;
		left: 0px;
		right: 0px;
		z-index: 2;
	}
	body.sidebar_vis #sidebar{
		right: 0px;
		width: 100%;
	}
	body.sidebar_expanded .page{
		opacity: 0;
		left: 100%;
		right: auto;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}