/* We have at least 250px on left side. */
body.sidebar_vis>.page{
	width: 100rem;
	margin: 0px auto;
	border: 0px;

	transform: translateX(0px);



	transition: all .125s ease-in-out;
	-webkit-transition: all .125s ease-in-out;
	-moz-transition: all .125s ease-in-out;
}
body.sidebar_vis.fullscreen_page>.page{
	right: 0px;
	left: 4.25rem;
	width: auto;
	max-width: none;
	bottom: 0px;
	padding-bottom: 0px;
	top: 0px;
	overflow: hidden;
	height: 100%;
}
body.sidebar_vis.fullscreen_page>.page>span{
	position: relative;
	height: 100%;
	display: block;
}
body.sidebar_expanded.fullscreen_page>.page{
	transform: translateX(15.75rem);
	-webkit-transform: translateX(15.75rem);
	-moz-transform: translateX(15.75rem);
}
body.sidebar_full.fullscreen_page>.page{
	transform: translateX(0rem);
	-webkit-transform: translateX(0rem);
	-moz-transform: translateX(0rem);
}

body.sidebar_vis #sidebar{
	position: fixed;
	
	padding: 10px;
	padding-top: 6rem;
	
	background-color: #fafafa;
	width: 5.75rem;
	height: 100%;

	left: 0px;
	top: 0px;
	bottom: 0px;

	z-index: 9;

    transition-duration: .125s;
    -webkit-transition-duration: .125s;
    -moz-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
	
	overflow: hidden;
}
body.info_panel_open #sidebar{
	width: 6.25rem;
}
body.info_panel_open #sidebar{
	width: 6.25rem;
}

body.sidebar_vis #sidebar.tall{
	padding-top: 2rem;
}
body.sidebar_vis #info_panel.tall{
	padding-top: 2rem;
}

body.sidebar_vis #sidebar ul{
	vertical-align: middle;
	display: table-cell;
}
body.sidebar_vis #sidebar_inside{
	width: 100%;
	height: 100%;
	position: relative;
}

body.sidebar_vis #sidebar .sidebar_icon{
	font-size: 2rem;
	line-height: 2.5rem;
	text-align: center;
	margin: 10px;
	vertical-align: middle;

	width: 1rem;
	padding-left: .75rem;

    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;

	display: table-cell;
}
body.sidebar_vis #sidebar header{
	font-size: 2rem;
	padding-bottom: 5px;
	border-bottom: 0px solid rgba(0,0,0,.5);
	margin-bottom: 5px;
	white-space: nowrap;
}
body.sidebar_expanded #sidebar header{
	border-bottom: 1px solid #333;
}
body.sidebar_vis #sidebar header .title{
	text-indent: -100em;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}
body.sidebar_vis #sidebar header .controls{
	float: right;
	text-indent: -1000px;
	overflow: hidden;
    transition-duration: .125s;
    -webkit-transition-duration: .125s;
    -moz-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
}
body.sidebar_vis #sidebar header .controls a, body.sidebar_vis #sidebar header .controls a:hover{
	font-size: 1.5rem;
	text-decoration: none;
	line-height: 
}
body.sidebar_full #sidebar header .controls .sidebar_maximize{
	opacity: .5;
	cursor: default;
}
body.sidebar_expanded #sidebar header .title, body.sidebar_expanded #sidebar header .controls{
	text-indent: 0em;
}

body.sidebar_vis #sidebar header .header_icon{
	float: left;
	vertical-align: middle;
	margin-right: 1rem;
	margin-left: .5rem;
	font-size: 25px;
	line-height: 26px;
}

body.sidebar_vis #sidebar header .header_icon span{
	vertical-align: middle;
	color: rgba(0,0,0,.33);
}

body.sidebar_vis #sidebar header:hover .header_icon span{
	color: rgba(0,0,0,.5);
}

body.sidebar_vis #sidebar #sidebar_panes{
	position: absolute;
	top: 5rem;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
body.sidebar_expanded #sidebar #sidebar_panes{
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
body.sidebar_vis #sidebar .pane{
	height: 100%;
	width: 100%;
	display: none;
	margin-top: 0px;
}
body.sidebar_vis #sidebar .pane.active{
	display: block;
}
body.sidebar_vis #sidebar .pane ul li{
	color: rgba(0,0,0,.5);
	list-style-type: none;
	vertical-align: middle;
	width: 180px;
	display: table;
	cursor: pointer;
	padding-top: 4px;
	padding-bottom: 4px;
}
body.sidebar_vis #sidebar #sidebar_index_pane{
	overflow-x: hidden;
}
body.sidebar_vis #sidebar #sidebar_index_pane ul li{
	display: block;
	text-align: center;
	margin-left: -10px;
    transition-duration: .125s;
    -webkit-transition-duration: .125s;
    -moz-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    color: rgba(0,0,0,.8);
	margin-top: 10px;
	margin-top: 10px;
}
body.sidebar_collapsed #sidebar #sidebar_index_pane ul li{
	width: 40px;
	margin-top: 0px;
	margin-top: 0px;
	color: rgba(0,0,0,.5);
}
body.sidebar_vis #sidebar #sidebar_index_pane ul li .sidebar_icon, body.sidebar_vis #sidebar #sidebar_index_pane.pane ul li .title{
	display: inline;
}
body.sidebar_vis #sidebar #sidebar_index_pane.pane ul li .title{
	opacity: 1;
}
body.sidebar_expanded #sidebar #sidebar_index_pane ul li .sidebar_icon{
	font-size: 30px;

}
body.sidebar_expanded #sidebar #sidebar_index_pane.pane ul li .title{
	font-size: 20px;
	margin-left: -10px;
}
body.sidebar_collapsed #sidebar .pane ul li.distant{
	display: none;
}
body.sidebar_collapsed #sidebar .pane ul li.distance_10{
	color: rgba(0,0,0,.05);
}
body.sidebar_collapsed #sidebar .pane ul li.distance_9{
	color: rgba(0,0,0,.1);
}
body.sidebar_collapsed #sidebar .pane ul li.distance_8{
	color: rgba(0,0,0,.15);
}
body.sidebar_collapsed #sidebar .pane ul li.distance_7{
	color: rgba(0,0,0,.2);
}
body.sidebar_collapsed #sidebar .pane ul li.distance_6{
	color: rgba(0,0,0,.25);
}
body.sidebar_collapsed #sidebar .pane ul li.distance_5{
	color: rgba(0,0,0,.3);
}
body.sidebar_collapsed #sidebar .pane ul li.distance_4{
	color: rgba(0,0,0,.35);
}
body.sidebar_collapsed #sidebar .pane ul li.distance_3{
	color: rgba(0,0,0,.4);
}
body.sidebar_collapsed #sidebar .pane ul li.distance_2{
	color: rgba(0,0,0,.45);
}
body.sidebar_vis #sidebar .pane ul li:hover, body.sidebar_vis #sidebar .pane ul li.active:hover{
	color: rgba(0,0,0,.9);
}
body.sidebar_vis #sidebar .pane ul li .title{
	font-size: .75em;
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
}

body.sidebar_vis #sidebar .pane ul li.active{
	color: rgba(0,0,0,.75);
}

body.sidebar_vis #sidebar header{
	border-color: 2px solid #222;
	margin: -10px -10px 0px -10px;
	padding: 10px;
	cursor: pointer;
}
body.sidebar_expanded #sidebar header:hover{
	background-color: rgba(0,0,0,.125);
}
body.sidebar_vis #sidebar header .controls a{
	padding: 6px 8px;
	color: #333;
	cursor: pointer;
}
body.sidebar_vis #sidebar header .controls a:hover{
	color: #222;
}

body.sidebar_expanded.sidebar_opened #sidebar{
	background-color: rgba(255,255,255,.5)
}
body.sidebar_vis .bg_screen{
	background-color: rgba(255,255,255,.25)
}

body.sidebar_vis .smallmed, body.sidebar_full .large{
	width: 100%;
	height: 100%;
	position: relative;
}
body.sidebar_vis #sidebar .smallmed{
	display: table;
}
body.sidebar_vis #sidebar .large, body.sidebar_full #sidebar .smallmed{
	display: none;
}

body.sidebar_full #sidebar .large{
	display: block;
	padding: 50px;
	padding-left: 250px;
}
body{
	background-color: #fff;
}

body.sidebar_expanded #sidebar{
	background-color: rgba(238, 238, 238, 0.75);
	width: 20rem;
}
body.sidebar_expanded.info_panel_open #sidebar #sidebar_inside>header .controls{
	text-indent: 0.25rem
}

body.sidebar_expanded.sidebar_full #sidebar{
	background-color: rgba(255,255,255,0.875);
	width: 100%;
}
body.sidebar_vis #info_panel{
	width: 0px;
	position: fixed;
	left: 6.25rem;
	background-color: #ddd;
	top: 0px;
	padding-top: 5rem;
	bottom: 0px;
	z-index: 10;
    transition-duration: .125s;
    -webkit-transition-duration: .125s;
    -moz-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
}
body.sidebar_full #info_panel{
	top: 10rem;
	z-index: 10;
	margin-top: 5px;
}
body.sidebar_vis #info_panel #info_panel_content{
	display: none;
	overflow: hidden;
	width: 100%;
	position: absolute;
	z-index: 10;
	bottom: 7rem;
	top: 5rem;
	background-color: #ddd;
}
body.sidebar_vis #info_panel .section{
	display: none;
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
body.sidebar_vis #sidebar .pane ul li.empty{
	display: none;
}
body.sidebar_vis.sidebar_expanded #sidebar .pane ul li.empty{
	display: block;
}
body.sidebar_vis #info_panel.overview #overview_info.section,
body.sidebar_vis #info_panel.comments #comments_info.section,
body.sidebar_vis #info_panel.metadata #metadata_info.section{
	display: block;
}
body.sidebar_expanded #info_panel{
	left: 20rem;
}
body.info_panel_open #info_panel{
	width: 22rem;
}
#info_panel .overview_link{
	float: left;
}
#info_panel .metadata_link{
	float: right;
}
body.info_panel_open #info_panel #info_panel_content{
	display: block;
}
body.sidebar_vis #info_panel .description{
	padding: 5px;
	margin: 0px;
}
body.sidebar_vis #info_panel #info_panel_header{
	border-bottom: 1px solid #fff;
	padding: 20px 10px;
	font-size: 1rem;
	text-align: center;
}
body.sidebar_vis #info_panel #info_panel_header a, body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li{
	padding-right: 5px;
	text-transform: uppercase;
	color: #888;
	cursor: pointer;
}
body.sidebar_vis #info_panel #info_panel_header a.active{
	color: #444;
}
body.sidebar_vis #info_panel_arrow{
	opacity: 0;
	width: 0px;
	height: 0px;
	border-top: 1em transparent solid;
	border-bottom: 1em transparent solid;
	position: fixed;
	top: 50%;
	left: 6.75rem;
	z-index: 10;
	margin-top: -4.5rem;
	border-left: 0em #ddd solid;
	border-right: 0em #ddd solid;
    transition-duration: .125s;
    -webkit-transition-duration: .125s;
    -moz-transition-duration: .125s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
}
body.sidebar_vis #info_panel.tall #info_panel_arrow{
	margin-top: -6.5rem;
}
body.info_panel_open #info_panel_arrow{
	opacity: 1;
	z-index: 10;
	left: 4.75rem;
	border-right: 1em #ddd solid;
}
body.sidebar_expanded.info_panel_open #info_panel_arrow{
	left: 11.5em;
}
body.sidebar_full #info_panel{
	left: 0px;
}
body.info_panel_open.sidebar_full #info_panel_arrow{
	opacity: 1;
	z-index: 10;
	left: 100%;
	border-left: 1em #ddd solid;
	border-right: 0px;
}

body.sidebar_expanded.info_panel_open #info_panel{
	margin-left: 0px;
}
body.sidebar_vis #info_panel h2{
	padding: 0px;
	margin: 0px;
	font-size: 1.25em;
	line-height: 1.75em;
}
body.sidebar_vis #info_panel .title, body.sidebar_vis #info_panel h4{
	margin: 0px;
	font-family: 'Lato', Arial, sans-serif !important;

	padding: 5px 10px;
}
body.sidebar_vis #info_panel .description{
	padding: 5px 10px;
}
body.sidebar_vis #info_panel .title{
	font-size: 2.5rem;
	line-height: 2.25rem;
	margin-top: .5em;
	padding: 5px 10px;
	font-weight: 100;
}
body.sidebar_vis #info_panel h4{
	font-size: 1.25rem;
	line-height: 1.25rem;
	text-transform: uppercase;
	padding: 5px 10px;
	margin-top: 2em;
}
body.sidebar_vis #info_panel .featured_block, body.sidebar_vis #info_panel .tagged_by_block{
	display: none;
}
body.sidebar_vis #info_panel .featured_block li, body.sidebar_vis #info_panel .tagged_by_block li{
	padding: 0px 1rem 0px 2rem;
	font-size: .75em;
}
body.sidebar_vis #info_panel .featured_block li a, body.sidebar_vis #info_panel .tagged_by_block li a{
	color: rgba(0,0,0,.75);
    transition-duration: .125s;
    -webkit-transition-duration: .125s;
    -moz-transition-duration: .125s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
}
body.sidebar_vis #info_panel .featured_block li a:hover, 
body.sidebar_vis #info_panel .featured_block li a:active, 
body.sidebar_vis #info_panel .tagged_by_block li a:hover, 
body.sidebar_vis #info_panel .tagged_by_block li a:active{
	color: rgba(0,0,0,.9);
	text-decoration: none;
}
body.sidebar_vis #info_panel ul, body.sidebar_vis #info_panel .discuss_link{
	margin: 0px;
	padding: 0px;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector{
	display: none;
	position: absolute;
	top: 5rem;
	margin-top: 4px;
	left: -1rem;
	width: 20rem;
	z-index: 9;
	border-bottom: 1px solid #000;
}
body.sidebar_vis #sidebar_inside>header.selector_open, body.sidebar_vis #sidebar_inside>header.selector_open:hover{
	background-color: rgba(0,0,0,.125);	
}
body.sidebar_vis #sidebar_inside>header.selector_open .header_icon span{
	color: rgba(0,0,0,.5);
}
body.sidebar_vis #sidebar_inside>header.selector_open #sidebar_selector{
	display: block;
	background-color: rgba(238, 238, 238, 0.75);
}
body.sidebar_vis #sidebar_inside>header.selector_open{
	border-bottom: 0px;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	width: 100%;
	display: block;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li{
	display: none;
	padding: 1rem 2rem;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.enabled{
	display: block !important;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.enabled:hover{
	background-color: rgba(0,0,0,.125);
	color: #444;
}
body.sidebar_vis #sidebar_inside>header #sidebar_selector ul li.active{
	display: none;
}
body.sidebar_vis #sidebar #sidebar_path_pane .large>header{
	position: fixed;
	top: 6rem;
	left: 100px;
	right: 100px;
	height: 5.5rem;
	padding: 5px;
	line-height: 4rem;
	text-align: center;
	background-color: transparent !important;
	border-bottom: 0px;
}

body.sidebar_vis #sidebar #sidebar_path_pane .large .view,body.sidebar_vis #sidebar #sidebar_path_pane .large>header>a{
	display: none;
}
body.sidebar_vis #sidebar #sidebar_path_pane .large.list #path_list_view,body.sidebar_vis #sidebar #sidebar_path_pane .large.list>header>a.list_link, body.sidebar_vis #sidebar #sidebar_path_pane .large.all #path_all_view,body.sidebar_vis #sidebar #sidebar_path_pane .large.all>header>a.all_link{
	display: block;
}
.comment_list>li>a>.text{
	width: 175px;
}
.comment_list>li>a>.text>strong{
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
body.sidebar_vis #info_panel ul li, body.sidebar_vis #info_panel .discuss_link{
	clear: left;
	list-style-type: none;
}
#comments_info .discuss_link .icon, #comments_info .comment_list .icon, #comments_info .discuss_link .text, #comments_info .comment_list .text{
	float: left;
	color: #444;
	vertical-align: middle;
	padding: 5px 10px;
}
#comments_info .discuss_link .icon, #comments_info .comment_list .icon{
	font-size: 25px;
	line-height: 25px;
}
#comments_info .discuss_link .icon span{
	color: #fff;
}
body.sidebar_vis #sidebar header .controls .sidebar_hide, body.sidebar_vis #sidebar footer, body.sidebar_vis #info_panel footer a{
	display: none;
}
body.info_panel_open #info_panel footer .info_visit{
	color: #fff;
	font-size: 2rem;
	line-height: 5rem;
	text-decoration: none;
	cursor: pointer;
	display: block;
}
body.sidebar_vis #info_panel footer .info_visit:hover{
	background-color: #222;
}
body.sidebar_vis #info_panel footer{
	position: absolute;
	height: 5rem;
	background-color: #333;
	color: #fff;
	left: 1rem;
	right: 1rem;
	bottom: 1rem;
	text-align: center;
	cursor: pointer;
	display: none;
}
body.info_panel_open #info_panel footer{
	display: block;
}
body.sidebar_vis #info_panel .metadata_list{
	padding: 10px;
}
body.sidebar_vis #info_panel .metadata_list dl{
	padding: 5px 10px;
}
body.sidebar_vis #info_panel .metadata_list dt, body.sidebar_vis #info_panel .metadata_list dd{
	font-size: 1rem;
	display: inline;
}
@media only screen and (min-width : 581px) {
	/*Everything but small screens*/
	body.sidebar_vis #sidebar .pane ul li.distant, body.sidebar_vis #sidebar .pane ul li .title{
		opacity: 0;
	    transition-duration: .125s;
	    -webkit-transition-duration: .125s;
	    -moz-transition-duration: .125s;
	    transition-timing-function: ease-in-out;
	    -webkit-transition-timing-function: ease-in-out;
	    -moz-transition-timing-function: ease-in-out;
	}

	body.sidebar_expanded #sidebar .pane ul li.distant, 
	body.sidebar_expanded #sidebar .pane ul li .title{
		text-indent: 0px;
		opacity: 1;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1250px) {
	body.sidebar_vis>.page{
		width: auto;
		left: 200px;
	}	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body.sidebar_vis>.page{
		width: auto;
		left: 100px;
	}
	body.sidebar_expanded>.page{
		transform: translateX(100px);
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	body.sidebar_vis>.page{
		width: auto;
		left: 50px;
	}
	body.sidebar_expanded>.page{
		transform: translateX(15.75rem);
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 580px) {
	body.sidebar_vis #sidebar.tall{
		padding-top: 1rem;
	}
	body.sidebar_vis #info_panel.tall{
		padding-top: 1rem;
	}
	body.sidebar_vis>.page{
		width: 100%;
		left: 0px;
		right: 0px;
		top: 5rem;
	}
	body.sidebar_vis #sidebar{
		right: 0px;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		position: fixed;
		padding-top: 5rem;
		height: 10rem;
	}
	body.sidebar_expanded>.page{
		left: 0px;
		right: 0px;
		transform: translateY(10rem);
	}
	body.sidebar_vis #sidebar_panes{
		opacity: 0;
		height: 0px;
		bottom: auto;
	    transition-duration: .125s;
	    -webkit-transition-duration: .125s;
	    -moz-transition-duration: .125s;
	    transition-timing-function: ease-in-out;
	    -webkit-transition-timing-function: ease-in-out;
	    -moz-transition-timing-function: ease-in-out;
	}
	body.sidebar_expanded #sidebar{
		background-color: rgb(238, 238, 238);
		height: 100%;
	}
	body.sidebar_expanded #sidebar_panes{
		margin-top: 5px;
		height: 100%;
		opacity: 1;
	}
	
	body.sidebar_vis #info_panel{
		bottom: 5rem;
		display: none;
	}
	body.info_panel_open #info_panel{
		display: block;
	}
	body.sidebar_vis #sidebar{
		padding-bottom: 5rem;
	}
	body.sidebar_vis #sidebar header{
		padding: 1rem 2rem;
		background-color: #eee;
		margin-top: 0px;
	}
	body.sidebar_vis #sidebar header .controls{
		display: none;
	}
	body.sidebar_vis #info_panel .info_hide{
		display: block;
	}
	body.sidebar_vis #sidebar footer, body.sidebar_vis #info_panel footer{
		position: fixed;
		height: 5rem;
		background-color: #333;
		color: #fff;
		width: 100%;
		left: 0px;
		bottom: 0px;
		text-align: center;
		cursor: pointer;
	}
	body.sidebar_vis #sidebar footer a, body.sidebar_vis #sidebar footer a:hover, body.sidebar_vis #info_panel footer a, body.sidebar_vis #info_panel footer a:hover{
		color: #fff;
		font-size: 2rem;
		line-height: 5rem;
		text-decoration: none;
		cursor: pointer;
		display: block;
	}
	body.sidebar_expanded #sidebar #sidebar_inside footer, body.info_panel_open #info_panel footer{
		display: block;
	}
	body.info_panel_open #info_panel footer a{
		display: block;
		width: 50%;
		text-align: center;
		cursor: pointer;
	}
	body.info_panel_open #info_panel footer a:hover, body.sidebar_expanded #sidebar footer a:hover{
		background-color: rgba(0,0,0,.25);
	}
	body.info_panel_open #info_panel footer .info_hide{
		float: left;
	}
	body.info_panel_open #info_panel footer .info_visit{
		float: right;
	}
	body.sidebar_expanded{
		overflow: hidden;
	}
	body.sidebar_vis #info_panel{
		left: 100%;
		right: 0px;
		width: 100%;
	}
	body.info_panel_open #info_panel{
		left: 0px;
		right: 0px;
	}
	body.info_panel_open #sidebar{

		transform: translateX(-10px);
		background-color: rgb(100, 100, 100);
	}
	body.sidebar_vis #info_panel #info_panel_arrow{
		display: none;
	}
	body.sidebar_vis.fullscreen_page>.page{
		left: 0px;
		top: 5rem;
	}
	body.sidebar_vis #sidebar_inside>header.selector_open #sidebar_selector{
		width: auto;
		right: -1rem;
		bottom: 0px;
		background-color: rgb(238, 238, 238);
	}
	body.sidebar_vis #sidebar .pane ul li {
		width: 100%;
	}
	body.sidebar_vis #sidebar .pane ul li .sidebar_icon{
		font-size: 2.5rem;
		line-height: 4.5rem;
	}
	body.sidebar_vis #sidebar .pane ul li .title{
		font-size: 2rem;
	}
	body.sidebar_vis #info_panel_header a{
		width: 33%;
		line-height: 5rem;
		display: inline-block;
	}
	body.sidebar_vis #info_panel #info_panel_header{
		padding: 0px;
	}
	body.sidebar_vis #info_panel_header a.active{
		background-color: rgba(0,0,0,.125);
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}