
#vis {}

div.jqcloud span.w10 {color:#8c8c8c !important;}
div.jqcloud span.w9 {color:#969696 !important;}
div.jqcloud span.w8 {color:#a1a1a1 !important;}
div.jqcloud span.w7 {color:#a8a8a8 !important;}
div.jqcloud span.w6 {color:#aaaaaa !important;}
div.jqcloud span.w5 {color:#b2b2b2 !important;}
div.jqcloud span.w4 {color:#b6b6b6 !important;}
div.jqcloud span.w3 {color:#bfbfbf !important;}
div.jqcloud span.w2 {color:#c6c6c6 !important;}
div.jqcloud span.w1 {color:#cbcbcb !important;}

div.jqcloud > span {}
div.jqcloud > span:hover {}