

/* widget pages */
#gallery .carousel-caption a { color: #026697; }
.carousel-caption a { color: white; }
.widget_carousel .carousel h3 { margin: 0; padding: 0; }
.widget_carousel .carousel-caption { padding: 0; }


.widget_slot .widgetContainer{
	-webkit-transition: background-color .5s linear;
	-moz-transition: background-color .5s linear;
	-ms-transition: background-color .5s linear;
	-o-transition: background-color .5s linear;
	transition: background-color .5s linear;
	border: none;
	border-radius: 0;
	padding: 0rem;
	background-color: #fff;
	margin-bottom: 0;
}
.widget_slot .tl-slider-container-mask{
		-webkit-transition: background-color .5s linear;
		-moz-transition: background-color .5s linear;
		-ms-transition: background-color .5s linear;
		-o-transition: background-color .5s linear;
		transition: background-color .5s linear;
		background-color: transparent;
}
.widget_slot .widgetContainer.highlighted, .widget_slot .widgetContainer.highlighted .tl-slider-container-mask{
	background-color: rgba(197,220,235,.5);
}
.vis_widget {
  	background-color: #fff;
  	padding: 0;
}
.grid_visualization .vis_widget {
	padding: 1rem 1rem 0 1rem;
}
.tree_visualization .loadingMsg, .force-directed_visualization .loadingMsg {
	padding-left: 1rem;
}
.full .vis_widget {
	padding-left: 1rem;
	padding-right: 1rem;
}
.vis_widget .scalarvis {
	margin-top: 0;
}

.googleMapWidget .alert{
  position: absolute;
  top: 50%;
  left: 1rem;
  right: 1rem;
  text-align: center;
  margin-top: -2.5rem;
}
.widget_slot.top { margin-top: .5rem !important; clear: both; }

.widget_slot.right {
	margin-top: 4.0rem;
	margin-left: 4.8rem;
	margin-right: 7.2rem;
	float: right;
	clear: right;
}
.widget_summary .media-list .media-list{
	margin-top: 1rem;
	border-color: rgba(0,0,0,.09);
}
.widget_summary .media-list .media-list li{
	border-bottom: 1px solid rgba(0,0,0,.09);
}
.widget_summary .media-list .media-list li:last-child{
	border-bottom: none;
}
.full.widget_summary .media-list .media-list, .full_widget.widget_summary .media-list .media-list{
	border: 1px solid rgba(0,0,0,.09);
	border-radius: 4px;
	background-color: rgba(255,255,255,.25);
	padding: 1.2rem 1.2rem 0 1.2rem;
  	width: 100%;
  	clear:both;
}
.full.widget_summary .media-list .media-list li{
	padding: 1rem 6.7rem;
}
.full.widget_summary .media-list .media-list li:last-child{
	border-bottom: 0;
}
.full_widget .widgetElement>div,.full_widget .widgetElement>ul, .full .widgetElement>div,.full .widgetElement>ul{
	border-left: 0;
	border-right: 0;
	border-radius: 0;
}
.full.widget_summary .media-list .media-list li{
	padding: 0 1rem 1rem 0;
}

.widget_slot.left {
	margin-top: 4.0rem;
	margin-right: 4.8rem;
	margin-left: 7.2rem;
	float: left;
	clear: left;
}


.wrapped_slot.right_slot>.widgetContainer{
	margin-left: 4.8rem;
}
.wrapped_slot.large_widget >.widgetContainer, .wrapped_slot.full_widget >.widgetContainer{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2.4rem;
}
.wrapped_slot.full_widget>.widgetContainer, .widget_slot.inline_full_widget{
	margin-left: -7.2rem;
	margin-right: -7.2rem;
}
.wrapped_slot.left_slot>.widgetContainer{
	margin-right: 4.8rem;
}

.media_link, .widget_link { background-color: #eee; }
.widget_link, .widget_link:hover{
	color: #555;
	cursor: pointer;
}

.thumbnail, .media-body h4 { margin: 0 0 3px 0; }
.media-body h4{ padding: 0}
.widget_summary .media-list{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1.2rem 1.2rem 0 1.2rem;
}
.full_widget.widget_summary .media-list, .full.widget_summary .media-list {
	border-radius: 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
    background-color: #f4f4f4;
    padding-left: 1.2rem;
}
.widget_summary .media-list li{
	padding: 0 0 2.4rem 0;
}


.full_widget.widget_summary .media-list li, .full.widget_summary .media-list li, .widget_card.full .card .thumbnail .caption{
	padding: .6rem 7.2rem 1.2rem 7.2rem;
}

.widgetContainer .mediaElementFooter p{
	margin-bottom: 2.4rem;
}
/*div[data-widget=card] .thumbnail { height: 30rem; }*/
div[data-widget=card] h4 { margin-top: 0; margin-bottom: 1.2rem; }
.description-sm { font-size: 1.4rem; line-height: 1.7rem; max-width: 70rem; }
.widget_summary .description-sm { margin-bottom: 0; }

.cardContainer{
  padding: 0 1rem;
}

.cardContainer .caption h4{
	margin: 0 0 8px 0;
	padding: 0;
}

.card .thumbnail_container{
  background-color: #444;
  border-radius: 4px 4px 0 0;
}
.card hr{
  margin:0;
  opacity: .5
}
.thumbnail .caption { padding: 13px; }

.widget_summary .widgetContainer{
	background-color: #fff;
	padding: 0;
}
.widget_summary .media:last-child{
	border-bottom: 0;
}
/*.widget_slot .goThereLink{
  float: right;
}*/
.summary .goThereLink{
	margin-top: 1rem;
}
.small_widget .goThereLink{
  display: block;
  text-align: center;
	float: none;
}
.full_widget .goThereLink:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.media {
  margin-top: 1.2rem;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
  margin-left: 0;
}

.widget_summary .media{
	border-bottom: 1px solid #ddd;
}
.full.widget_summary .media{
	border-bottom: none;
}
.media-body {
  width: 10000px;
}
.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left img, .media > .pull-left img{
    padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-left, .media>.pull-left {
	padding-right: 0;
}
.media-middle {
  vertical-align: middle;
}
.media-bottom {
  vertical-align: bottom;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}

.tl-timeline, .tl-timeline div{
	webkit-box-sizing: content-box;
	moz-box-sizing: content-box;
	box-sizing: content-box;
}
.tl-headline-date, .tl-headline{
	padding: 0px;
}
.tl-slide-media-only .tl-slide-content-container .tl-slide-content .tl-text{
	text-align: left !important;
}
.tl-slidenav-previous .tl-slidenav-content-container{
	padding-left: 1rem;
}
.tl-slidenav-next .tl-slidenav-content-container{
	margin-left: -1rem;
}
.timeline_embed.maximized-embed{
	border-top: 1rem solid #f5f5f5;
	border-bottom: .5rem solid #f5f5f5;
}

.widgetContainer{
	border: 1px solid #ccc;
}

.cardContainer{
	box-shadow: 0;
	padding: 0;
}
.cardContainer.row { margin: 0; }
.cardContainer > div { padding: 0; margin-bottom: 1.2rem; overflow: hidden; }
.full .cardContainer > div { margin-bottom: 3.6rem; }
.widgetElement .carousel-control{
	cursor: pointer;
}
.widgetElement .cardContainer .thumbnail{
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 0;
}
.full .widgetElement .cardContainer .thumbnail{
	border-radius: 0px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
	background-color: #f4f4f4;
	padding: 0;
}
.widget_card>.well{
		background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
.media-list .media-left .media-object{
	max-width: 64px;
	max-height: 128px;
}
.media-body h4{
	margin-top: -4px;
}
.widget_slot .tl-layout-portrait .tl-storyslider{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.widgetContainer .carousel{
    background-color: #444;
}
.widgetContainer .carousel .loading{
	position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin-top: -2rem;
    text-align: center;
    background-color: transparent;
    color: #fff;
}
.widget_visualization .vis_widget{
	border: 1px solid #ccc;
}
.widget_visualization .vis_footer{
	margin-bottom: .5rem;
}
.widget_visualization .widgetContainer .widgetElement .scalarvis{
	border: 0;
}
.widget_slot.grid_visualization>.well .scalarvis, .widget_slot.radial_visualization>.well .scalarvis{
    padding-right: 20px;
    box-sizing: content-box;
}
.widget_timeline .tl-timeline{
  background-color: #eee;
}
