@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,100italic,400italic,700italic);
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  background-image: url(../img/background_front.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

body>.container{
	display: block;
	background-color: rgb(255, 255, 255);
	color: rgb(51, 51, 51);
	padding-top: 7em;
	padding-bottom: 30px;
	position: relative;
	z-index: 3;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

.scalarnotice{
  top:80px !important;	
}
.scalarnotice .close_link {padding-right:5px; float:right;}
.scalarnotice .close_link a {
	padding-right:0px; padding-left:30px;
	background-image:url(images/close_icon.png); background-repeat:no-repeat; background-position:right top;
}

h1, h2, h3, h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
@media (max-width: 767px) {
	.desktop_only{
		display: none;
	}
}
@media (min-width: 768px) {
	.mobile_only{
		display: none;
	}
}
select{
	color: #000;
	background-color: #fff;
}
.bg-success{
	color: #3c763d;
}
.bg-danger{
	color: #a94442;
}
.well
{
	color:#333;
	padding-top:0px;
	padding-bottom:0px;
}
.well .heading_font {
	margin-top:0px;
	padding-top:10px;	
}
.dark.well
{
	background-color: rgba(0,0,0,.75);
	border-color: rgba(0,0,0,.85);
	color:#eee;
}
hr.dark {
border-top: 1px solid #333;
}
.modal{
	color: #333;
}
#modal h2.heading_font, #modal .dialog_header .right{
	display: none;
}
.dialog{
	color: #000;
}
#modal .control_bar{
	border-top: 0px;
	margin-top: 0px;
}
#modal .body_copy{
	margin-top: 2em;
}
#modal .results_list{
	margin-top: 0px;
}
#graph{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#graph,#pinwheel_center{
	opacity: .25;
}
#zoomControls{
	opacity: 0;
}
.full{
	margin-bottom: 1em;
	margin-top: 1em;
}

#body section > h1{
	font-size: 24px;
	font-weight: bold;
}

.container>article>header>span[typeof="scalar:Book"]{
	display: none;
}
body.has_image{
	background-color: #000;
}

#background-image{
	background-size: cover;
	position: fixed;
	z-index: -9999;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: .5;
	background-position: center center;
}
.popover{
	color: #000;
	width: 200px;
}
.link_search{
	cursor: pointer;
}
ul, ol{
	margin-left: 1em;
}
.mediaObject pre{
	border-radius: 0px;
	border: 0px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.navbar-inverse .navbar-nav>li>a{
	font-size: 2em;
	vertical-align: middle;
}
.navbar-inverse .navbar-nav>li .glyphicon{
	padding-top: .0625em;
	padding-bottom: .0625em;
}
.navbar-inverse .navbar-nav>li .icon-workbench, .navbar-inverse .navbar-nav>li .icon-clone, .navbar-inverse .navbar-nav>li .icon-join{
	font-size: 1.125em;
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-inverse .navbar-nav>li>a.active{
	color: #fff;
	background-color: #428bca;
}
#page_body{
	padding: 0px;
	padding-top: 3.5em;
}
#body{
	padding: 1em;
}
header.main{
	padding: 1em;
	padding-top: 1.5em;
	border: 0px;
	border-bottom: 1px solid #eee;
}
header.dark{
	background-color: rgba(0,0,0,.75);
	border-color: rgba(0,0,0,.85);
	color: #fff;
}
header.image{
	height: 400px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
	color: #fff;
	font-weight: bold;
}
#splash_cover{
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transition-duration: .25s;
	-webkit-transition-duration: .25s;
	opacity: 0;
	position: absolute;
	top: 50%;
	margin-top: -6em;
	left: 0em;
	right: 0em;
	z-index: 10;
	padding: 1em;
	background-color: rgba(0,0,0,.75);
}
#splash_cover.active{
	opacity: 1;
	margin-top: -4em;
}
#splash_cover>.row>div{
	overflow: auto;
	max-height: 8em;
}
#splash_cover>.relationships{
	margin-top: 2em;
	display:none;
}
.body_copy {
	max-width: auto
}
.mediaelement, .mediainfo{
	margin: 0 auto;
}
.mediainfo{
	background-color: #f5f5f5;
	padding: 10px;
	margin-top: 10px;
}
.current_annotation a{
	color: #226baa;
	text-decoration: none;
	font-weight: bold;
}
#gallery_content .thumbnail {
	display: inline;
}
#hide_map{
	position: absolute;
	text-align: center;
	width: 100px;
	padding: 10px;
	top: 0px;
	padding-top: 73px;
	left: 50%;
	margin-left: -60px;
	background-color: #428bca;
	display: none;
}
#hide_map a{
	color: #fff;
	font-weight: bold;
}
a.nav_btn.primary{
	background-color: #428bca;
}
a.nav_btn.primary:hover{
	background-color: #2a6496;
}