
.bg_screen { 
	position: fixed;
	max-width: inherit; 
	width:100%; 
	height:100%; 
	background-color: black; 
	color: white; 
	border: none; 
	/*opacity: .3;*/
	/*background-size: cover; 
	background-position: center center; */
   /*-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);*/
}

/* Body copy */
.paragraph_wrapper { max-width: none !important; /*clear: both;*/ margin-bottom: 2.4rem; }
.body_copy { max-width: 85.4rem; padding-left: 7.2rem; padding-right: 7.2rem; }
.dialog .body_copy { margin-top: 10rem; max-width: none; padding-left: 3.6rem; padding-right: 3.6rem; }
/*.help .body_copy { margin-top: 10rem; }*/

.control_bar {
	line-height: 4.8rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 2.0rem 0 0 0;
	overflow-x: auto;
}
.page .control_bar { margin-left: 7.2rem; margin-right: 7.2rem; }
.control_bar .right { float: right; padding: 1rem 0 1rem 0; }
.control_bar img { margin-left: 1.2rem; }
.toggle_btn { font-weight: 900; padding: .4rem 1.2rem .4rem 1.2rem; border-radius: 1.4rem; cursor: pointer; }
.toggle_btn.on { background-color: #b3b5b7; }

#gallery_content { margin: 1rem 7.2rem 0 7.2rem; max-width: none; }
#gallery_content .thumbnail { margin-right: 0.7rem; cursor: pointer; }
#gallery_content .thumbnail:hover { opacity:0.65; }
#gallery_content h3 { margin: 0 0 1rem 0; padding: 0; }

.one_line_description { 
	/*color: #96989a; 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
	margin-bottom: 1rem;
}

#block_head { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.content_block { margin-bottom: 1.5rem; min-height: 10rem; }

.media_placeholder { display: inline-block; margin-right: 0.7rem; text-align: center; background-color: #eee; vertical-align: top; }
.media_placeholder img { position: relative; top: 50%; margin-top: -15px; }

.minor_message { color: #96989a; font-size: 1.2rem; font-style: italic; margin-top: 1rem; }
/*
.page.structured_gallery { padding-top: 0; }
.structured_gallery h1 { margin-top: 7.8rem; margin-bottom: 2rem; }
.fixed_header { position: fixed; }*/

.media_details { 
	position: fixed; 
	top: 5em;
	left: 0px; 
	right: 0px; 
	height: 100%; 
	margin: 0px 0px 0px 0px; 
	z-index: 10; 
	display: none;
	-webkit-font-smoothing: subpixel-antialiased;
 }
 .media_details .mediaObject{
	width: auto !important;
	height: auto !important;
 }
 .media_details .mediaObject img{
	max-width: 100% !important;
	max-height: 100% !important;
 }
.media_details .blackout { background: black; position: fixed; top:0px; left:0px; right:0px; height: 100%; /*opacity: 0.7;*/ }
/*.media_details .content { position: absolute; top: 8.2rem; right: 3.6rem; left: 3.6rem; background: white; padding: 3.6rem 3.6rem 4.4rem 3.6rem; }*/
.media_details .content { position: absolute; width: 100%; height: 100%; /*top: 8.2rem; right: 3.6rem; left: 3.6rem;*/ background: #333; color: white; }
.media_details .content div{
	padding: 10px;
}
.media_details .manual_slideshow{
	margin-top: 5em;
	height: auto;
}
.media_details a { color: #b5d5ff; }

.media_details hr { border-color: #666; }

.media_details .citations { margin-top: 3rem; }
.citations p { margin-bottom: .1rem; }

.media_sidebar { width: 30%; color: #b2b3b6; margin-right: 3.6rem; padding-bottom: 5rem; text-align: left; float: left; clear: both; min-height: 50rem; }
.media_sidebar h2,.media_sidebar h3 { margin: 0 0 .2rem 0; padding: 0; line-height: 100%; color: white; }
.media_sidebar h2 { font-size: 2.1rem; }
.media_sidebar h3 { font-size: 1.8rem; font-weight: normal; margin-bottom: 1rem; }
.media_sidebar p { margin: 0 0 1rem 0; padding: 0; line-height: 1.8rem; }
.media_sidebar blockquote { /*padding: 0 1.8rem 0 1.8rem;*/ padding: 0; margin: 0 0 .5rem 0; line-height: 1.8rem; font-size: 90%; }
.media_sidebar .annotation_extents { font-size: 80%; }
.media_sidebar .attribution { text-align: right; margin-bottom: 2rem; }
.manual_slideshow .slot { clear: both; /*border-bottom: 1px solid #666; padding-top: 2rem;*/ }
.manual_slideshow .mediaelement { margin-bottom: 5rem; }

.media_sidebar table {
	border-left: 1px solid #666 !important; 
	border-right: 1px solid #666 !important;
	width: 100%;
}

.media_sidebar tr:hover {
	background-color: #555 !important;
}


/*.slot_slider { position: relative; top: 0px; width: 100%; white-space: nowrap; overflow-x: auto; overflow-y: hidden; vertical-align: top; }
.slot_slider .slot { display: inline-block; text-align: left; margin: 0; padding: 0; }*/
.manual_slideshow { 
	clear: both; 
	text-align: center; 
	position: absolute; 
	top: 0; 
	padding: 14rem 3.6rem 0 3.6rem; 
	height: 100%; 
	overflow-y: auto; 
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

/* --- SPLASH --- */

.splash { 
	position: fixed;
	max-width: inherit; 
	width:100%; 
	height:100%; 
	background-color: black; 
	color: white; 
	border: none; 
	background-size: cover; 
	background-position: center center;
	-webkit-transform: scale( 1.2, 1.2 );
	-moz-transform: scale( 1.2, 1.2 );
	-o-transform: scale( 1.2, 1.2 );
	transform: scale( 1.2, 1.2 );
	opacity: 0;

}
.splash.fade_in { 
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-transform: scale( 1.0, 1.0 ); 
	-moz-transform: scale( 1.0, 1.0 ); 
	-o-transform: scale( 1.0, 1.0 ); 
	transform: scale( 1.0, 1.0 ); 
	opacity: 1; 
}
.splash h1 { margin-bottom: 0; }
.splash h2 { margin-top: 0; font-weight: normal; }
.title_card { 
	position: absolute; 
	width: 100%; 
	bottom: 0; 
	padding: 10.8rem 7.2rem 3.6rem 7.2rem; 
	text-align: center; 
	/*display: none;*/
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
	opacity: 0;
}
.title_card.fade_in { 
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity: 1; 
}
.fade_out { 
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 0 !important; 
	pointer-events: none; /* TODO: this won't work in IE */
}
.instantaneous_fade_out { 
	opacity: 0 !important; 
	pointer-events: none; /* TODO: this won't work in IE */
}
.title_card .relationships { max-width: inherit; }

/* --- MEDIA --- */

/**
  *	These styles are only every applied to temporary elements that are removed after Javascript measures their width;
  * this is how we use CSS to specify dimensions for media.
  */
.small_dim { width: 20.6rem; display: none; }
.medium_dim { width: 41.2rem; display: none; }
.large_dim { width: 62.0rem; display: none; }
.full_dim { width: 103.8rem; display: none; }

.full { margin-top: 4rem; }
.full .mediaElementFooter { padding: 1rem 7.2rem 0 7.2rem; max-width: 85.4rem; }

/* So the top-most media element aligns with the top of its paragraph */
.slot.top { margin-top: .5rem !important; clear: both; }

.mediaelement { 
	margin-bottom: 2.4rem; 
	font-weight: normal;
	font-style: normal;
	-webkit-backface-visibility: hidden;
}

.mediaContainer,.mediaElementFooter {
	border: none;
	background-color: inherit;
}

.mediaElementFooter {
	/*margin-top: 1.2rem;*/
	height: auto;
}

.mediainfo div, .attribution {
	font-size: 1.2rem;
	line-height: 1.7rem;
	color: #666;
	text-align: left;
}

a.media_info {
	border-radius: 0.9rem;
	border: 1px solid #888;
	/*background-color: #666;*/
	color: #666;
	width: 1.8rem;
	height: 1.8rem;
	display: inline-block;
	text-align: center;
	line-height: 1.8rem;
	cursor: pointer;
	float: left;
	margin-top: .2rem;
	margin-right: 1.0rem;
	margin-bottom: .5rem;
}

.media_description {
	display: none;
}

.media_annotations {
	display: none;
	max-height: 300px;
}

.mediainfo table {
	width: 100%;
}

.media_annotations tr {
	cursor: pointer;
}

.media_annotations tr:hover {
	background-color: #eee;
}

.media_annotations tr.current {
	background-color: #c5dceb;
}

.current_annotation { background-color: #c5dceb; margin-bottom: 1.0rem; display: none; }

.mediainfo h4 { font-size: 1.2rem; margin:0; line-height: 1.6rem; padding: 0 .4rem 0 .7rem; }

.media_annotations table {
	border-left: 1px solid #ddd; 
	border-right: 1px solid #ddd;
	font-size: 1.2rem;
}
.media_annotations td:first-child,.current_annotation td:first-child {
	padding-left: .8rem;
	width: 6rem;
	font-weight: bold;
}
.media_annotations td:last-child,.current_annotation td:last-child {
	padding-right: .8rem;
}

.media_metadata {
	display: none;
	max-height: 300px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/*.media_metadata {
	position: absolute;
	max-width: 400px;
	max-height: 300px;
	border-radius: .8rem;
	background-color: #eee;
	padding: 1.0rem;
	font-size: 1.2rem;
	z-index: 99;
	line-height: 100%;
}*/

.mediainfo td {
	padding: .5rem 0;
}

.mediainfo td:first-child { font-weight: bold; padding-right: .5rem; }

.media_tab {
	padding: .2rem 1.0rem;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}

.media_tab:hover { background-color: #eee; }

.media_tabs {
	display: none;
	margin-top: 1.2rem;
	margin-bottom: -0.6rem;
}

.media_tab.select {
	background-color: #bbb;
	color: white;
	-webkit-font-smoothing: subpixel-antialiased;
}

.pane {
	margin-top: 1.2rem;
}

.pane p { margin-bottom: 0; padding: 0px 4px 0px 7px; }

/*.mediaObject { background-color: black; }*/

.slot.right {
	margin-top: 4.0rem;
	margin-left: 4.8rem;
	margin-right: 7.2rem;
	float: right;
	clear: right;
}

.slot.left {
	margin-top: 4.0rem;
	margin-right: 4.8rem;
	margin-left: 7.2rem;
	float: left;
	clear: left;
}

.slot.left .mediaElementFooter { max-width: 21.2rem; }

.media_link { background-color: #eee; }



#footer {
	clear: both;
	margin-top: 2rem;
	padding-left: 7.2rem; padding-right: 7.2rem;
}

#footer-right {
	float: right;
}

#colophon { padding-left: 7.2rem; padding-right: 7.2rem; font-size: 1.2rem; color: #666; clear: both; padding-top: 6rem; }
#colophon img { margin-right: .3rem; }
#publisher-credit { margin-bottom: 1.2rem; line-height: 110%; }
#scalar-credit img { vertical-align: middle; margin-top: -.2rem; }
#scalar-credit { margin-bottom: 0; }

#incoming_comments, #outgoing_comments { padding-left: 7.2rem; padding-right: 7.2rem; margin-top: 2.4rem; }
#comment_control {
	color: #a6a6a6;
	font-weight: 900;
	background: url(images/comments.png) no-repeat;
	line-height: 2.7rem;
	padding-left: 4rem;
	float: left;
	cursor: pointer;
}

.comment { margin-bottom: 3rem; max-width: 85.4rem; }
.comment .attribution { margin-top: 1rem; }
.comment_form { margin-top: 2rem; max-width: 85.4rem; }
.comment_form table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
	width: 100%;
}
.field {
	width: 50px;
	white-space: nowrap;
	padding-right: 6px;
	vertical-align: top;
}

.input_text { max-width: 50rem; width: 100%; }

.edit {
	background: url(images/edit.png) no-repeat;
	width: 3.1rem;
	height: 2.9rem;
	/*float: right;*/
	margin-right: 1.5rem;
	cursor: pointer;
	display: inline-block;
}

.design {
	background: url(images/design.png) no-repeat bottom;
	width: 3.1rem;
	height: 2.9rem;
	/*float: right;*/
	cursor: pointer;
	display: inline-block;
}

a.nav_btn {
	padding: 1rem;
	text-decoration: none;
	background-color: #ddd;
	color: #444;
	/*line-height: 3.9rem;*/
	display: inline-block;
	-webkit-font-smoothing: subpixel-antialiased;
}
a.nav_btn.primary { 
	background-color: #026697; 
	color: white;
}
a.nav_btn:hover {
	background-color: black;
	color: white;
	/*color: #026697;
	border: 1px solid #026697;*/
}

#graph {
	position: fixed;
}

@-webkit-keyframes zoom_in_graph_start {
  0% { -webkit-transform: scale( 1.0, 1.0 ); opacity: 1; }
  100% { -webkit-transform: scale( 1.25, 1.25 ); opacity: 0; }
}
@-moz-keyframes zoom_in_graph_start {
  0% { -moz-transform: scale( 1.0, 1.0 ); opacity: 1; }
  100% { -moz-transform: scale( 1.25, 1.25 ); opacity: 0; }
}
@-o-keyframes zoom_in_graph_start {
  0% { -o-transform: scale( 1.0, 1.0 ); opacity: 1; }
  100% { -o-transform: scale( 1.25, 1.25 ); opacity: 0; }
}
@keyframes zoom_in_graph_start {
  0% { transform: scale( 1.0, 1.0 ); opacity: 1; }
  100% { transform: scale( 1.25, 1.25 ); opacity: 0; }
}

@-webkit-keyframes zoom_in_graph_end {
  0% { -webkit-transform: scale( .75, .75 ); opacity: 0; }
  100% { -webkit-transform: scale( 1.0, 1.0 ); opacity: 1; }
}
@-moz-keyframes zoom_in_graph_end {
  0% { -moz-transform: scale( .75, .75 ); opacity: 0; }
  100% { -moz-transform: scale( 1.0, 1.0 ); opacity: 1; }
}
@-o-keyframes zoom_in_graph_end {
  0% { -o-transform: scale( .75, .75 ); opacity: 0; }
  100% { -o-transform: scale( 1.0, 1.0 ); opacity: 1; }
}
@keyframes zoom_in_graph_end {
  0% { transform: scale( .75, .75 ); opacity: 0; }
  100% { transform: scale( 1.0, 1.0 ); opacity: 1; }
}

.zoom_in_start {
	-webkit-animation-name: zoom_in_graph_start;
	-webkit-animation-duration: .25s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: zoom_in_graph_start;
	-moz-animation-duration: .25s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	-o-animation-name: zoom_in_graph_start;
	-o-animation-duration: .25s;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: ease-in-out;
	animation-name: zoom_in_graph_start;
	animation-duration: .25s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.zoom_in_end {
	-webkit-animation-name: zoom_in_graph_end;
	-webkit-animation-duration: .25s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: zoom_in_graph_end;
	-moz-animation-duration: .25s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	-o-animation-name: zoom_in_graph_end;
	-o-animation-duration: .25s;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: ease-in-out;
	animation-name: zoom_in_graph_end;
	animation-duration: .25s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

@-webkit-keyframes zoom_out_graph_start {
  0% { -webkit-transform: scale( 1.0, 1.0 ); opacity: 1; }
  100% { -webkit-transform: scale( .75, .75 ); opacity: 0; }
}
@-moz-keyframes zoom_out_graph_start {
  0% { -moz-transform: scale( 1.0, 1.0 ); opacity: 1; }
  100% { -moz-transform: scale( .75, .75 ); opacity: 0; }
}
@-o-keyframes zoom_out_graph_start {
  0% { -o-transform: scale( 1.0, 1.0 ); opacity: 1; }
  100% { -o-transform: scale( .75, .75 ); opacity: 0; }
}
@keyframes zoom_out_graph_start {
  0% { transform: scale( 1.0, 1.0 ); opacity: 1; }
  100% { transform: scale( .75, .75 ); opacity: 0; }
}

@-webkit-keyframes zoom_out_graph_end {
  0% { -webkit-transform: scale( 1.25, 1.25 ); opacity: 0; }
  100% { -webkit-transform: scale( 1.0, 1.0 ); opacity: 1; }
}
@-moz-keyframes zoom_out_graph_end {
  0% { -moz-transform: scale( 1.25, 1.25 ); opacity: 0; }
  100% { -moz-transform: scale( 1.0, 1.0 ); opacity: 1; }
}
@-o-keyframes zoom_out_graph_end {
  0% { -o-transform: scale( 1.25, 1.25 ); opacity: 0; }
  100% { -o-transform: scale( 1.0, 1.0 ); opacity: 1; }
}
@keyframes zoom_out_graph_end {
  0% { transform: scale( 1.25, 1.25 ); opacity: 0; }
  100% { transform: scale( 1.0, 1.0 ); opacity: 1; }
}

.zoom_out_start {
	-webkit-animation-name: zoom_out_graph_start;
	-webkit-animation-duration: .25s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: zoom_out_graph_start;
	-moz-animation-duration: .25s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	-o-animation-name: zoom_out_graph_start;
	-o-animation-duration: .25s;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: ease-in-out;
	animation-name: zoom_out_graph_start;
	animation-duration: .25s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.zoom_out_end {
	-webkit-animation-name: zoom_out_graph_end;
	-webkit-animation-duration: .25s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-name: zoom_out_graph_end;
	-moz-animation-duration: .25s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-in-out;
	-o-animation-name: zoom_out_graph_end;
	-o-animation-duration: .25s;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: ease-in-out;
	animation-name: zoom_out_graph_end;
	animation-duration: .25s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.graphNodeViewer {
	position: absolute;
	background: white;
	border: 1px solid #000;
	display: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,.4);
	max-height: 30rem;
	overflow-y: auto;
}
.graphNodeViewer .results_list { margin-top: 0; }
.graphNodeViewer .results_list td:first-child { color: black; }

#pinwheel_center {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	text-align: center;
}

#zoomControls {
	position: fixed;
	bottom: 10px;
	left: 50%;
	width: 140px;
	text-align: center;
	margin-left: -70px;
}

#zoomControls svg {
	cursor: pointer;
	margin: .5rem;
}

/* Index */

body>.dialog {
	position: fixed; 
	top: 8.6rem; 
	left: 3.6rem; 
	right: 3.6rem; 
	bottom: 3.6rem;
	background-color: white; 
	/*padding: 3rem 4rem 3rem 4rem; */
	padding: 0 0 2.4rem 0; 
	box-shadow: 3px 3px 8px rgba(0,0,0,.2);
	overflow-y: auto;
	display: none;
	z-index: 10;
}
body>.dialog ul, .media_details .dialog ul { margin-left: 3.6rem; margin-bottom: 2rem; }
body>.dialog p , .media_details .dialog p{ margin-bottom: 1rem; margin-top: 1rem; }
body>.dialog h2, .media_details .dialog h2, body>.dialog h3, .media_details .dialog h3, body>.dialog h4, .media_details .dialog h4, body>.dialog h5, .media_details .dialog h5 { display: inline-block; padding-left: 0; padding-right: 0; margin-top: 0; margin-bottom: 0; }
body>.dialog h3, .media_details .dialog h3 { margin-bottom: 1rem; }
body>.dialog_header {
	position: fixed; 
	left: 3.6rem; 
	right: 3.6rem; 
	top: 8.6rem;
	background-color: white; 
	padding: 2.4rem 3.6rem 0 3.6rem;
	z-index: 20; 
}
body>.dialog .right, .media_details .dialog .right { float: right; padding: 1rem; }
body>.dialog .dialog_header .right, .media_details .dialog_header .right  { float: right; }
.media_details .dialog_header { 
	background-color: #333; 
	color: #b2b3b6; 
	font-size: 1.8rem; 
	padding-top: 8.2rem; 
	left: 0; 
	right: 0; 
	top: 0;
}
.help .dialog_header { width: 90rem; margin-left: -45rem; left: 50%; right: auto; background-color: #eee; }
.help ul { list-style: none; }
.help table { margin: 2rem 0; }
.help td.icon { width: 5rem; }
.help td.half-description { width: 50%; padding: 0 3rem 1rem 1.4rem; }
.help td.description { width: 100%; padding: 0 3rem 1rem 1.4rem; }
.help td { vertical-align: top; }

.index { z-index: 50; }
.search { z-index: 51; }
.help { width: 90rem; margin-left: -45rem; left: 50%; background-color: #eee; z-index: 52; }

.pagination {
	line-height: 4.8rem;
	border-top: 1px solid #ddd;
	margin: 2.0rem 0 1.0rem 0;
}

.disabled { opacity: 0.25; }

.results_list { margin-top: 8.2rem; }
.dialog.index .results_list { margin-top: 14.2rem; }
.results_list table { width: 100%; }
.results_list td { height: 3rem; overflow: hidden; padding: .5rem; }
.results_list td:first-child { max-width: 10rem; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
.results_list td:last-child { color: #b2b3b6; max-width: 30rem; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; }
.results_list tr:hover { background: #eee; cursor: pointer; }

/* Media icons */

.texto_wrapper     {clear:both;}

.texteo_icon       {background-repeat:no-repeat;}

.texteo_icon_audio {background-image:url(images/audio.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_video {background-image:url(images/video.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_image {background-image:url(images/image.png); background-position:2px 4px; padding-left:20px;}
.texteo_icon_generic_resource {background-image:url(images/generic-media.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_note {background-image:url(images/note.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_map {background-image:url(images/map.png); background-position:2px 5px; padding-left:20px;}
.texteo_icon_document {background-image:url(images/page.png); background-position:2px 5px; padding-left:20px;}

.texteo_icon_external {background-image:url(images/external.png); background-position:2px 5px; padding-left:21px;}
.texteo_icon_internal {background-image:url(images/internal.png); background-position:2px 5px; padding-left:21px;}


/* Hidden elements */
aside { display: none; }
span[property="dcterms:description"] { display: none; }
.mediaElementHeader { display: none; }


#visualization .instructions { min-height: 4rem; }
#visualization form { float: left !important; margin-left: 0; margin-right: 2rem; margin-bottom: 1rem; }
#visualization p { margin: .5rem; line-height: 150%; }
svg, .label, .clusternode, .info_box .content, .ui-widget { font-family: 'Lato', Arial, sans-serif !important; font-size: 1.2rem; }
.ui-button-text { font-size: 1.6rem; }

.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}