/* This stylesheet should be placed on top of common.css */

body {
	background-repeat:repeat-x;  
	background-image:url(images/denim_background.jpg); 
	background-color:#e3e7ea;
}

.cover {
	margin-top:8px; color:#eeeeee; margin-bottom:0px; padding-top:0.5em; padding-left:0px;
	padding-bottom: 1.4em;
}

.cover a {
	color:white; text-decoration:underline;
}

.cover_title {
	color:white; font-size:22px; margin-bottom:4px;
}
.cover_subtitle {
	color:white;
}

.login {margin-right:2.2em;}

.middle {
  margin-right:6px;
  max-width: 864px;
}

.pathnavs {
	padding-right:10px; margin-bottom:7px;
	border-radius: 5px;		
}
.edit_options {
	margin-bottom:7px;
	border-radius: 5px;
}

.path_nav_previous_btn {background-image:url(../images/previous_btn.png);}
.path_nav_next_btn {background-image:url(../images/next_btn.png);}

.saved {
	border-radius: 5px;
}

.error {
	border-radius: 5px;
}

.notice {
	border-radius: 5px;
}

#content_wrapper {
	padding:2.5em 2.2em 10px 2.5em; background:white; margin-bottom:8px;
	border-radius: 5px;		
}

.footer {
	margin-bottom:8px;
	border-radius: 5px;	
}

#footer {
	margin-left:3.0em;
	margin-right:3.0em; 
}

.editbar {
	border-top: none;
}

