/*

	Fathom
	A style sheet for Scalar
	Designed by Alexei Taylor
	
*/

@import url(http://fonts.googleapis.com/css?family=Questrial);

body {
    background-color: black;
    background-repeat: repeat-x;
    background-image: url(images/fathom/blue_bg.png);
	font-family: 'Gill Sans', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #050708;
}

.generic_button {
	font-family: 'Questrial', sans-serif;
	font-size: 13px;
	padding-top: 3px;
	padding-bottom: 2px;
}

th { 
	font-weight: normal;
}

.cover {
	font-family: 'Questrial', sans-serif;
	background-color: black;
	padding: 20px 0px 20px 0px;
	line-height: 100%;
}

.cover a {
	color: #aaa;
}

.cover_title {
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 16px;
	line-height: 90%;
	color: #3dafd6;
	margin-left:0.6em;
}
.cover_subtitle {
	margin-left:1.9em;
	color: #3dafd6;
	margin-top:0px;
	margin-bottom:8px;	
}
.cover_authors {
	margin-left:1.9em;
	color:#888888;	
}

.authors {
	color: #7a7a7a;
}

.authors a {
	color: #bbb;
} 

.login {
	color: #7a7a7a;
	line-height: 140%;
	text-align: right;
	border-left: 0;
	margin-right:1.5em;
}

#scalarnav {
	background-color: rgba(72, 201, 238, .61) !important;
	color: white;
	font-size: 13px !important;
	width: 168px !important;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	margin-left: 15px !important;
}

#scalarnav a {
	color: #aaa;
}

#scalarnav .body a {
	color: black;
}

#scalarnav b {
	font-weight: normal;
}

#scalarnav p {
	margin-bottom: 2px !important;
}

#scalarnav .menu {
	font-family: 'Questrial', sans-serif;
	color: black;
	background-image: url(images/fathom/down_arrow.png) !important;
}

#scalarnav .mainMenuItem {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}
			
#scalarnav .header {
	font-size: 14px;
	margin-top: 6px;
	padding-bottom: 0;
}

#scalarnav .icon_link {
	font-weight: normal;
	margin-bottom: 4px;
}

#scalarnav .button {
	border-radius: 0;
}

#scalarnav input {
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	color: #bdbec0;
}

#scalarnav .home {
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 7px;
	margin-bottom: 0;
	line-height: 120%;
	padding-top: 17px;
	margin-top: 16px;
}

#scalarnav .body {
	font-family: 'Gill Sans', 'Arial', sans-serif;
	margin-top: 0 !important;
	background: none !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	color: black;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

#scalarnav .body .pulldown {
	border-top: dashed 1px #72cde7;
	border-bottom: dashed 1px #72cde7;
}

#scalarnav .body .pulldown p {
	margin-top: 0;
}

#scalarnav .subhead {
	border-bottom: 1px solid #72cde7 !important;
	color: white;
}

#scalarnav .describedSubhead {
	border-bottom: 1px solid #72cde7 !important;
	color: white;
}

#scalarnav .indexSubhead {
	color: white;
	border-bottom: solid 1px #72cde7;
	margin-bottom: 0 !important;
}

#scalarnav .indexButton {
	background: none;
	border-bottom: solid 1px #72cde7;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding-left: 0;
	padding-right: 0;
}

#scalarnav .indexButton:last-child {
	border-bottom: 0;
}

#scalarnav .listButton {
	border-bottom: dashed 1px #72cde7;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	background: none;
}

#scalarnav .button {
	border-top: 0;
	border-bottom: dashed 1px #72cde7;
	border-left: 0;
	border-right: 0;
	background: none;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#scalarnav .button:last-child {
	border-bottom: 0;
}

#scalarnav .item {
	font-family: 'Gill Sans', 'Arial', sans-serif;
	line-height: 123%;
	margin-bottom: 4px;
}

#scalarnav .boxItem {
	font-family: 'Gill Sans', 'Arial', sans-serif;
	line-height: 123%;
	margin-bottom: 4px;
}

#scalarnav .utility {
	margin-top: 6px !important;
}

.icon_link.home {
	background-image: url(images/fathom/home_icon.png) !important;
}

.icon_link.page {
	background-image: url(images/fathom/page_icon.png) !important;
}

.icon_link.path {
	background-image: url(images/fathom/path_icon.png) !important;
}

.icon_link.media {
	background-image: url(images/fathom/media_icon.png) !important;
}

.icon_link.map {
	background-image: url(images/fathom/map_icon.png) !important;
}

.icon_link.other {
	background-image: url(images/fathom/media_icon.png) !important;
}

.icon_link.tag {
	background-image: url(images/fathom/tag_icon.png) !important;
}

.icon_link.annotation {
	background-image: url(images/fathom/page_icon.png) !important;
}

.icon_link.commentary {
	background-image: url(images/fathom/response_icon.png) !important;
}

.icon_link.review {
	background-image: url(images/fathom/response_icon.png) !important;
}

.icon_link.reply {
	background-image: url(images/fathom/response_icon.png) !important;
}

.icon_link.video {
	background-image: url(images/fathom/video_icon.png) !important;
}

.icon_link.image {
	background-image: url(images/fathom/image_icon.png) !important;
}
.icon_link.audio {
	background-image: url(images/fathom/audio_icon.png) !important;
}

a.utility_button {
	border: none !important;
	background: none !important;
	font-size: 14px !important;
	border-radius: 0 !important;
	padding: 3px 4px !important;
}

a.utility_button:first-child {
	border-right: 1px solid #72cde7 !important;
}

a.utility_button:last-child {
	border-left: 1px solid #72cde7 !important;
}

.loader_anim {
	margin-top: 10px;
	background-image: url(images/fathom/ajax-loader.gif) !important;
}

.pulldown {
	font-family: 'Gill Sans', 'Arial', sans-serif;
	font-size: 14px;
}

#scalarnav .pulldown-content a {
	color: black;
}

#scalarnav .pulldown-content #history_tabs {
	font-family: 'Questrial', sans-serif;
}

.pulldown-content {
	color: black;
	border: none;
	background-color: #eee;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.pulldown-content li {
	color: black !important;
}

.pulldown.viewMenu ul {
	width: 180px !important;
}

.pulldown-content LI:hover {
	background:#ddd;
}

.pulldown-content-no-mouseover LI:hover {
	background:#eee !important;
}

#history_tabs {
	font-size: 13px !important;
	font-weight: normal;
}

#history_tabs li.sel {
	color: white !important;
}

.downArrow {
	padding-bottom: 5px !important;
}

.pulldown-content li.disabled {
	background-color: #eee !important;
	color: #999 !important;
}

.nav_bar_options {
	font-size: 12px !important;
	font-weight: normal !important;
}

.annotationTitle strong {
	font-family: 'Questrial', sans-serif;
	color: #444;
}

.annotationExtents {
	font-size: 12px !important;
}

.mediaElementSidebarDesc .desc_title {
	font-weight: normal;
}

.discussion {
	font-family: 'Gill Sans', 'Arial', sans-serif !important;
	font-size: 15px;
}

#content {
	font-family: 'Gill Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 150%;
}

.versionbrowser_num {
	font-family: 'Questrial', sans-serif;
	color: black;
}

.versionbrowser_title {
	font-family: 'Questrial', sans-serif;
	color: black;
}

.versionbrowser_content {
	font-family: 'Gill Sans', 'Arial', sans-serif !important;
	font-size: 15px;
	line-height: 150%;
}

#content_wrapper {
	padding:26px 30px 30px 30px;
	margin-bottom: 0;
}

.middle {
	margin-left: 183px;
	max-width:780px;
}

.saved {
	border-radius: 0;
	border: none;
}
.saved > p {
	margin-left:10px;
	margin-right:10px;
}

.error {
	border-radius: 0;
	border: none;
}
.error > p {
	margin-left:20px;
	margin-right:20px;
}

.notice > p {
	margin-left:20px;
	margin-right:20px;
}

.pathnavs {
	background: url(images/fathom/path_bar_bg.png) repeat;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding-right: 10px;
	padding-top:6px;
	padding-bottom:10px;
	color:#eeeeee;
}
.pathnavs a {color:#ffffff;}

.path_nav_previous_btn {
	background-position:0px 2px;
}

.pathnavs .path_nav_next_btn {
	background-position:right 2px;
}

.pathnavs .path_nav_previous_btn {
	background-image:url(images/fathom/previous_btn_faded.png);
}

.pathnavs span.path_nav_previous_btn {
	background-image:url(images/fathom/previous_btn_light.png);
	color: #a1d4e5;
}

.pathnavs .path_nav_next_btn {
	background-image:url(images/fathom/next_btn_faded.png);
}

.pathnavs span.path_nav_next_btn {
	background-image:url(images/fathom/next_btn_light.png);
	color: #a1d4e5;
}

.path_bottom {
	border: none;
}

.color_path_title a {
	color: #026697;
}

#middle_column {
	padding: 0px 0px 0px 0px;
	background-color: #fff;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.nav_bar_options {
	font-family: 'Questrial', sans-serif;
}

.comment_title {
	font-family: 'Questrial', sans-serif;
	font-weight: normal;
}

.content {
	line-height: 150%;
}

.content_title {
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}

.content_title img {
	margin-top: 2px;
	margin-right: 7px;
}

.mediaelement {
	font-family: 'Questrial', sans-serif !important;
	font-size: 15px;
}

.mediaelement #maximizeLink, .mediaelement #viewPageLink {
	font-size: 12px;
	padding-top: 2px;
}

.mediaElementAnnotationSidebar {
	font-family: 'Gill Sans', Arial, sans-serif;
	font-size: 15px !important;
}

.annotationDisplay {
	font-size: 14px !important;
	height: 30px;
}

.mediaElementHeader {
	font-family: 'Questrial', sans-serif;
}

.mediaElementFooter {
	font-family: 'Questrial', sans-serif;
	font-size: 14px !important;
	height: 30px;
	line-height: 30px;
}

.mediaElementHeader .mediaElementAlignLeft {
	color: #444;
}

.mediaElementAlignRight {
	font-size: 14px !important;
}

.mediaElementSidebarMeta > table td {
	font-size: 14px;
}

.mediaElementSidebarMeta b {
	font-weight: normal;
}

.live_annotation {
	font-family: 'Gill Sans', 'Arial', sans-serif !important;
	font-size: 13px;
	margin-left:0px;
}

.live_annotation .timestamp {
	font-size: 14px;
}

.live_annotation .options {
	font-size: 14px;
}

.live_annotation .annotation_text {
	font-family: 'Gill Sans', 'Arial', sans-serif !important;
}

.live_annotation .title {
	font-family: 'Questrial', sans-serif;
	font-weight: normal;
}

.preview_title {
	font-weight: normal !important;
}

.path_table {
	margin-bottom: 0;
}

.path_table a {
}

.footer {
	font-family: 'Questrial', sans-serif !important;
	font-size: 14px !important;
	padding: 15px 0px 0 0px;
	background-color: #7f8788;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-bottom: 8px;
	color: #fff;
	line-height: 120%;
}

.footer a {
	color: #ddd;
}

#footer {
	padding: 3px 30px 17px 30px;
}

.scalar_logo_wrapper {
	background-image:url(images/fathom/scalar_logo_small_white.png); 
	background-repeat:no-repeat;
	background-position: 0px 4px; 
	line-height:110%;
}

.addthis_toolbox {
	width: 137px;
}

.slot_nav {
	background-color: #fff;
	font-size: 15px;
}

.slot_count {
	font-size: 15px !important;
}

.slot_controls {
	background-color: #fff;
}

.filename {
	font-size: 14px !important;
}

.ui-widget {
	font-family: 'Questrial', sans-serif !important;
	font-size: 14px;
}

.annotationList tr {
	font-size: 14px;
}

#listeditor_editbox .content {
	font-size: 14px !important;
}

.editbar {
	border: none;
}

.edit_options {
	background-color: #7F8788;
}

.metadata td {background:#dddddd;}