/*

	Gloss
	A style sheet for Scalar
	Designed by Alexei Taylor
	
*/

@import url(//fonts.googleapis.com/css?family=Abel);
@import url(//fonts.googleapis.com/css?family=Hammersmith+One);

body {
	background-image: url(images/gloss_background.jpg);
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #050708;
}

.generic_button {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 13px;
	padding-top: 3px;
	padding-bottom: 2px;
}

th { 
	font-weight: normal;
}

.cover {
	background-color: rgba(1, 1, 1, .75);
	padding: 20px 0 23px 0;
	line-height: 100%;
	border-top: 2px solid #050708;
	border-left: 2px solid #050708;
	border-right: 2px solid #050708;
	margin-top: 15px;
}

.cover a {
	color: #fff;
}

.cover_title {
	font-weight: normal;
	font-size: 36px;
	margin-bottom: 0;
	color: #fff;
	margin-left:0.8em;
}
.cover_subtitle {
	margin-left:2.0em;
	color: #fff;
	margin-top:0px;
	margin-bottom:8px;
}
.cover_authors {margin-left:2.0em; color:#cccccc;}

.authors {
	color: #bbb;
	font-size: 15px;
}

.authors a {
	color: #fff;
} 

.login {
	color: #bbb;
	line-height: 140%;
	padding-right:1.0em;
}

.left { margin-top: 15px; }

#scalarnav {
	background-color: rgba(1, 1, 1, .75) !important;
	color: white;
	font-size: 13px !important;
	width: 168px !important;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	margin-left: 15px !important;
}

#scalarnav a {
	color: #aaa;
}

#scalarnav .body a {
	color: #58585a;
}

#scalarnav b {
	font-weight: normal;
	color: black;
}

#scalarnav p {
	margin-bottom: 2px !important;
}

#scalarnav .menu {
	font-family: 'Hammersmith One', sans-serif;
}

#scalarnav .header {
	font-size: 15px;
}

#scalarnav .icon_link {
	font-weight: normal;
	margin-bottom: 4px;
}

#scalarnav .button {
	border-radius: 0;
}

#scalarnav input {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	color: #bdbec0;
}

#scalarnav .home {
	font-size: 15px;
	font-weight: normal;
	padding-bottom: 7px;
	margin-bottom: 0;
	line-height: 120%;
	padding-top: 17px;
}

#scalarnav .body {
	font-family: 'Hammersmith One', sans-serif !important;
	color: black;
	margin-top: 0 !important;
	background-color: #f3f3f4;
	padding: 0 !important;
	/*border-bottom: 2px solid #050708;
	border-left: 2px solid #050708;
	border-right: 2px solid #050708;*/
    border-width:10px 20px 10px 20px !important;
    -moz-border-image:url("images/gloss_nav_background.png") 10 20 10 20 repeat repeat !important;
    -webkit-border-image:url("images/gloss_nav_background.png") 10 20 10 20 repeat repeat !important;
    border-image:url("images/gloss_nav_background.png") 10 20 10 20 repeat repeat !important;
}

#scalarnav .listButton {
    border-width:3px 3px 3px 3px !important;
    -moz-border-image:url("images/nav_background_2.png") 3 3 3 3 repeat repeat !important;
    -webkit-border-image:url("images/nav_background_2.png") 3 3 3 3 repeat repeat !important;
    border-image:url("images/nav_background_2.png") 3 3 3 3 repeat repeat !important;
}

#scalarnav .button {
    border-width:3px 3px 3px 3px !important;
    -moz-border-image:url("images/gloss/nav_bg_2.png") 3 3 3 3 repeat repeat !important;
    -webkit-border-image:url("images/gloss/nav_bg_2.png") 3 3 3 3 repeat repeat !important;
    border-image:url("images/gloss/nav_bg_2.png") 3 3 3 3 repeat repeat !important;
}

#scalarnav .item {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	line-height: 123%;
	margin-bottom: 4px;
}

#scalarnav .boxItem {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	line-height: 123%;
	margin-bottom: 4px;
}

a.utility_button {
	border: none !important;
	background: none !important;
	font-size: 14px !important;
	border-radius: 0 !important;
	padding: 3px 3px !important;
}

a.utility_button:first-child {
	border-right: 1px solid #a8a59e !important;
}

a.utility_button:last-child {
	border-left: 1px solid #a8a59e !important;
}

.pulldown {
	font-family: 'Abel', sans-serif;
	font-size: 14px;
}

#scalarnav .pulldown-content a {
	color: black;
}

#scalarnav .pulldown-content #history_tabs {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 13px;
	font-weight: normal;
}

.downArrow {
	padding-bottom: 6px !important;
}

.pulldown-content li.disabled {
	color: #999 !important;
}

.pulldown-content {
	color: black;
}

.pulldown-content li {
	color: black !important;
}

.pulldown.viewMenu ul {
	width: 180px !important;
}

#history_tabs {
	font-size: 12px;
	font-weight: normal;
}

#history_tabs li.sel {
	color: white !important;
}

.nav_bar_options {
	font-size: 12px !important;
	font-weight: normal !important;
}

.annotationTitle strong {
	font-family: 'Hammersmith One', sans-serif;
	font-weight: normal;
	color: #444;
}

.annotationExtents {
	font-size: 12px !important;
}

.mediaElementSidebarDesc .desc_title {
	font-weight: normal;
}

.discussion {
	font-family: 'Abel', sans-serif !important;
	font-size: 15px;
}

#content {
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	line-height: 150%;
}

.versionbrowser_num {
	font-family: 'Hammersmith One', sans-serif;
	color: black;
}

.versionbrowser_title {
	font-family: 'Hammersmith One', sans-serif;
	color: black;
}

.versionbrowser_content {
	font-family: 'Abel', sans-serif !important;
	font-size: 15px;
	line-height: 150%;
}

#content_wrapper {
	background-color: #f3f3f4;
	padding: 22px 30px 10px 30px;
}

.middle {
	margin-left: 183px;
	max-width:780px;
}

.saved {
	border-radius: 0;
}
.saved > p {
	margin-left:10px;
	margin-right:10px;
}

.error {
	border-radius: 0;
}
.error > p {
	margin-left:20px;
	margin-right:20px;
}

.notice {
	border-radius: 0;
	margin-bottom: 0;
	border-bottom:solid 1px #555555;
}
.notice > p {
	margin-left:20px;
	margin-right:20px;
}

.path_nav_color_expand_height {
	height: 41px;
}

.path_nav_with_image {
	margin-left: 44px;
}

.path_image {
	width: 54px; 
	height: 41px;
}

.pathnavs {

	background-image: url(images/gloss_path_bar_background.png);
	background-repeat: repeat;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0;
	padding-right: 10px;
	color:#cccccc;
}

.path_bottom {
	border: none;
	color:#aaaaaa;
}
.path_table {
	border: none;
	color:#666666;	
}

.pathnavs a {color:#ffffff;}

.path_nav_previous_btn {
	background-position:0px 3px;
}

.path_nav_next_btn {
	background-position:right 3px;
}

.pathnav .path_nav_previous_btn {
	background-image:url(../images/icons/previous_btn_faded.png);
	background-position:0px 3px;
}

.pathnav span.path_nav_previous_btn {
	background-image:url(../images/icons/previous_btn_light.png);
}

.pathnav .path_nav_next_btn {
	background-image:url(../images/icons/next_btn_faded.png);
	background-position:right 3px;
}

.pathnav span.path_nav_next_btn {
	background-image:url(../images/icons/next_btn_light.png);
}

.color_path_title a {
	color: #026697;
}

#middle_column {
	border-bottom: 2px solid #050708;
	border-left: 2px solid #050708;
	border-right: 2px solid #050708;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.nav_bar_options {
	font-family: 'Hammersmith One', sans-serif;
}

.comment_title {
	font-family: 'Hammersmith One', sans-serif;
	font-weight: normal;
}

.content {
	line-height: 150%;
}

.content_title {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 20px;
}

.content_title img {
	margin-top: 2px;
	margin-right: 7px;
}

.mediaelement {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
}

.mediaelement #maximizeLink, .mediaelement #viewPageLink {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 12px;
	padding-top: 4px;
}

.mediaElementAnnotationSidebar {
	font-family: 'Abel', sans-serif !important;
	font-size: 15px !important;
}

.annotationDisplay {
	font-family: 'Abel', sans-serif !important;
	font-size: 14px !important;
	height: 30px !important;
}

.mediaElementHeader {
	font-family: 'Hammersmith One', sans-serif;
}

.mediaElementFooter {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 14px !important;
	height: 30px !important;
	line-height: 30px !important;
}

.mediaElementHeader .mediaElementAlignLeft {
	font-family: 'Hammersmith One', sans-serif;
	color: #444;
}

.mediaElementAlignRight {
	font-size: 13px !important;
}

.mediaElementSidebarMeta > table td {
	font-size: 14px;
}

.mediaElementSidebarMeta b {
	font-weight: normal;
}

.live_annotation {
	font-family: 'Abel', sans-serif !important;
	font-size: 14px;
	margin-left:0px;
}

.live_annotation .timestamp {
	font-size: 14px;
}

.live_annotation .options {
	font-size: 14px;
}

.live_annotation .annotation_text {
	font-family: 'Abel', sans-serif !important;
}

.live_annotation .title {
	font-family: 'Hammersmith One', sans-serif;
	font-weight: normal;
}

.preview_title {
	font-weight: normal !important;
}

.path_table {
}

.path_table a {
}

.footer {
	font-size: 14px !important;
	background-color: #f3f3f4;
	border-bottom: 2px solid #050708;
	border-left: 2px solid #050708;
	border-right: 2px solid #050708;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-bottom: 8px;
	color: #333333;
	padding-top:10px;
}
.scalar_logo_wrapper {
	margin-left:2.2em;
	line-height:114%;
	background-position:0px 6px; 
}

.footer a {
	color: #444;
}of

#footer {
	padding: 3px 0 17px 0;
}

.editbar {
	border: 2px solid #050708;
	margin-bottom: 8px;
}

.edit_options {
	background-image: url(images/gloss_path_bar_background.png);
	background-repeat: repeat;
	background-color: rgba(0, 0, 0, 0.1);
}

.addthis_toolbox {
	width: 137px;
}

.slot_nav {
	background-color: #f3f3f4;
	font-size: 15px;
}

.slot_count {
	font-size: 15px !important;
}

.slot_controls {
	background-color: #f3f3f4 !important;
}

.filename {
	font-size: 14px !important;
}

.ui-widget {
	font-family: 'Hammersmith One', sans-serif !important;
	font-size: 14px;
}

.annotationList tr {
	font-size: 14px;
}

#listeditor_editbox .content {
	font-size: 14px !important;
}

.metadata td {background:#dddddd;}