
object, embed {margin:0; padding:0;}

#content_wrapper > .content_title {
	margin-left:365px;
	margin-top:2px;
}

.category_description, #reply_list .open_replies_link {
	margin-left:365px;
}

#reply_list {
	padding-left: 0;
}

#content {
	margin-left:365px;
	min-height:300px;
	padding-left: 0;
	padding-right: 1em;
	padding-top: 0 !important;
}

#path_list { padding-left: 0; }

#path_list, #tag_list, #annotation_of_list, #tag_of_list  {
	/* margin-left:364px; */
}

.vert_slots {
	margin-right:40px; background:white; float:left; width:325px;
	position:relative; top:0px; left:0px; z-index:4;	
}

.slot_container {
	position:absolute; overflow:hidden;  top:0px; left:0px; 
}

.slot_fixer {
	width:325px; 
}

.slot_slider {
	 position:absolute; top:0px; left:0px; width:100%; 
}

.slot_controls {
	position:absolute; z-index:9; rightt:0px; top:0px; width:325px;
	padding-bottom:4px; text-align:center; 
}

.slot_controls .control_bar {
	/*background:#e5e5e5;*/
	padding-top:6px; padding-bottom:3px;
	border-top: 1px solid #CBCBCB;
	/*-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;*/
}

.slot_controls .control_bar_items {
	height:18px;
	margin:0px auto 0px auto;
}

.slot_controls .spacer {
	font-size:1px; width:8px; overflow:hidden; height:18px;
}

.slot_controls .up {
	background-image:url(images/up_btn.png); background-repeat:no-repeat; background-position: 50% 50%; width:13px;
	float:left; font-size:1px; overflow:hidden;
	cursor:pointer;
}

.slot_controls .down {
	background-image:url(images/down_btn.png); background-repeat:no-repeat; background-position: 50% 50%; width:13px; 
	float:left; font-size:1px; overflow:hidden;
	cursor:pointer;
}

.slot_controls .slot_count {
	color:#555555;
	font-size: 12px;
}

.slot {
	margin-bottom:20px; position:relative; z-index:5;
	/* border-top:solid 2px white;
	border-bottom:solid 2px white; */
}

.slot_highlight {
	border-top:solid 2px blue;
	border-bottom:solid 2px blue;
}

/* Live Annotations */

.live_annotation {
	margin-left: 386px;
}
.live_annotation .annotation_content {
	margin-top:3px;
}
.live_annotation .arrow {
 	background-image:url(../liveannotations/live_anno_left_arrow.png); background-position:center left; background-repeat:no-repeat;
 	position:absolute; top:20px; left:-15px; right:0px; height:68px; 
}