@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,100italic,400italic,700italic);

body {
  background-image: url(../img/background_front.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 30px;
}
.top_tag{
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,.75);
}
.main_container {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
}

h1, h2, h3, h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.dashboard_title{
  margin-bottom: 1em;
  margin-top: 0px;
}
.dashboard_title small{
	white-space:nowrap;
}
#icon{
  margin-bottom: 1em;
}
.search_container{
  margin-top: 1em;
}
.search_container label{
  font-weight: 100;
}
#container_home h2{
  margin-top: 0px;
  
  transition-timing-function:linear;
  -webkit-transition-timing-function:linear;
  transition-duration: .125s;
  -webkit-transition-duration: .125s;
}
#container_home .info{
  width: 60%;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
}
#container_home .action {
  padding-bottom: 15px;
}
#container_home .action a{
  text-decoration: none;
  color: #fff;
}
#container_home .action a:hover h2{
  background-color: rgba(0,0,0,.75);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.system_wrapper{
  padding: 0px;
  margin: 0px;
}

i.icon{
	font-size: auto;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin: 5px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}
i.icon.small{
	width: 20px;
	height: 20px;
	margin: 3px;
}
i.icon.large{
	width: 42px;
	height: 42px;
	margin: 10px;
}

i.index.icon, .menu .index{
	background-image: url(../img/index_white.svg);
}
i.clone.icon, .menu .clone{
	background-image: url(../img/clone_white.svg);
}
i.create.icon, .menu .create{
	background-image: url(../img/create_white.svg);
}
i.join.icon, .menu .join{
	background-image: url(../img/join_white.svg);
}
hr.dark{
	border-top: 1px solid #333;
}
.inset{
	background-image: url(../img/background_inset.jpg);
	background-size: cover;
	padding: 10px;
	padding-bottom: 20px;
	-webkit-box-shadow: inset 0px -10px 0px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    inset 0px -10px 0px 0px rgba(0, 0, 0, 0.5);
box-shadow:         inset 0px -10px 0px 0px rgba(0, 0, 0, 0.5);
text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.inset a{
	color: #fff;
}
.inset h4 small{
	text-shadow:  none;
	color: #000;
}
.inset h3, .inset h4{
	font-weight: 500;
	margin: 0px 0px 10px 0px;
}
.modal{
	color: #333;
}
@media (max-width: 767px) {
	.desktop_only{
		display: none;
	}
}
@media (min-width: 768px) {
	.mobile_only{
		display: none;
	}
}
#icon.header_icon{
	height: 80px;
	vertical-align: middle;
	margin: 10px;
	margin-top: 0px;
	float: left;
}
select{
	color: #000;
	background-color: #fff;
}
.bg-success{
	color: #3c763d;
}
.bg-danger{
	color: #a94442;
}